[2015-01-30 09:32] qfox commented on #732
@veged We already thinking about it ;-) The main problem in library configs synchronization. It will be very hard to support.

If we solve these problems it definitely would be in separate package with bem-components dependency. But for now I can't even imagine how to do it right.

Maybe @andrewblond and @tadatuta will help with that.

[2015-01-30 09:41] qfox commented on #790
@andrewblond Думаю, сначала нужно иметь какую-то альтернативу для пользователей `bem-tools`, на которую им можно будет мигрировать. Не потому, что enb «не очень», а потому, что есть пользователи bem-tools, которые не хотят enb. Это я тебе и сказал про модульную сборку ;-)

[2015-01-30 09:43] qfox commented on #828
@veged Pro tip: use free stable open source library for parsing jsdoc-types ;-)

Np. Sure you need time.

[2015-01-30 09:51] blond commented on #790
@zxqfox меня печалит не наличие пользователей который сидят на `bem-tools`, потому что сидели на `bem-tools` и их всё устраивало. А те, кто приходят и пытаются пользоватся `bem-tools` просто из-за названия, думая что это единственно верная тулза.

[2015-01-30 09:53] qfox commented on #790
@andrewblond Есть хороший вариант — запилить модульный bem-tools с блекджеком.

[2015-01-30 09:56] blond commented on #790
@zxqfox, ну и плюс то, что `bemhtml` и `bemtree` собираются время от времени по разному в ENB и `bem-tools` для одних и тех же версий `bem-core` из-за рассинхрона. Да и с другими технологиями тоже такое бывает.

Ни ктож не против, но на это нужно время. А рассинхрон в технологиях и пользователи, которые задают вопросы про `bem-tools` есть сейчас.

[2015-01-30 09:58] qfox commented on #790
@andrewblond А совсем никак нельзя собирать какой-то полный бандл со всеми блоками в `bemthml`/`bemtree` двумя инструментами и сравнивать, чтобы рассинхрона не было?

**upd** Появится реализация на `gulp`/`shmulp` — еще больше рассинхрона будет. Имхо, лучше придумать, как автоматически синхронизировать, чем отказываться совсем. Потому что задача все равно встанет рано или поздно.

[2015-01-30 10:39] veged commented on #828
@zxqfox yep... **write** and use ;-)

[2015-01-30 10:41] qfox commented on #828
@veged Why you don't like [jsdoctypeparser](https://github.com/Kuniwak/jsdoctypeparser)? Almost [Battle hardened](https://www.npmjs.com/package/jsdoctypeparser) ;-)

[2015-01-30 15:21] dfilatov opened #845 "i-bem__dom: findBlocksOutside adds self to found results"

[2015-01-30 15:43] narqo opened #846 "i-bem-dom: Think about more predictable naming for find* methods"
Currently we have:
- `Block#findBlocksOutside()` which returns all ancestor blocks
- `Block#findBlocksInside()` which returns all descendant blocks and self
- `Block#findBlocksOn()` which returns all sibling blocks

The is an opinion that the behaviour of `findBlocksOutside` confuses users.

We can think about new naming notation for `find`-methods.

[2015-01-30 15:45] narqo commented on #846
After a small discussion \w @veged and @dfilatov possible names might be: `findParentsBlocks`, `findChildBlocks`, `findMixedBlocks`

[2015-01-30 15:51] tadatuta commented on #846
if there's `s` in findParent**s**Blocks, it should be `findChildrenBlocks` or otherwise `findParentBlocks`.

and don't you want to strip `Blocks` part at all?

[2015-01-30 15:53] dfilatov commented on #846
We can't strip `Blocks` part because we have `findElem*` methods as well.

[2015-01-30 16:02] narqo commented on #845
There is a possible pitfall here:

[code]

[code]

[2015-01-30 17:29] qfox commented on #846
@narqo @veged @dfilatov Guys, please don't. Think — ok. Just stop renaming methods each major release.

These changes are not really necessary to make library more user-friendly.

Anyone who want these naming can easily create 100b file with assigning Block.protytype.findBlockInside to .findChildren or .findAncestors, or find42, whatever he like. And there's no problem with that. Can you think onc

[2015-01-30 18:13] qfox opened #847 ".enb/make.js: port updates to v3"
[code]

[2015-01-30 19:55] Guria commented on #836
Provide a way to put some additional debug code in `js` tech in none production environment.
For cleaner output in production output such code should absent.
Thought, it is not just about `i-bem`, this issue seems good place to hold this suggestion.

[2015-01-30 19:58] qfox commented on #836
@Guria something like?

[code]

[2015-01-30 20:21] Guria opened #848 "i-bem docs: add requirement of js block declaration into initialization description"
see https://github.com/bem/bem-forum-content-ru/issues/188 for details

[2015-01-30 21:17] #848 closed, assigned to nobody

[2015-01-30 21:40] vaseker opened #850 "i-bem__dom: БЭМ-источник события в случае бинда к элементу"
Привет!
Есть ли возможность, делая в блоке подписку на событие в контексте элемента

[code]

получать источник вызова события не в виде стандартного `event.target`, а в виде `block` || `elem`?

Сейчас в `handler` приходится ловить "чистый" `event.currentTarget` и оборачивать его в `jQuery`, вместо того, чтобы сразу получить правильный `domElem`.

UPD: как-то костыльно это выглядит в моем варианте.

[2015-01-30 21:54] qfox commented on #850
Так нужен block/elem или domElem?

btw: https://github.com/bem/bem-core/issues/394#issuecomment-70550171 ;-)

[2015-01-30 21:55] vaseker commented on #850
@zxqfox block/elem )

[2015-01-30 21:56] qfox commented on #850
Да, было бы круто это иметь и в v2 в каком-то виде.

/cc @dfilatov @veged

[2015-01-31 08:26] dfilatov opened #851 "npm install doesn't work on clean checkout"
I get an error while I'm trying to run `npm i` on clean checkout:
`npm ERR! peerinvalid Peer mocha-phantomjs@3.5.0 wants phantomjs@~1.9.1`

npm version: 2.1.2

cc @tadatuta

[2015-01-31 08:56] qfox commented on #851
npm version: 1.4.28 works fine.
Need to fix `~`

[2015-01-31 09:20] qfox commented on #851
Something tells me that it will be fixed with #847

[2015-01-31 09:41] qfox commented on #851
https://github.com/enb-bem/enb-bem-specs/blob/v0.2.3/package.json#L35 — that's a trouble in old version of enb-bem-specs that causes this with npm 2.x.

cc @andrewblond Your turn!

[2015-01-31 09:46] blond commented on #851
This problem was fixed in newer versions of `enb-bem-specs`.

[2015-01-31 10:51] tadatuta opened #852 "i-bem__dom: append, prepend, etc won't work with string content"
All i-bem__dom helpers for adding some content to DOM have such signature:

[code]

but it turned out that it's impossible to provide string as content because there's `$(content)` under the hood. E.g.:

[code]

// cc @dfilatov

[2015-01-31 12:05] tadatuta opened #853 "Necessity to wait for next tick when using bem-core as library"
Now when one use `bem-core` as a library like this:

[code]

there's the necessity to wait for next tick until it's possible to use `BEMDOM.{append, prepend, etc}` methods because `BEMDOM.scope` is not defined until then.

Is there any chance to improve such UX somehow?

@dfilatov

[2015-01-31 14:34] tadatuta commented on #850
@vaseker `this` в `handler` ссылается на `block`, что, вроде, решает задачу?

[2015-01-31 14:56] narqo commented on #846
While we were working on #581 we decided that these changes are necessary.

[2015-01-31 14:58] #846 closed, assigned to nobody

[2015-01-31 14:58] #581 closed, assigned to nobody

[2015-01-31 17:16] qfox commented on #851
@andrewblond In common, I suggest to drop this line since you're using package with peer-dependency that already contain right version of `phantomjs`. You have no real profit explicitly declaring version twice.

[2015-01-31 17:19] qfox commented on #853
`modules.require(['i-bem__dom_ready'` ? ;-)

[2015-02-01 01:21] qfox commented on #160
Не правильнее `*mod` унести в `Block`/`Elem`?
Про `find*` — можно тоже в `Block`/`Elem` определить и пробрасывать их до `i-bem-dom` с установкой ctx.

Btw. Актуально? #581

[2015-02-01 01:34] qfox commented on #158
Актуально? #581

[2015-02-01 17:22] vaseker commented on #850
Я криво описал кейс.
Имелось в виду, что хочется получать в handler элемент, в контексте которого сработало событие.

Например, есть `list`, внутри которого куча `list__elem`. Вешая в декларации блока `list`, событие `this.bindTo('elem', 'click', handler)`, хочется получить в event ссылку на `list__elem`.

[2015-02-01 18:16] Murdalay opened #855 "events.Emitter.emit() method ignores data field"
If the second argument is provided to `events.Emitter.emit()` it just do nothing instead of supplying it value to e.data field.

[2015-02-01 20:08] dfilatov commented on #855
The second argument passed to `emit` is available as the second argument within a callback.

[code]

But `e.data` is the data passed while `on` method is called:

[code]

This behaviour was taken from jquery event system.

[2015-02-01 20:08] #855 closed, assigned to nobody

[2015-02-01 20:20] dfilatov commented on #853
I think we could avoid using of `next-tick` in that case. I'll investigate the problem soon.

[2015-02-02 08:34] Guria opened #858 "*ElemSetMod doesn't triggers if another elem with the same name already has that mod"
Assume that we have block with several elements `elemName`.
Block has declaration:

[code]

Callback from declaration will trigger only on first time any elem `elemName` gets mod `elemMode`

[code]

[2015-02-02 08:40] Guria commented on #858
Sorry, I was wrong

[2015-02-02 08:40] #858 closed, assigned to nobody

[2015-02-02 08:45] dfilatov commented on #851
@andrewblond If the problem is fixed, could you update `enb-bem-specs` to a corresponding version?

[2015-02-02 10:19] dfilatov opened #859 "i-bem__dom: provide module after dom is ready"

[2015-02-02 10:20] dfilatov opened #860 "i-bem-dom: provide module after dom is ready"

[2015-02-02 10:28] dfilatov commented on #853
#859 should fix it

[2015-02-02 10:38] qfox commented on #853
:+1:

[2015-02-02 13:45] #859 closed, assigned to dfilatov

[2015-02-02 13:46] dfilatov commented on #853
@tadatuta now you're able to get rid of usage of `next-tick`

[2015-02-02 13:46] #853 closed, assigned to nobody

[2015-02-02 14:17] tadatuta opened #862 "jquery__event_type_winresize: Fix typo"
@dfilatov Dima, we have https://github.com/bem/bem-core/blob/v2/desktop.blocks/jquery/__event/_type/jquery__event_type_winresize.js in `bem-core` but it looks like it's not used anyway. Can't we just remove it?

[2015-02-02 14:43] dfilatov commented on #862
It's used on projects which want to have proper resize in IE.

[2015-02-02 18:02] tadatuta commented on #853
thank you!

[2015-02-02 18:10] tadatuta commented on #862
@dfilatov in this case should we replace 'ie' [here](https://github.com/bem/bem-core/blob/v2/desktop.blocks/jquery/__event/_type/jquery__event_type_winresize.js#L7) with 'msie' as it's used in [ua](https://github.com/bem/bem-core/blob/v2/desktop.blocks/ua/ua.js#L13)?

[2015-02-02 19:38] dfilatov commented on #862
@tadatuta yep, definitely

[2015-02-03 07:06] #847 closed, assigned to blond

[2015-02-03 07:08] blond commented on #851
Fixed in https://github.com/bem/bem-core/pull/863

[2015-02-03 07:08] #851 closed, assigned to blond

[2015-02-03 08:51] belozer opened #866 "Templates for create bemhtml, styl files"
При генерации блоков - генерируется bemhtml следующего содержания

[code]

При сборке проекта это вызывает ошибку
`block('block')()` — и всё работает нормально

у styl таже проблема. Генерируется только название класса, но отсутствуют скобки

[code]

вместо

[code]

[2015-02-03 08:57] tadatuta commented on #866
@belozyorcev Это сделано осознанно, чтобы в продакшен не попадал бесполезный мусор.

[2015-02-03 09:23] belozer commented on #866
Как это помогает? Почему срабатывает ошибка, а не проходит мимо?

[2015-02-03 09:47] tadatuta commented on #866
если человек создал блок с шаблоном или файлом стилей, то он собирался написать туда что-то осмысленное — ошибки не будет. но если вдруг создал и забыл, то ошибка при сборке ему об этом напомнит и он либо таки напишет, что собирался, либо удалит файл, если он больше не нужен.

[2015-02-03 09:56] belozer commented on #866
Вполне логично :)

Но может стоит в таких случаях более дружелюбный знак давать?

[2015-02-03 10:04] tadatuta commented on #866
пожалуй, было бы неплохо, но мы вряд ли доберемся до этой задачи в обозримое время

[2015-02-03 10:30] qfox commented on #866
Помню аналогичную задачу год назад ;-) Может поправить?

[2015-02-03 14:20] dfilatov opened #867 "Think about level of errors when we need to throw exceptions"

[2015-02-03 14:22] qfox commented on #867
I'm sorry but which level? It would be great if we would have more detailed issues ;-) And questions especially

[2015-02-03 18:00] sameoldmadness commented on #250
@veged what's the motivation behind this changes?

is it about document size or source code readability?

[2015-02-04 11:51] #721 closed, assigned to Murdalay

[2015-02-04 12:44] gurobokum opened #868 "[browser.js Tech] call [js.js Tech] wrong interface"
In the technology bem-core/.bem/techs/browser.js.js

[code]

but in extended technology js (API V1)

[code]

And I get

[code]

Should I use some special treeish?
bem-core's branch is v2, or may be browser.js is obsolete?
How should i do?
Thanks

[2015-02-04 12:56] gurobokum commented on #868
c087563532a0cbb59fceb1368388f0a8a57745cb

[2015-02-04 20:25] aristov commented on #407
resolved in #741

[2015-02-04 20:25] #407 closed, assigned to aristov

[2015-02-05 07:43] Guria commented on #836
Also auto console.log() of bem events, changing mod values, calling *SetMod handlers would be usefull.

[2015-02-05 15:37] sipayRT commented on #511
ping?

[2015-02-06 10:06] #780 closed, assigned to Murdalay

[2015-02-06 19:21] narqo opened #870 "Add collections:Map class"
TL;DR
To reduce some copy & paste within the library, we can add a new `collections:Map` class, with polyfill of the [native Map object](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Map).

Currently, we have several places within the codebase, which workaround the same behaviour, the native `Map`s provides, using the `identify` and simple Hash-object as a storag

[2015-02-08 04:32] belozer commented on #866
Опишу проблему, на которую на днях наткнулся опять ))

Делал проект на работе... Создал блок, и тут мне нужно было уже идти... Закрыл крышку ноутбука.

Вечером много времени потратил на поиск ошибки, пока не вспомнил, что я создал блок и не описал его.

[2015-02-08 08:44] tadatuta commented on #866
@belozyorcev Чтобы быстро понять, что именно произошло в последний момент должен быть помочь `git show` последнего коммита ;)

На самом деле это примерно то, о чем я и говорю: если бы не сломалось, остался бы бесполезный забытый шаблон.

Но если есть уверенность, что такое поведение нужно изменить, можно `bemhtml`из https://github.com/bem/project-stub/blob/bem-core/.bem/levels/blocks.js#L27 перене

[2015-02-10 10:34] veged opened #871 "Possibility to write *.spec.js in separate files"
Right now https://github.com/bem/bem-core/blob/v3/common.blocks/i-bem-dom/i-bem-dom.spec.js is about 1.5K lines and still counting. So we definitely need a way to make something like that:

[code]

to split specs into many smallest files.

[2015-02-10 13:22] qfox commented on #871
:+1:

[2015-02-10 13:47] aristov opened #872 "BEMHTML: get rid of isArray helper"
Use `Array.isArray` instead.

[2015-02-10 21:46] tadatuta opened #873 "i-bem.bemhtml: Support nested mix as object"

[2015-02-10 21:47] tadatuta commented on #807
@veged I think you weren't able to reproduce because of this bug https://github.com/bem/bem-core/issues/873

[2015-02-11 09:20] qfox commented on #866
@tadatuta Может в базовый шаблон добавить `//` в начало строки?

[2015-02-11 09:37] belozer commented on #866
@zxqfox  +1

[2015-02-11 13:04] qfox opened #875 "Move jscs rules to preset @v2"
Refs: https://github.com/bem/bem-components/issues/1220, https://github.com/bem/bem-components/pull/1221

[2015-02-11 13:26] qfox commented on #875
@tadatuta Since bem/bem-components#1221 was merged probably we should do it here too.

[2015-02-11 13:29] qfox commented on #875
cc @veged @narqo @dfilatov

[2015-02-11 13:30] tadatuta commented on #875
sounds rather reasonable ;)

[2015-02-11 13:33] qfox commented on #828
@veged I see some of jsdoc-blocks uses exclamation-star `/*!` while the most of them uses standard double star `/**` as opener.

[code]

Should we replace `/*!` to `/**` or it's a special jsdocs?

[2015-02-11 13:36] qfox commented on #828
Oh. It was `v2`.

For `v3` it looks like:

[code]

So the answer will be to replace. ;-) Correct me if I'm wrong.

[2015-02-11 13:42] qfox commented on #866
Простите, что пишу суда, но...

А csso или еще какой пре-, пост-процессор не вырежет этот пустой селектор без тела?
В случае bemhtml — разве xjst не отбросит пустые матчеры?

[2015-02-11 13:44] sipayRT commented on #828
@zxqfox it was made to ignore parsing of these jsDoc because we can't parse such file-structure with jsd

[2015-02-11 13:46] qfox commented on #828
@sipayRT That makes sense. Thanks a lot!

[2015-02-12 15:12] veged opened #877 "i-bem-dom: Split "live" functionality to two separate parts"
Right now etymology of `live` key descend to jQuery live-events which are deprecated for ages. We need more meaningful name. We need to split `live` functionality into two separate parts:
1. lazy init flag — `lazyInit : true`
2. delegated event binds and other possible stuff (i.e. https://github.com/bem/bem-components/blob/v2/common.blocks/control/control.js#L113) — `onInit : function() { ... }`.

[2015-02-12 15:26] #779 closed, assigned to Murdalay

[2015-02-13 14:57] #818 closed, assigned to Murdalay

[2015-02-16 11:32] #811 closed, assigned to Murdalay

[2015-02-16 14:27] #691 closed, assigned to Murdalay

[2015-02-17 08:50] tadatuta commented on #868
@JIoJIaJIu Can you please push your project to github? I think the issue is somewhere on your side as `browser.js` tech works fine for me.

[2015-02-17 11:32] veged commented on #586
у нас сейчас ошибки вида `Missing leading underscore for init at common.blocks/i-bem-dom/i-bem-dom.js :` даже там, где не указан `@protected`

[2015-02-17 11:33] qfox commented on #586
@veged А кинь ссылкой в код?

[2015-02-17 11:38] veged commented on #586
ветка issues/394@v3

[2015-02-17 11:45] veged opened #879 "i-bem-dom__event-manager_type_dom: Optimize all "closest" to a single traversing"
We can avoid many `.closest` calls in favour of custom traversing.

Should be done with "benchmark first" strategy.

See also https://github.com/bem/bem-core/tree/i-bem-bench%40v2

[2015-02-17 12:02] qfox commented on #586
@veged Баг, если не указан `@access` оно считает, что надо репортить, поправил в 0.4.5

[2015-02-17 12:12] qfox commented on #586
`[...elems]` — а такое нужно, по-хорошему, в типе указывать: http://usejsdoc.org/tags-param.html#multiple-types-and-repeatable-parameters

[2015-02-18 08:53] Murdalay opened #880 "Adapt the blocks documentation to the new template"

[2015-02-18 14:57] aristov opened #881 "BEMHTML: add 'i-bem' classname for elems with js params"

[2015-02-18 15:00] qfox commented on #881
lol.

[2015-02-19 14:37] tadatuta opened #882 "page: Add ability to pass CSP nonce"
refer https://github.com/bem/bem-bl/pull/610

[2015-02-20 11:54] aristov commented on #576
[code]

[2015-02-20 12:59] tadatuta commented on #576
cc @andrewblond

[2015-02-22 22:49] tadatuta commented on #866
@zxqfox ты прав, `xjst` в продакшен-режиме действительно выкидывает такие матчеры, так что можно и поправить. спасибо!

[2015-02-25 15:03] veged commented on #881
need similar ticket for BH

[2015-02-25 19:18] #250 closed, assigned to aristov

[2015-02-26 18:27] apsavin opened #884 "Wrong promises handling in bemhtml"
### How to reproduce:
1. Create new project with project-stub and `bem make`
2. Create `desktop.bundles/index/index.node.js` with the following content:

[code]
1. Run `node desktop.bundles/index/index.node.js`
### Actual result:

[code]
### Expected result:

[code]

[2015-02-26 18:38] tadatuta commented on #884
cc @dfilatov

[2015-02-26 20:08] dfilatov commented on #884
How long has BEMHTML been supporting promises? I know nothing about that.

[2015-02-27 05:55] apsavin commented on #884
@dfilatov see [here](https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.bemhtml#L316)
More than a [year](https://github.com/bem/bem-core/commit/be08164f91f503f81389a3f55ea0cb4a33bfc4b8) at least.
cc @veged

[2015-02-27 13:20] narqo commented on #884
~~@apsavin what version of `vow` do you use?~~

Ok, it seems that this is a bug in new `applyNext` internal mechanics. Looks like internal guards don't reset in such cases.

[2015-02-27 15:44] apsavin commented on #884
I'm glad that you've found the cause. Hope to see it fixed soon, the bug is really very nasty. Sorry, I'm without pull request today.

[2015-02-28 12:35] ilyar commented on #866
@zxqfox предположу, ты говоришь об этом https://github.com/bem/bem-core/pull/520

@tadatuta вижу такое решение: добавить в документацию о том как переопределять шаблоны создания блоков, а может это уже где то есть, тогда положить ссылку на видное место.

[2015-02-28 16:42] tadatuta commented on #852
@dfilatov Dima, will it be ok if I'll fix it with

[code]

or is it better to always use

[code]

instead?

[2015-03-01 10:38] apsavin opened #885 "Missed applyCtx for doAsync result (bemtree)"
### Steps to reproduce:
1. Create a project based on project-stub
2. Add `bemtree` technology into the build process
3. Add `desktop.blocks/footer/footer.bemtree` and `desktop.blocks/content/content.bemtree`:

[code]
4. Add `desktop.bundles/index/index.node.js`

[code]
5. `bem make` and run `node desktop.bundles/index/index.node.js`
### Actual result:

[code]
### Expected result:

[code]

[2015-03-01 10:40] apsavin commented on #885
Am I wrong?
Do I need to always write like this:

[code]

If so, why?

[2015-03-01 11:31] apsavin opened #886 "We need some flag to understand was a block rendered already or not (bemtree)"
### Steps to reproduce:
1. Create a project based on project-stub
2. Add `bemtree` technology into the build process
3. Add `desktop.blocks/footer/footer.bemtree` and `desktop.blocks/content/content.bemtree`:

[code]
4. Add `desktop.bundles/index/index.node.js`

[code]
5. `bem make` and run `node desktop.bundles/index/index.node.js`
### Actual result:

content template called twice:

[code]
### Ex

[2015-03-01 20:10] narqo commented on #886
Why can't you use `block('content').match(!this._wasRendered)` guard here?

[2015-03-01 21:25] qfox commented on #852
Html can be "yolo&lt;swag&gt;" so probably you need to search for '<', but still it's strange case.

[2015-03-01 21:53] tadatuta commented on #852
@zxqfox the reason is exactly to find cases like `yolo<swag>` and looks like `$.parseHTML()` was implemented just for it.

[2015-03-02 07:32] apsavin commented on #886
Of course, I can. But I don't want to use it for every block on one hand and don't want to think was the guard used for particular block (when I use it), on another hand.
This issue is related to #885. We can't auto-apply ctx to the result of doAsync while we have not such auto-guard.

[2015-03-02 14:58] dfilatov commented on #852
@tadatuta `$.parseHTML` looks perfect. But don't forget to check for `string` before apply it.

[2015-03-02 15:01] Guria opened #887 "page, ua: some templates defined in touch level would be useful for desktop services opened on mobile device"
@veged in #835 supposed:

Server-side option not easy and sometimes not able for project that involves only static html. For client-side solution developer have to get deeper knowledge about how to achieve getting static page based on different bundles. Also it appliable only for assets and not for html.

Therefore, we couldn't generate html page which will have corresponding entries in `<head>` f

[2015-03-02 15:04] dfilatov commented on #852
@tadatuta Hmm. I've thought about perfomance for `$.parsetHTML` for big trees. Isn't there a reason why jQuery doesn't apply it?

[2015-03-02 15:08] tadatuta commented on #852
@dfilatov I think we can check not just for `typeof content === 'string'` but also for `content[0] !== '<'` and in such cases we don't need to worry about performance, do we?

[2015-03-02 15:10] qfox commented on #852
@tadatuta `content[0] !== '<'` vs `content.indexOf('<') !== -1`?

[2015-03-02 15:13] tadatuta commented on #852
@zxqfox as we discussed above, we still need to call `$.parsetHTML()` in case of `yolo<swag>` so just `content[0] !== '<'`.

[2015-03-02 15:16] qfox commented on #852
@tadatuta I don't understand how you can cover all cases with `content[0] !== '<'`:
- `String`
- `<swag>yolo</swag>`
- `<swag /><yolo />`
- `String<swag />`
- `<swag />String`
  etc.

[2015-03-02 15:27] tadatuta commented on #852
@zxqfox Oh, I thought that if anything starting with an HTML element is passed, jQuery will do the rest by itself. But that's not so. That means check for `<` is useless :(

[2015-03-02 15:35] tadatuta commented on #852
@dfilatov

[code]

VS.

[code]

[2015-03-02 15:37] qfox commented on #852
@tadatuta Ehm? Why not:

[code]

?

[2015-03-02 15:43] dfilatov commented on #852
@tadatuta ok, let's use `$.parseHTML`

[2015-03-02 15:43] tadatuta commented on #852
@zxqfox you are right, but looks like that doesn't matter:

[code]

still not sure that such kind of test is good enough.

[2015-03-02 15:50] qfox commented on #852
:+1:

[2015-03-02 16:01] tadatuta commented on #852
#889

[2015-03-02 18:07] narqo opened #890 "i-bem: setMod should convert non-boolean value to string"
[code]

Current behaviour looks weird and it seems that any value in the example above may fire several onSetMod-handlers (see [buildModFnName()](https://github.com/bem/bem-core/blob/6ce978f653cd84a7a490e654d6c6dbf378cb7546/common.blocks/i-bem/i-bem.vanilla.js#L53-L59)).

And the same goes to `hasMod`

[2015-03-02 18:19] qfox commented on #890
:+1:

[2015-03-02 19:25] apsavin commented on #884
Can somebody set the "bug" label?

[2015-03-02 19:28] apsavin commented on #832
I hope, there will be an option for users to avoid such inlining.

[2015-03-02 22:20] tadatuta commented on #832
@apsavin can you describe cases when you don't need `Vow` with `BEMTREE`?

[2015-03-03 03:42] narqo commented on #885
Because you just can't auto call `apply` on any value that is fulfilled (or rejected) from `doAsync` promise. It's up to you to know how to handle this value.

Some common usecase that we had was: get some `data` with `doAsync` call; then call `apply('specific-custom-mode', { data : data })` if promise was fulfilled, or `apply('error', { err : e })` in other case.

[2015-03-03 03:48] narqo commented on #886
I'm not sure I understand, how this relate to "autoapplying" in asynchronous calls.

In your particular example above calling `applyCtx({ block : 'content' })`, and returning `{ block : 'content' }` within content mode of block `footer` may lead to different results in general, as

[code]

[2015-03-03 03:51] narqo commented on #886
Oops, wrong issue. Removed my wrong comment

[2015-03-03 06:01] apsavin commented on #832
I always need Vow with BEMTREE, but why we need to inline it? I just `require` BEMTREE file and Vow inside BEMTREE is the same Vow that all other blocks use, from `ym` modules system.

[2015-03-03 06:33] apsavin commented on #885
Well, my example is not 100% correct. You're right, we can't do this with doAsync method.

I have extended bemtree with method `get`, it works like this:

[code]

So it would be useful for me to call applyCtx for everything that come from successCallback. That's why I need a way to understand, was ctx applied already or not (#886).
Now I need to write:

[code]

or, in another case:

[code]

That's

[2015-03-03 09:31] dfilatov opened #892 "i-bem__dom: add shortcut for `this.elem(elemName, boolModName, true)` as `this.elem(elemName, boolModName)`"

[2015-03-03 13:56] veged commented on #887
sorry, but it's just completely impossible with current architecture to build both levels touch and desktop together in same runtime

for check on server-side you can use https://tech.yandex.ru/detector/

[2015-03-03 14:03] veged commented on #885
@apsavin we have no idea how to implements something that fulfilled your case :-( can you provide any PR?

[2015-03-03 14:07] veged commented on #886
@apsavin looks like completely logical behaviour since you call applying twice (directly and indirectly) — can you provide any PR with possible ways to handle it?

[2015-03-03 14:12] veged commented on #868
@JIoJIaJIu ping ;-)

[2015-03-03 14:16] veged commented on #866
давайте завернём результат шаблона в комментарии

[2015-03-03 14:19] apsavin commented on #885
Well, as @narqo mentioned above, I was not correct in my examples, so we can continue discussion in #886.

[2015-03-03 14:19] #885 closed, assigned to nobody

[2015-03-03 14:21] veged commented on #850
`.bindTo` это по сути обёртка над jQuery событиями и так же как и там `event.currentTarget` не завернут в `$`

в v3 всё будет уже в виде явных БЭМ-инстансов для элементов

[2015-03-03 14:21] #850 closed, assigned to nobody

[2015-03-03 14:37] apsavin commented on #886
@veged let's discuss the issue before anybody will write any code.

There is a problem in BEMTREE: it's hard to distinguish input from output. I think, the only way to distinguish is to add some reserved parameter into ctx during templating.

for example, now:

[code]

with reserved parameter:

[code]

pros:
- we can auto-apply ctx in cases like discussed in #885

cons:
- we have reserved paramete

[2015-03-03 14:39] ilyar commented on #866
ага, вот так:

[code]

[2015-03-03 14:46] gurobokum commented on #868
Прошу прощения, упустил комментарий)
К сожалению, не могу скинуть конфигурацию проекта - он в приватной репе
Использую bem-tools для сборки
bem-core

[code]

fork - https://github.com/JIoJIaJIu/bem-core

desktop.bundles/

[code]

Использование BEM.api

[code]

[2015-03-03 14:50] qfox commented on #866
@ilyar Ну хз.

Я бы оставил:

[code]

[2015-03-03 14:54] ilyar commented on #866
@zxqfox + за TODO в том что IDE и редакторы могут их агрегировать в одном месте, но я не настаиваю, просто идея.

[2015-03-03 14:55] qfox commented on #892
That's strange because better to find all elems with name `elemName` and which has mod `boolModName` with any value by `this.elem(elemName, boolModName)`.

[2015-03-03 14:59] qfox commented on #866
@ilyar В целом идея :+1:, но в vim/sublime этого из коробки нет, зато в сублайме есть `Ctrl/Cmd+/`, который убирает комменты `//`. Я бы лучше предусмотрел возможность настройки этого каким-то образом. Но, судя по всему, это вопрос будущего, а пока надо что-то минимальное интегрировать, и поправить баг.

Т.е. голосую за вынос фич в отдельные issue ;-), а тут по минимуму.

**upd** p.s. Эти issue, по

[2015-03-03 15:33] belozer commented on #866
А почему бы не сделать что-то следующего вида?

[code]

Из-плюсов:
- новичок может чуть освежить память синтаксиса bemhtml
- на сгенерированной странице будет заметно, что шаблон пустой
- никаких IDE не нужно для того, чтобы найти пустые шаблоны

[2015-03-03 18:07] tadatuta commented on #887
@veged actually the question was as follows: https://github.com/bem/bem-forum-content-ru/issues/263#issuecomment-76726909

The templates for `ua` and `page` are quite reasonable on desktop service opened on mobile and we could think about merging them together at least partially.

[2015-03-03 20:28] dfilatov commented on #892
@zxqfox I disagree with you. We've already have the same behaviour for `setMod(elem, boolModName)`. Moreover, I can't even contemplate any reasonable case to find all the elems with any mod value, but I have enough cases to find elem with boolean mod.

[2015-03-03 20:39] qfox commented on #892
@dfilatov Wait, but if you looking for boolean mod then you won't check it's value, right?

[2015-03-03 20:41] dfilatov commented on #892
@zxqfox I'll check that value === true.

[2015-03-03 20:46] qfox commented on #892
@dfilatov I just want to understand what's the difference. I don't see a big difference between checking for true, and just existing. But still if you want to say that `elem(name, mod, [val=true])` is more intuitive than `elem(name, mod, [val=undefined])` — I'm not sure that you're right. Even if you have a lot of cases to find your elems with boolean mods. Right?

[2015-03-03 20:48] qfox commented on #892
Btw, checking for mod existence will totally cover searching of boolean mods but still will be useful for non-boolean mods. Reverse is not true.

[2015-03-03 20:55] dfilatov commented on #892
@zxqfox
Is it clear for you that `setMod(modName)` is a shortcut for `setMod(modName, true)`, not for `setMod(modName, undefined)`?
There's a difference between checking for true and just existing when you're finding elem by css selector.
`.block__elem_modName` is a simplest selector, which is heavily optimized in the browsers. There's no so simple selector for your case.

[2015-03-03 21:00] qfox commented on #892
@dfilatov Actually, nope. But if you insist — I'll try to apply it for myself as clear. It will be hard but I'll try.

About searching by css selectors: Am I right that we loading all dom elements with `i-bem` class so we have links to them all in memory? Am I right that we know which ones has modifiers? If so should we depend on css selectors? How we can find non-dom blocks with modifiers? That's

[2015-03-03 21:05] qfox commented on #892
Stupid idea. We can add both classes for modifiers if you insist on using css selectors: `.some_mod` and `.some_mod_value`, but use the one with value for js.

[2015-03-03 21:11] dfilatov commented on #892
@zxqfox Don't get me wrong, I don't insist, but It's a current behaviour for `setMod`. Boolean mods are much more widely used that mods with multiple values.
About css selectors and i-bem class:
- i-bem class presents only for blocks with js (in v3 for elems with js as well)
- if we even had all blocks and elems in memory (but actually we didn't), we wouldn't have "ancestors <-> descendants" relat

[2015-03-03 21:13] qfox commented on #892
@dfilatov Still that's not clear to get only items with boolean mods by `.elem('elem', 'mod')` ;-( But I got the reason why we can't do it.

[2015-03-03 22:00] Guria opened #894 "ua, touch: `screenSize` couldn't get value `normal`"
https://github.com/bem/bem-core/blob/v2/touch.blocks/ua/ua.js#L155
It seems an error in conditions. `screenSize` couldn't get value `normal`

[2015-03-04 07:18] hcodes commented on #894
normal: screen.width = 320

[2015-03-04 07:19] veged commented on #887
@tadatuta if we need to move some templates for icon to common level, ok then (but issue title should be more specific)

other templates from head should be discussed

anyway current issue title not about that ;-)

[2015-03-04 07:51] Guria commented on #835
By the way, I have made some research tonight and found cause of circular dependencies. The reason so miserable in my opinion, I don't know why you don't want to fix it.
- on desktop level `jquery__config` depends on `ua` block for `msie` version detection to override right version of jquery to be loaded
- on touch level `ua` block depends on `jquery` directly and through `i-bem__dom` dependency b

[2015-03-04 08:13] veged commented on #835
we wan't to fix it not because its big and hard, but because it about unplanned way of usage — we doesn't suppose build desktop and touch levels in one runtime and it may bring any other unpredictable problems, furthermore, we even don't test it anyway

[2015-03-04 08:27] Guria commented on #835
What you can say about suggested solution? I think it is pretty unobtrusive. You wouldn't have to declare support of building both levels in one runtime if you implement it. At the same time this particular issue would be solved.
I have checked current state of both layers. Touch level works fine on top of desktop. Let developer decide whether to use unsupported but working way or stick to only de

[2015-03-04 09:10] veged commented on #835
also — replace `ua` block with inline regexp check of UserAgent is too hacky — the purpose of `ua` block is incapsulating all this details

[2015-03-04 09:13] veged commented on #835
I advise you to stop until it's too late — what you calling "unsupported but working way" in reality is "unsupported and scrap-in-the-most-unexpected-moment way"

I do not want put as in situation in future when we discuss again about some cases when it will be broken

[2015-03-04 09:59] Yeti-or commented on #894
`normal` means that you have an iPhone =)

[2015-03-04 10:01] Guria commented on #894
@hcodes oh sorry, didn't noticed that. Thought that `normal` should be some range.
@YetiOr :+1:

[2015-03-04 10:01] #894 closed, assigned to nobody

[2015-03-04 10:12] Guria commented on #835
I see your point about support and even agree with it. I am also worried about inconsistency in dependencies in layers despite the fact that it doesn't supposed to be used together. I have a feeling that having opposite dependencies is not right, moreover in layers within one library.

It can lead to inconsistency in libraries built on top of `bem-core` which blocks would have more complex depende

[2015-03-04 15:33] hcodes commented on #882
Closes #895 v2, #913 v3.

[2015-03-04 16:25] raining opened #896 "Feedback for "Быстрый старт по BEMHTML""
Напишем шаблон для блока hello в файле desktop.blocks/hello/hello.bemhtml:
https://ru.bem.info/technology/bemhtml/v2/intro/#Шаг-4-Написать-шаблон-приветствие-по-образцу

[code]

В этом и следующем примере ошибка в синтаксисе - нужно писать не

[code]

а

[code]

[2015-03-04 16:51] raining commented on #896
Ответ - в файле ошибка в синтаксисе примера - мода content не принимает аргументов, нужно писать не
[code]
а
[code]

[2015-03-04 21:01] slogic opened #897 "Feedback for "Справочное руководство по BEMJSON""
Тип boolean не описан в списке возможных типов, хотя ниже в примерах он используется.

[2015-03-04 21:09] tadatuta commented on #897
@slogic Спасибо, добавим.

[2015-03-05 04:57] qfox commented on #892
I think `undefined` could be treated as _something_. And boolean mods then will be mods with _something_ implicit. If we going to add these mods we can rethink boolean mods without changing format of lovely short classes. And in this way I strongly agree with these shortcuts.

Just thoughts.

[2015-03-05 11:31] hcodes commented on #862
Потестировал:
Нужно для IE8 и ниже, хотя проблемы могут быть и в IE9 и выше, если выбрать `Document Mode` - `Internet Explorer 8 standarts`.

Можно добавить условие (про `IE=Edge` знаю):

[code]

и поправить TODO-комментарий.

 https://msdn.microsoft.com/en-us/library/ie/ms536959%28v=vs.85%29.aspx

[2015-03-05 13:20] narqo opened #898 "Release 2.6.0"

[2015-03-05 14:01] narqo commented on #862
@hcodes можете с @tadatuta доделать #864 и #865?

[2015-03-05 14:27] hcodes commented on #862
@narqo доделал.

[2015-03-05 15:40] tadatuta commented on #868
См. комментарии в https://github.com/bem/bem-core/pull/878

[2015-03-05 15:49] #875 closed, assigned to qfox

[2015-03-05 22:34] narqo opened #900 "Stop using jshint-group in favour of latest jshint"
Since [jshint@2.50](https://github.com/jshint/jshint/releases/tag/2.5.0), which was released almost a year ago, it is possible to override particular lint rules for a subset of files, based on fsglob matching (see jshint release notes for examples).

We may try to migrate to the latest version of jshint. This changes provide proper code linting, as jshint is supported by the wide range of code edi

[2015-03-05 23:06] qfox commented on #900
:+1:
But how?

[2015-03-06 05:35] narqo commented on #900
"How" what?

[2015-03-06 09:45] gela-d commented on #896
@innabelaya Инна, посмотри, пожалуйста.

[2015-03-06 10:35] #862 closed, assigned to nobody

[2015-03-06 14:28] hcodes opened #901 "Add status badges for deps"
https://david-dm.org/bem/bem-core#info=devDependencies&view=table

[2015-03-06 14:29] hcodes opened #902 "Update deps in package.json"

[2015-03-06 22:23] aristov commented on #747
It seems that we can't do so, because:

[code]

So if we drop boolean check:

[code]

then we get something like this:

[code]

I've checked it.

[2015-03-07 20:14] #890 closed, assigned to nobody

[2015-03-08 09:22] #892 closed, assigned to nobody

[2015-03-10 19:43] #882 closed, assigned to hcodes

[2015-03-11 10:05] tadatuta opened #907 "doc: Add notice about CSP"
https://github.com/bem/bem-core/pull/895

[2015-03-11 10:36] dfilatov commented on #898
What stops us from release?

[2015-03-11 11:04] narqo commented on #898
The #842 PR is still open. Looks like some unit-tests have failed there, regardless the fact that the build status is fine. We can wait until it will be fixed, or postpone it for a while.

[2015-03-11 11:07] qfox commented on #898
Oh. I'll take a look now.

[2015-03-11 14:11] blond opened #908 "Failed tests doesn't affect "build" result"

[2015-03-11 16:26] qfox commented on #898
Just fyi: done.

[2015-03-11 19:35] #908 closed, assigned to blond

[2015-03-11 20:20] dfilatov opened #910 "objects: extend fails in case of target=null"

[2015-03-12 08:50] #910 closed, assigned to dfilatov

[2015-03-13 10:05] narqo opened #914 "i-bem__dom: Describe BEMDOM.scope"
It isn't 100% clear why this `BEMDOM.scope` property exists. We need to describe it in more details.

/cc @veged

[2015-03-13 18:34] narqo commented on #511
Fixed with #869

[2015-03-13 18:34] #511 closed, assigned to tadatuta

[2015-03-13 18:35] narqo commented on #511
v3 port #912

[2015-03-13 20:57] tadatuta commented on #898
what do you think about merging [docs update](https://github.com/bem/bem-core/pull/906) as is for this release?
question in context of bem.info where each tag lives forever.

[2015-03-13 21:43] narqo commented on #898
@tadatuta I'll wait for 2 more days :)

![dfcbec05f016e1607bbb5b472c924273](https://cloud.githubusercontent.com/assets/88045/6647775/1a7345d0-c9e3-11e4-8bd9-e6d4c1d133ec.jpg)

[2015-03-14 13:03] Guria commented on #873
What about nested mix in BH?

[2015-03-14 15:06] VVE opened #916 "Feedback for "Быстрый старт по BEMHTML""
Здравствуйте!
Повторяю урок на локальном компьютере в Win-7.
1. Начну с конца: на шаге 4 получил в браузере ошибки (ниже), прошу подсказать, в чем моя ошибка:
AssertionError: mode literal predicates can't have arguments
   at Compiler.getBinop (C:\Users\1\YandexDisk\landings\project-hello\node_modules\enb-bemxjst\node_modules\bem-xjst\lib\bemhtml\compiler.js:217:12)
   at Compiler.replaceCustom (C

[2015-03-14 15:21] tadatuta commented on #916
1. В тексте была ошибка, [исправил](https://github.com/bem/bem-core/commit/09d4d7f19d9fa077a919de2e12082f0161bac3b4), спасибо!
2. Речь о том, чтобы для тренировки создать новый, чтобы пройти весь путь с нуля.
3. Точка указывает на текущую папку. Если выполнять команды в git bash, то они должны правильно работать в такой нотации.

[2015-03-14 15:21] #916 closed, assigned to nobody

[2015-03-14 16:12] VVE commented on #916
Большое спасибо!!!
Конечно, помогло. В https://ru.bem.info/technology/bemhtml/v2/intro/#template потом тоже обновится?

[2015-03-14 16:14] Guria commented on #916
Да, оно собирается из исходников на github и будет обязательно обновлено.

[2015-03-15 13:15] VVE opened #917 "Доработать документ "Быстрый старт по BEMHTML""
Здравствуйте! По шагу 7:
1) создание файла desktop.blocks/hello/hello.js c содержанием из статьи, по-моему, не дает эффекта. Наверное, нужно что-то еще?
2) верно ли в статье написано про файл desktop.blocks/hello/hello.css, а не уже созданный файл desktop.blocks/hello/hello.styl ? Если создать такой css-файл, то к странице подключаются и он, и styl-файл.

[2015-03-15 14:49] tadatuta commented on #917
1. Помимо `hello.js`, необходимо создать шаблон `hello.bemhtml`, в котором задать `block('hello').js()(true)` — про это написано чуть выше на 7 шаге.
   Если и шаблон и js присутствуют, а при клике на блок не появляется сообщение, что, видимо, где-то закралась ошибка. Напишите, пожалуйста, посмотрю внимательно.
2. Можно использовать созданный `styl`, а можно удалить его в пользу `css`. Текст стать

[2015-03-15 17:29] VVE commented on #917
Большое спасибо!
1. работает.
2. ясно.

[2015-03-16 09:42] narqo commented on #898
@tadatuta have you finished everything you wanted?

[2015-03-16 12:14] Murdalay opened #918 "The tick block description rework with new template"

[2015-03-16 12:16] Murdalay opened #919 "The vow block description rework with new template"

[2015-03-16 12:17] Murdalay opened #920 "The strings block description rework with new template"

[2015-03-16 12:17] Murdalay opened #921 "The querystring block description rework with new template"

[2015-03-16 12:18] Murdalay opened #922 "The objects block description rework with new template"

[2015-03-16 12:19] Murdalay opened #923 "The next-tick block description rework with new template"

[2015-03-16 12:19] Murdalay opened #924 "The loader block description rework with new template"

[2015-03-16 12:20] Murdalay opened #925 "The keyboard block description rework with new template"

[2015-03-16 12:21] Murdalay opened #926 "The jquery block description rework with new template"

[2015-03-16 12:21] Murdalay opened #927 "The inherit block description rework with new template"

[2015-03-16 12:21] Murdalay opened #928 "The idle block description rework with new template"

[2015-03-16 12:22] Murdalay opened #929 "The identify block description rework with new template"

[2015-03-16 12:23] Murdalay opened #930 "The functions block description rework with new template"

[2015-03-16 12:23] Murdalay opened #931 "The dom block description rework with new template"

[2015-03-16 12:24] Murdalay opened #932 "The cookie block description rework with new template"

[2015-03-16 12:24] Murdalay opened #933 "The clearfix block description rework with new template"

[2015-03-16 18:29] tadatuta opened #938 "Update dist config"

[2015-03-16 18:55] dfilatov commented on #898
Let's release this version, shall we?

[2015-03-16 20:37] tadatuta opened #940 "i-bem.bemhtml: Do not close single tags"

[2015-03-16 21:17] narqo commented on #794
@tadatuta shouldn't it be fixed in v3 as well?

[2015-03-16 22:00] tadatuta commented on #794
It should but I'm not sure it's a good idea to do so until https://github.com/bem/bem-core/pull/841
Otherwise we'll get quite a lot of conflicts.

[2015-03-16 22:59] belozer commented on #656
I like the simpe format (shouldDeps -> mustDeps).

Block should talk about what he wants for his work (mustDeps way).

shouldDeps === chaos === dirt
(My abstract thoughts)

[2015-03-16 23:24] belozer opened #941 "bemconfig.json or bemconfig.js"
Why not make the config file of the project in bem-core@v3?
This simple way for settings project, analog `generator-bem-stub`, but without rebase project.

Example:

[code]

[code]

Some people like bh, other bemhtml. But settings make file very hard work.
This is method allows make simple build settings.

[2015-03-16 23:49] tadatuta commented on #941
We're kinda in progress of doing so for quite a long time. And as it turned out, that's not so easy thing to satisfy all the possible cases.

[2015-03-17 04:50] Guria commented on #941
I was thought that bundles should  configure self in its own folder.

@belozyorcev you forgot a layers from library.

[2015-03-17 05:28] belozer commented on #941
@tadatuta You can focus on the problems arising in the community.
@Guria this don't full config file, he is only example :)

[2015-03-17 07:50] qfox commented on #941
I think this should be reviewed after bem/bem-components#1349 only.

**upd** Anyway, this issue about maker configurations and not related to `bem-core`.

[2015-03-17 08:35] narqo commented on #898
https://github.com/bem/bem-core/releases/tag/v2.6.0

[2015-03-17 08:35] #898 closed, assigned to nobody

[2015-03-17 08:38] dfilatov commented on #898
![oh](https://cloud.githubusercontent.com/assets/67957/6683658/1fac0032-cc9a-11e4-9466-2cec3cd5d0ad.jpeg)

[2015-03-18 15:28] qfox commented on #794
@tadatuta Please, take a look and gimme further instructions.

[2015-03-19 13:53] narqo commented on #250
@sameoldmadness both of them

[2015-03-20 14:23] aristov opened #950 "i18n: tech for ENB"
We need to implement ENB techs as described in #576 and in branch [issues/576@v3](https://github.com/bem/bem-core/tree/issues/576%40v3)

[2015-03-20 14:31] aristov commented on #576
[code]

[2015-03-20 14:32] aristov commented on #950
cc @veged @narqo @dfilatov

[2015-03-24 09:30] veged commented on #884
@apsavin sorry, it's more complicated than I suppose — we need to integrate this https://github.com/veged/xjst/pull/41

[2015-03-24 09:32] apsavin commented on #884
Oh, I see... Thanks!

[2015-03-24 13:53] #933 closed, assigned to Murdalay

[2015-03-24 14:25] #920 closed, assigned to Murdalay

[2015-03-24 15:23] #918 closed, assigned to Murdalay

[2015-03-25 08:05] mishanga opened #961 "Attribute escaping optimization"
У нас с незапамятных времен в базовых шаблонах BEMHTML функция attrEscape экранирует 4 символа: кавычку, амперсанд и треугольные скобки.
https://github.com/bem/bem-bl/blob/0.2/blocks-common/i-bem/__html/i-bem__html.bemhtml#L238
В bem-core так же: https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.bemhtml#L229
А вот в BT экранируются только кавычка и амперсанд: https://github.com/enb

[2015-03-25 08:59] qfox commented on #961
:+1: кажется, да.

[2015-03-25 10:57] aristov commented on #961
пывысит?

[2015-03-25 11:36] mishanga commented on #961
@aristov хотел сказать "уменьшит время шаблонизации".

[2015-03-27 19:03] aimuzov opened #964 "Feedback for "Быстрый старт по BEMHTML""
Шаг 5, походу не работает пример:

[code]

На выходе вместо ожидаемого:

[code]

Получаем это:

[code]

Если убрать первый аргумент из функции (content()...), то тогда выдает ожидаемый результат. Поясните, пожалуйста, как сохранить поддержку старого API о котором говорится в примере?

[2015-03-28 13:47] narqo opened #965 "i-bem__dom: Think about getting rid of using jQuery's selectors methods"
According to researches from Chrome DevTools Team and Wikipedia Tech guys, jQuery's selector methods (`jQuery#children()` specifically) can lead to unexpected performance penalties.

As we use such methods internally in our `find*` methods, as well as `destruct` method, additional **performance investigations should be done**.

See ["DevTools: State Of The Union 2015" slides, starting from №54](ht

[2015-03-30 14:52] veged opened #967 "querystring: Move to uri__querystring"
It's more natural hierarchy to have `uri` block and `uri__querystring` element.

[2015-03-30 15:48] #922 closed, assigned to Murdalay

[2015-03-30 15:49] #924 closed, assigned to Murdalay

[2015-03-30 17:17] tadatuta commented on #967
@veged let's also think about getting rid of it at all in honour of https://github.com/bem/bem-history/tree/v2/common.blocks/uri as otherwise we'll get a conflict.

[2015-03-31 06:27] innabelaya commented on #389
The `baseMix` described in https://github.com/bem/bem-core/blob/v2/common.docs/i-bem-js/i-bem-js.ru.md#%D0%9E%D0%BF%D0%B8%D1%81%D0%B0%D0%BD%D0%B8%D0%B5-%D0%B1%D0%BB%D0%BE%D0%BA%D0%B0-%D0%BC%D0%B8%D0%BA%D1%81%D0%B0-%D0%B2-%D0%B4%D0%B5%D0%BA%D0%BB%D0%B0%D1%80%D0%B0%D1%86%D0%B8%D0%B8.
I will update the examples.

[2015-04-01 13:14] #921 closed, assigned to Murdalay

[2015-04-02 14:11] aristov opened #969 "BEMHTML reference: fix typos (port of #968 to v3)"
#968

[2015-04-02 14:26] aristov commented on #873
We need to port it to `v3`

[2015-04-02 14:29] aristov opened #970 "i-bem.bemhtml: decline support of nested mixes at all"
See also https://github.com/bem/bh/issues/125
cc @mishanga @veged

[2015-04-02 14:39] aristov commented on #747
check with `objects:extend` and fix.

[2015-04-02 14:56] mishanga commented on #970
1) в О2 и Лего написаны парные шаблоны для всех блоков, а это значит, что указанная возможность не используется
2) не знаю ни одного человека и ни одного места в коде, который бы это реально использовал

Не вижу смысла нарушать консистентность.

[2015-04-03 13:00] #923 closed, assigned to Murdalay

[2015-04-03 13:18] #925 closed, assigned to Murdalay

[2015-04-03 13:31] #919 closed, assigned to Murdalay

[2015-04-06 13:42] innabelaya commented on #896
Corrected in https://github.com/bem/bem-core/commit/09d4d7f19d9fa077a919de2e12082f0161bac3b4

[2015-04-06 13:42] #896 closed, assigned to nobody

[2015-04-06 13:42] Murdalay commented on #880
Закрыто в пользу отдельных issue для каждого блока.

[2015-04-06 13:42] #880 closed, assigned to Murdalay

[2015-04-06 13:59] innabelaya commented on #389
существующий пример обновлен: https://github.com/bem/bem-core/pull/972

[2015-04-07 10:07] kriku opened #974 "Feedback for "BEMHTML: описание шаблонизатора и его преимуществ""
https://ru.bem.info/technology/bemhtml/v2/rationale/#data-bind

не до конца понял, почему `knockout` так выделили..
и что значит тогда **data-bind**?
если **live-data-bind**  описан как _"отличается тем, что в шаблоне можно декларировать связь не со статическими, а изменяющимися данными"_, тогда наверно и `angular` стоит выделить также

[2015-04-07 10:57] kriku opened #975 "Feedback for "Быстрый старт по BEMHTML""
Start project dont support IE8
why?

[2015-04-07 11:01] tadatuta commented on #975
@kriku according to statistics there's not so many users of IE8 to build it by default. but we provide [HOWTO](https://github.com/bem/bem-components#support-ie8) on IE8 support.

[2015-04-07 16:49] #975 closed, assigned to nobody

[2015-04-08 13:48] #926 closed, assigned to Murdalay

[2015-04-08 13:59] #929 closed, assigned to Murdalay

[2015-04-09 12:18] Murdalay opened #976 "The ua block description rework with new template"

[2015-04-14 12:43] #928 closed, assigned to Murdalay

[2015-04-14 13:01] narqo opened #978 "tick: Fix examples to be consistent with idle"
As we have fixed examples in `idle` block in #942 we need to do the same stuff with `tick`

[2015-04-14 15:10] #927 closed, assigned to Murdalay

[2015-04-15 03:11] sbmaxx opened #980 "Use single quote instead of double in js params"
Это может немного уменьшить размер итогового `HTML`. В `BH` 4.0 @mishanga уже запили. Я попробовал на боевых проектах — 240 КБ превратилось в ~200 КБ.

Как побочный эффект — читать HTML становится приятней, глаз не спотыкается об `&quot;a: 'b'&quot;`

[2015-04-15 06:04] sbmaxx opened #982 "Get rid of buildEscape"
Выпилить генератор escape-методов `buildEscape`
https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.bemhtml#L152-L159, а также её производные https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.bemhtml#L228-L229

В пользу заранее скопипащенных функций. Добавит немного профита к скорости.

Я сделаю PR про это;)

[2015-04-15 09:05] mishanga commented on #980
А после gzip заметна разница?

[2015-04-15 09:15] sbmaxx commented on #980
пара КБ буквально

[2015-04-16 13:30] apsavin opened #983 "i18n: add documentation"
It seems that it's missed.

[2015-04-16 13:41] tadatuta commented on #983
@apsavin actually there's no `i18n` support yet but it's almost there ;)

[2015-04-16 13:45] #980 closed, assigned to nobody

[2015-04-16 13:47] narqo commented on #980
Same as #250 but for v2

[2015-04-16 13:50] #897 closed, assigned to nobody

[2015-04-16 13:52] apsavin commented on #983
oh.
I just used it with bem-bl and I see that we have i-bem__i18n.
What is "almost"?) Could you estimate please?

[2015-04-16 14:13] #583 closed, assigned to qfox

[2015-04-16 18:53] arikon opened #984 "Rename .bemhtml files to .bemhtml.js"
For that we will get:
- syntax highlighting on Github and in all the editors for free
- linters (jshint, jscs) will work with templates without additional configuration

Linked issue https://github.com/bem/bem-components/issues/1464

[2015-04-16 19:27] qfox commented on #984
@arikon Somebody already doing it? Is it viable for v2 also?

[2015-04-16 19:28] arikon commented on #984
@zxqfox I'm not sure about version branch. Let maintainers decide.

[2015-04-16 19:55] #280 closed, assigned to aristov

[2015-04-17 09:46] tadatuta commented on #983
@apsavin ~2 weeks till working state in `v3` branch then some time to backport it to `v2` (it should be fast), then some more time to make v2 release with i18n in it. hope will be there in a month +- 2 weeks.

[2015-04-17 10:05] apsavin commented on #983
Thank you very much for such detailed answer.

[2015-04-17 10:11] vkz opened #987 "bemhtml documentation: fix applyCtx description about assignment in args"
`applyNext` is correct https://ru.bem.info/technology/bemhtml/v2/templating/#applynext (use `{assignObj}`).

`applyCtx` https://ru.bem.info/technology/bemhtml/v2/templating/#applyctx still uses raw assignment in arguments.

[2015-04-18 11:02] sbmaxx commented on #984
:+1:

[2015-04-20 10:59] #982 closed, assigned to nobody

[2015-04-21 16:04] qfox opened #988 "Make possible to use i-bem without jquery"
It's easy to do with YM. We just need to replace jquery module with meta-block (that will load jquery or something other).

There are some other libraries which can be used instead of jQuery: https://tech.yandex.ru/jslibs/

We just need to ask user about several methods (that used inside `i-bem__dom`) and DOMEvents wrappers.

Refs:
- https://ru.bem.info/forum/issues/364/
- https://ru.bem.info/foru

[2015-04-21 16:13] qfox commented on #970
с одной стороны, это правильно, но...

Консистентность это не «если 80% используют — значит она есть». Это «как в малом, так и в великом». Фрактальная структура, если хотите. Согласованность, логичность (не путать с бизнес логикой).

Когда одни правила применимы для CSS и JS, но не применимы для HTML — это неконсистенто.

Если ты не пользуешься теорией графов для расчета наиболее оптимального пути

[2015-04-21 18:01] tadatuta commented on #988
...or just agree that anything else should still be called `jquery` and do nothing special then ;)

[2015-04-21 18:03] tadatuta commented on #970
@zxqfox эту задачу и завели ради rethink, готового решения пока нет

[2015-04-21 18:12] qfox commented on #988
@tadatuta Well, why It's named `jquery` if it's not `jquery`? Bad idea imho.

[2015-04-21 18:18] tadatuta commented on #988
@zxqfox as I've already said on forum, it's just fine for 99% of users and if we'll add one extra layer of abstraction for last 1% we'll get one more extra step for new comers. try to read it as "any module with interface of jquery" ;)

[2015-04-21 18:35] qfox commented on #970
@tadatuta Ну тут явно написано — decline ;-)

[2015-04-21 18:37] qfox commented on #988
@tadatuta Let's rename it to `jquery-like` or to `any-module-with-interface-of-jquery` then.

[2015-04-21 20:01] tadatuta commented on #970
и лейбла question )

[2015-04-21 22:01] qfox commented on #988
@tadatuta Do you apply a PR if we're ready to make it?

[2015-04-21 22:06] qfox commented on #988
/cc @pavelpower

[2015-04-22 13:48] #930 closed, assigned to Murdalay

[2015-04-22 14:45] tadatuta commented on #988
@zxqfox you'd better try to convince @veged as a maintainer.
as for me as a user of `bem-core`, I'm just happy with current state of things ;)

[2015-04-22 14:48] qfox commented on #988
@tadatuta Well, okay, but still it's a weak position when we can't switch between different modules providing the same functionality. It's a kind of oligopoly.

Let's say, what If I want another promise library? I should name it `vow`?

[2015-04-22 20:33] #932 closed, assigned to Murdalay

[2015-04-22 21:48] pavelpower commented on #988
@zxqfox, @tadatuta  I'm ready to replace JQuery on just the interface. And give select users the ability a suitable implementation.

experience we already have in our projects.

Isn't it, @DenisChinin

[2015-04-27 12:15] Murdalay opened #991 "The page block description rework with new template"

[2015-04-27 12:35] #978 closed, assigned to Murdalay

[2015-04-27 15:52] arikon commented on #586
@veged Почему вы решили добавлять `_` к защищённым методам? Они же, по сути, являются частью публичного API в терминах semantic versioning (можно доопределять на сервисе; нужно гарантировать сигнатуру неизменной).

[2015-04-27 16:54] qfox commented on #586
Если нужны только приватные — можно выставить `"leadingUnderscoreAccess": private` в `.jscsrc`

@arikon Главное без фанатизма к ООП подходить, наследование второго уровня — пол беды, третьего уровня — беда ;-(

[2015-04-28 12:24] veged commented on #586
`_` показывает, что этот метод нельзя внутри своего кода вызывать

[2015-04-28 12:26] qfox commented on #586
В общем, у нас нет `@protected`. Только `@private` и `@public`. чтоли?

[2015-04-28 12:36] veged commented on #988
you always can mimic jQuery (just as @tadatuta says, with redefining of `jquery` module) — I can't see any needs to abstract it

[2015-04-28 12:36] qfox commented on #988
@veged Inconsistency shit here. ;-(

[2015-04-28 12:38] veged commented on #988
you just too pedant ;-)

[2015-04-28 12:39] #988 closed, assigned to nobody

[2015-04-28 12:41] qfox commented on #988
Well, nope.

Simple case: I'm using something that mimic to jquery, then I want to use some library that want jquery => I'm writing my own jquery over other library.

Newcomers see this code and telling me that I'm an idiot that using BEM.

[2015-04-28 12:47] veged commented on #988
if your library truly mimic jQuery it's enough for any other some library which want jQuery

[2015-04-28 13:06] pavelpower commented on #988
@zxqfox  :+1:

[2015-04-28 20:24] narqo commented on #586
@zxqfox `on` (`bindTo` и остальные методы про подписку на события), `emit` — `@protected`-методы, которые «нельзя» вызывать у инстанса, только у себя (`this`).

[2015-04-28 20:31] qfox commented on #586
@narqo Всмысле, у класса? https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/__dom/i-bem__dom.js#L1186-L1332 — статические вот эти? Тогда я за префикс/постфикс `_`

[2015-04-29 08:45] narqo commented on #586
Нет, у инстанса, в первую очередь:

[code]

[2015-04-29 09:38] qfox commented on #586
а как? скажем, есть у нас menu — у него внутри menu-item разные или элементы:

[code]

Так чтоли?

Я не очень понимаю, почему они должны быть `@protected`.

Case 2:

[code]

Как ловить это событие?

[2015-04-29 09:45] Murdalay opened #993 "i-bem reference document: fix the mistake in example"

[2015-04-29 10:00] narqo commented on #586
Для первого случая, в v3 мы делаем `event-manager`. Через него ты _свой блок_ будешь подписывать на события _чужого блока_ Сейчас ты вынужден подписывать _чужой блок_ на _его же_ события, передавая _свои хендлеры_ — это ведет к необходимости помнить про отписку, в случае _твоего_ деструкта (и это «не очень»)

Второй кейс даже в v2 выглядит надуманным, зачем тебе BEM-блок? `evens.Event` не подойдет

[2015-04-29 10:03] qfox commented on #586
Вполне обычный кейс: `input.on('change', ...);`

В таком случае я вообще не понимаю.
`this.findBlockInside('link').bindTo('blah') // — не очень` а это нельзя через event-manager делать?

[2015-04-29 10:12] narqo commented on #586
У тебя в примере `BEM.decl` (не `BEMDOM.decl`). Для BEMDOM-блоков будет event-manger для подписки на BEM- и DOM-события. Подробности в #394

Давай сразу перестанем тут придумывать кейсы «как отстрелить себе что-то». Любые задачи можно решить в рамках текущего API (и даже в рамках API bem-bl, при желании). Задача: сделать API, которое позволит решать пользователю те же задачи, не держа в голове куч

[2015-04-29 10:14] qfox commented on #586
@narqo Давай не будем. Тогда если я сам вешаю обработчик — я сам его должен снимать. И в этом случае, проще оставить их `@public` и не приписывать `_`. И тогда все логично ;-)

[2015-04-29 12:50] #993 closed, assigned to Murdalay

[2015-04-29 12:50] tadatuta commented on #993
Fixed in https://github.com/bem/bem-core/commit/60243cfc1e26ca71da662698221fbda0ab27b0f2

[2015-04-29 12:54] tadatuta commented on #987
Fixed in https://github.com/bem/bem-core/pull/992

[2015-04-29 12:54] #987 closed, assigned to Murdalay

[2015-04-29 13:24] veged commented on #984
:+1:

[2015-04-29 13:33] veged commented on #983
need documentation for #576

[2015-04-29 13:46] veged commented on #974
да, надо перенести Angular.js из примеров data-bind в примеры live-data-bind

[2015-04-29 13:53] veged commented on #965
which performance investigations you suggest to do? on which synthetic pages?

[2015-04-29 14:46] Murdalay opened #996 "i-bem reference document: fix the misuse of e.currentTarget in the example"

[2015-04-29 15:47] #996 closed, assigned to Murdalay

[2015-04-30 13:24] Murdalay opened #998 "precommit hook reports the error on .md files"
For example:

[code]

[2015-04-30 14:47] #976 closed, assigned to Murdalay

[2015-05-01 18:33] tadatuta opened #999 "Update jQuery to 1.11.3 and 2.1.4"

[2015-05-01 19:28] qfox commented on #999
What if... Somebody can't use 2.x? ;-)

[2015-05-01 20:41] tadatuta commented on #999
@zxqfox they should [keep calm](https://github.com/bem/bem-core/blob/v2/desktop.blocks/jquery/__config/jquery__config.js#L16) and carry on :)

[2015-05-01 20:42] qfox commented on #999
Well, I hate that hardcode. You know. :smirk_cat:

[2015-05-05 10:59] tadatuta opened #1000 "Update JSDoc to fit new version of jsd"

[2015-05-05 11:02] gela-d opened #1001 "Rewrite jsdoc in the likeness of bem-components"
The current jsdoc is outdated and we need jsdoc in the likeness of bem-components for the correct jsdoc's display on bem.info

[2015-05-05 11:02] gela-d commented on #1001
cc @tadatuta @aristov

[2015-05-05 11:05] tadatuta commented on #1001
duplicate of https://github.com/bem/bem-core/issues/1000

[2015-05-05 11:05] #1001 closed, assigned to nobody

[2015-05-05 11:37] narqo opened #1002 "keyboard__codes: Wrong codes for keys INSERT and DELETE"
`INSERT` has code 45, and `DELETE` has 46

See http://www.cambiaresearch.com/articles/15/javascript-char-codes-key-codes for reference

[2015-05-05 14:14] #961 closed, assigned to nobody

[2015-05-05 14:27] tadatuta commented on #938
https://github.com/bem/bem-core/pull/946

[2015-05-05 14:27] #938 closed, assigned to tadatuta

[2015-05-05 14:33] deeonis commented on #914
Инна, допингуй Сережу для описания того зачем нужен BEMDOM.scope

[2015-05-05 14:50] veged commented on #886
I think that @narqo says about right way — `block('content').match(!this._wasRendered)` will do exactly what needed and doesn't produce any "magic" underhood behaviour

[2015-05-05 14:55] deeonis commented on #879
We need more

[2015-05-05 14:57] narqo commented on #879
Waiting for #394 first

[2015-05-05 15:00] #872 closed, assigned to nobody

[2015-05-05 15:03] veged commented on #870
close us discussed with @narqo and @dfilatov

[2015-05-05 15:03] #870 closed, assigned to nobody

[2015-05-05 15:09] deeonis commented on #860
Нужно понять портировали ли мы это в v3

[2015-05-05 15:09] deeonis commented on #860
ping @dfilatov

[2015-05-05 15:10] #868 closed, assigned to tadatuta

[2015-05-05 15:15] deeonis commented on #852
Need port to v3

[2015-05-05 15:16] apsavin commented on #886
It's strange to write `block('content').match(!this._wasRendered)` for _all_ blocks, but I see, that it's better to handle this on my part.

[2015-05-05 15:16] #886 closed, assigned to nobody

[2015-05-05 15:25] tadatuta commented on #832
Example of current state

[code]

[2015-05-05 15:25] tadatuta commented on #832
TODO: find some more examples to summarise

[2015-05-05 15:40] apsavin commented on #832
@tadatuta should I give you an example of how I use it?
I just build a node.js + bemtree so I have a file like this

[code]

and then I'm able to use bemtree:

[code]

so I don't use `vm` and don't use global variables into BEMTREE.

[2015-05-05 15:45] #1002 closed, assigned to narqo

[2015-05-05 16:22] dfilatov commented on #860
Yes, it has already been ported to v3.

[2015-05-05 16:22] #860 closed, assigned to dfilatov

[2015-05-05 17:49] tadatuta commented on #832
@apsavin how do you handle cache? when node.js file is changed won't it trigger BEMTREE templates recompilation?

[2015-05-05 19:31] narqo commented on #832
@tadatuta we use [luster-guard](https://github.com/nodules/luster-guard) for such tasks (but of course, this is not the only solution)

[2015-05-05 20:20] tadatuta commented on #832
@narqo I don't understand how can it help when bemtree and node.js code is in the same bundle.

[2015-05-06 11:58] tadatuta opened #1005 "Build touch instead of touch-pad and touch-phone"

[2015-05-06 12:07] sipayRT commented on #1005
:+1:

[2015-05-06 15:13] indutny opened #1007 "Use `replace()`/`extend()`"
**Blocked by: https://github.com/enb-bem/enb-bemxjst/issues/37**

Please consider using `replace()` instead of:

[code]

[2015-05-07 08:37] narqo opened #1008 "i-bem: Wrong processing of undefined mod value in hasMod"
I've noticed it while I was working on #904

[code]

Looks like v2 branch behaves normally.

[2015-05-08 13:10] sipayRT opened #1009 "Update jscs-bem version"

[2015-05-08 13:15] qfox commented on #1009
@sipayRT Есть смысл сам jscs-bem обновить, кстати. Там много чего сделано в jscs@1.13.1 и jscs-jsdoc@1.0.0 ;-) В т.ч., можно правила код стайла уточнить.

[2015-05-08 13:37] sipayRT commented on #1009
@zxqfox потом еще раз апну версию - не проблема :)

[2015-05-08 13:39] sipayRT commented on #1009
@zxqfox хотя, можно и посмотреть на изменения.

[2015-05-10 16:58] tadatuta opened #1010 "Simplify build config"
Not to forget about `npm run deps && magic run examples docs && magic make *.bundles/*`

[2015-05-10 17:01] #1005 closed, assigned to tadatuta

[2015-05-13 15:39] #931 closed, assigned to Murdalay

[2015-05-14 15:07] aristov commented on #717
@mishanga is it already supported in `bh`?

[2015-05-14 15:31] aristov commented on #577
Close in favour of #950

[2015-05-14 15:31] #577 closed, assigned to blond

[2015-05-14 15:32] aristov commented on #950
@blond ping

[2015-05-14 15:38] blond commented on #950
WIP — https://github.com/blond/enb-bem-core-i18n

[2015-05-14 15:45] mishanga commented on #717
В BH это пока не сделано. И мне хотелось бы иметь полноценную возможность миксовать таким образом любые БЭМ-сущности, а не только блоки.

[2015-05-14 16:07] veged commented on #950
@blond do you have any time estimates?

[2015-05-14 16:22] veged commented on #717
про любые БЭМ-сущности у нас тут расходится идеология:
- мы нигде не используем "языки" в js-строках (разметка через _ это тоже считай наноязык) — это касается всего кода во всех местах (общий принцип), иногда кажется, что хочется его нарушить, но если быть последовательными, то это дорога в... в общем не хочется ;-)
- но в BH изначально матчинг сделан нарушая этот принцип

Но! кажется, что если с

[2015-05-14 16:33] blond commented on #717
Достаточно просто передавать опцию `naming: { elem: '__', mod: '_' }`, которая будет говорить о том как следует интерпретировать строки.

[2015-05-14 16:35] blond commented on #950
@veged one week

[2015-05-14 16:36] qfox commented on #717
@blond В BH не все так просто.
https://github.com/bem/bh/blob/master/lib/bh.js#L731-L760
https://github.com/bem/bh/blob/master/lib/bh.js#L1104-L1121

toBemCss — более менее, а fromBemCss — прохардкожен.

Я вынес это дело в bh-php так: https://github.com/bem/bh-php/blob/master/src/BH.php#L690-L704

[2015-05-14 16:39] veged commented on #717
дело не в том, как сложно реализовать парсинг кастомного языка из js-строк, а в том, что это в принципе нужно делать — это всё "затуманивает"

[2015-05-14 16:42] blond commented on #717
Расшифруешь? :)

Желание то понятно откуда берётся — писать меньше буковок.

[2015-05-14 16:47] qfox commented on #717
Пара мыслей:

[code]

Если мы будем такое поддерживать (bem-naming, и все такое, да?), в жизни получится так:

[code]

Можно было бы предложить переключать:

[code]

Но как-то грязно все.

Есть еще вариант делать это на уровне сборки — при парсинге пересобирать первый параметр match в другой формат, или сразу объект туда писать (что более логично — меньше в рантайме делать, но в bh надо будет патч

[2015-05-14 16:52] qfox commented on #717
В общем, я согласен с @veged.

[2015-05-14 16:52] veged commented on #717
@blond "язык" внутри js-строк — нет хайлайтинга, нет синтаксической валидации и т.д. и т.п., а сам синтаксис языка отдельно учить надо

[2015-05-14 16:55] blond commented on #717
@veged всё так, но мы же в `js` и `css` так не делаем, почему для шаблонов это важнее?

[2015-05-14 16:57] qfox commented on #717
@blond Как это не делаем, когда у нас либо less, либо stylus, либо еще что-то? Равно как и this.name мы тоже используем, и `{block: 'b', elem: 'e'}` пишем.

[2015-05-14 17:06] blond commented on #717
Открываем код `button`.

JavaScript:

[code]

Стили:

[code]

[2015-05-14 20:06] veged commented on #717
@blond как раз это из js правило (в css просто выразительность языка маленькая и там могут быть какие-то условности) — а имена модулей в модульной системе это просто от ограничения ymodules (именами модулей могут быть только строки), в `BEMDOM.decl` нет никаких строк

[2015-05-14 20:07] #719 closed, assigned to nobody

[2015-05-14 21:07] #722 closed, assigned to tadatuta

[2015-05-14 21:17] #717 closed, assigned to tadatuta

[2015-05-14 22:08] #881 closed, assigned to aristov

[2015-05-14 22:08] aristov commented on #881
Fixed in #883

[2015-05-15 18:33] apsavin commented on #832
@tadatuta I use bem-tools + gulp + gulp-watch and I see no problem with templates' recompilation.

[2015-05-18 19:52] tadatuta opened #1015 "Update xjst related docs"

[2015-05-19 07:33] sipayRT opened #1017 "Update enb-bem-* packages"

[2015-05-19 07:52] #1017 closed, assigned to sipayRT

[2015-05-19 14:40] veged commented on #902
which deps should be updated?

[2015-05-19 14:43] narqo commented on #830
Fixed with #982

[2015-05-19 14:43] #830 closed, assigned to nobody

[2015-05-19 14:44] #828 closed, assigned to nobody

[2015-05-19 14:58] tadatuta commented on #790
will support `ENB make` in https://github.com/bem/bem-tools/pull/569 and as so we can keep `bem-tools` support

[2015-05-19 14:58] #790 closed, assigned to nobody

[2015-05-19 21:27] hcodes commented on #902
https://david-dm.org/bem/bem-core#info=dependencies&view=table
https://david-dm.org/bem/bem-core#info=devDependencies&view=table

[2015-05-19 21:32] hcodes commented on #902
- add deps badge in README.md.

[2015-05-20 14:07] tadatuta opened #1019 "i-bem.js: Add info about js params"
There's no info about js params in i-bem.js documentation. Refer: https://github.com/bem/bem-forum-content-ru/issues/407

[2015-05-21 11:24] deeonis commented on #747
@aristov ping

[2015-05-21 11:33] veged commented on #730
@zxqfox i know, but it's not about flag but about priority of redefinition

@mishanga plz take a look

[2015-05-21 11:53] deeonis commented on #621
need port to v3

[2015-05-21 11:55] deeonis commented on #602
@tadatuta @apsavin ping

[2015-05-21 11:57] mishanga commented on #730
Я +1 к автору issue.
BH тут не при чем, там своя логика с force.

[2015-05-21 12:16] apsavin commented on #602
@deeonis I'll do.

[2015-05-21 12:22] veged commented on #730
речь про то, что сейчас в BEMHMTL и в BH одинаковый приоритет между шаблонами и входным BEMJSON:

[code]

даёт `<div class="example" a="1"></div>`, а хочется `<div class="example" a="2"></div>` и если это менять, то и в BH надо менять симметрично

[2015-05-21 12:24] mishanga commented on #730
Не надо сравнивать одно с другим. В BH и BEMHTML совершенно разные механизмы заложены. Давайте говорить только про BEMHTML. Он должен быть сам по себе консистентным: если мода tag в шаблонах заруливает BEMJSON, то и с attrs должно быть так же.

[2015-05-21 13:24] veged commented on #730
как же разные, если одни и те же по смыслу шаблоны работают одинаково? o_0

суть тикета в том, что я готов исправить это поведение на "консистентное" (в понимании большинства), но логично симметричное поведение иметь и в BH (в своё время ты же делал как раз разное поведение в BH для attrs и остальных)

[2015-05-21 14:06] mishanga commented on #730
Разница в том, что BH модифицирует контекст, а BEMHTML — нет. После применения первого шаблона мы теряем информацию о том, каким было изначальное значение в BEMJSON.
Тот факт, что сейчас шаблоны выглядят похожим образом и работают одинаково — чистое совпадение :) Как только появляется какая-то вложенность, эта иллюзия рушится.
В attrs такое же поведение, как везде: `return force ? extend(base, new

[2015-05-21 15:53] veged opened #1020 "page: Fix `zoom` for touch level"
Should work as

[code]

Don't forget to add tmpl-specs.

[2015-05-21 16:02] #991 closed, assigned to Murdalay

[2015-05-22 10:11] veged commented on #730
ну оок ;-) если ты говоришь, что ничего не надо, значит не надо

[2015-05-23 23:03] tadatuta opened #1021 "Support bem-xjst 2.x"

[2015-05-24 09:07] apsavin commented on #602
As I can see, the changes are already in v3.

[2015-05-24 09:07] #602 closed, assigned to nobody

[2015-05-24 09:13] apsavin commented on #884
Any news here?

[2015-05-25 09:01] veged commented on #884
yep — we wait for https://github.com/bem/bem-core/pull/899

[2015-05-27 14:36] dfilatov opened #1023 "events: Get rid of "result" field in `Event`"

[2015-05-27 14:49] dfilatov opened #1024 "events: get rid of static method of `Emitter`"

[2015-05-27 15:40] dfilatov opened #1025 "i-bem: Improve check for method calls in case of decl with modifier"
In case we have a decl like the on below:

[code]

[2015-05-27 15:50] #389 closed, assigned to innabelaya

[2015-05-27 18:07] #755 closed, assigned to Murdalay

[2015-05-28 14:23] #594 closed, assigned to nobody

[2015-05-29 08:35] voischev opened #1026 "i-bem.bemhtml: BEMJSON для элемента зависящего от модификаторов блока должен работать"
Привет. Встретил такой кейс. Нужно от шаблонизировать элемент блока-с-модификатором в браузере

Шаблон

[code]

Элемент `result` хочется отшаблонизировать на клиенте

[code]

Результат

[code]

Все как нужно, но **block__result_foo_bar** Который совсем не нужен, который совсем не ожидаешь.

Почему так?
Как поступать в таких случаях?

[2015-05-29 08:47] tadatuta commented on #1026
Плохой вариант:

[code]

Хороший вариант: сделать `result` самостоятельным блоком, смиксованным с `block__result`.

[2015-05-29 09:54] qfox commented on #1026
Кажется, что BEMHTML должен уметь делать что-то типа:

[code]

[2015-05-29 09:56] voischev commented on #1026
Почему нельзя использовать `elemMods` для элемента, а `mods` только для блока?? Зачем оно на элемент прокидывается?

[2015-05-29 09:57] qfox commented on #1026
@voischev Я вообще не знаю зачем оно в bemjson. Для bemhtml — не знаю зачем в шаблоны пробрасывается. Не увидел убедительных доводов: https://github.com/bem/bem-method/issues/250

[2015-05-29 10:35] Guria commented on #1026
@voischev @zxqfox Похоже у вас разные точки зрения на этот счёт :)

[2015-05-29 10:38] qfox commented on #1026
@Guria сходимся в том, что все это неоднозначно и стоит причесать ;-)

[2015-05-29 15:31] narqo commented on #1026
Историческая данность, которую [надо починить](https://github.com/bem/bem-core/blob/9fc75476e99c701a403e7be96b22922a4fb97deb/common.blocks/i-bem/i-bem.bemhtml#L359), но при этом не сломать кому-нибудь, что-нибудь. При этом кейс возникает достаточно редко, чтобы про него постоянно все забывали.

Поведение уходит далеко в прошлое и базируется на идее «элемент у блока с модификатором невозможен». А р

[2015-05-29 21:17] aristov opened #1027 "i-bem: fix getMod jsDoc"
[As described in jsDoc](https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.vanilla.js#L299) `getMod` returns strings only. But it returns boolean `true` for existing boolean modifier. It seems that we should fix jsDoc by adding `Boolean` type to the list of returned value types.
Yet another unclear thing is why `getMod` [returns an empty string](https://github.com/bem/bem-core/blob/

[2015-05-29 21:41] qfox commented on #1027
:+1:

`false` shouldn't be returned since boolean modifiers either exists or doesn't. Not sure what it returns atm, but it should be the same as `getMod` call on non-set modifier. imo.

[2015-05-30 10:25] dfilatov commented on #1027
I can't understand how you want to determine if a modifier is a boolean or not in runtime, especially when it wasn't set before.

[2015-05-30 13:01] qfox commented on #1027
That's why it should return default value if mod isn't set.

[2015-05-30 13:07] aristov commented on #1027
Can we assume that we have boolean modifiers which value is `true` or `false` and multi-value modifiers that might have a set of string values, or boolean `false` if it's not specified?

[2015-05-30 13:34] qfox commented on #1027
@aristov :+1: Good for me.

[2015-05-31 13:27] dfilatov commented on #1027
I haven't seen why this solution is better. There's no value `false`, there's no modifier at all.
If you know you deal with boolean modifier you can use `hasMod` which always returns boolean.

[2015-05-31 13:52] qfox commented on #1027
@dfilatov Modifier doesn't exist by default and `false` value means that modifier is not set. Another option is `null`.
Imagine you need to store state of block/elem instance to revive it later: what common data you need to store? `{block, elem, mods, params, ...}`.

p.s. `hasMod` is nice method, but I don't see a purpose of it (since boolean modifiers was implemented).

[2015-05-31 14:01] qfox commented on #1027
I'd say:
- "As described in jsDoc getMod returns strings only" — just add `boolean` to jsdoc
- "why getMod returns an empty string for missing" — let's decide what it should be
  - `false` since modifier isn't set
  - `null` if you don't like `false` — then we should add `?` to the front in jsdoc.

Also the second part can make code cleaner.

Another thing: we can think about declaring modifier ty

[2015-06-02 11:41] veged commented on #1027
we can't use complex types for modifiers because of "multilingual" nature of BEM — we need to support those modifiers values on filesystem, CSS and so on

so I confidently believe in empty string as only possible value for unset modifier

[2015-06-03 01:56] qfox commented on #1027
@veged actually, serialization + deserialization is the key here.

And I don't see why you closed it. It returns `true` in some cases so will be better to add Boolean to type.

[2015-06-03 09:25] aristov commented on #1027
@zxqfox could you make PR, please?

[2015-06-03 12:54] narqo opened #1028 "identify: Get rid of onlyGet argument"
As we don't use `onlyGet` argument anywhere, we can remake the API of the module to works like this `identify(...args)`.

This will be help us to reduce copy-paste like `var fnId = identify(fn) + (fnCtx? identify(fnCtx) : '')`

[2015-06-03 14:40] aristov commented on #1028
`onlyGet` [is used](https://github.com/bem/bem-core/blob/v3/common.blocks/i-bem-dom/i-bem-dom.js#L636) in `i-bem-dom` before #977 changes. Are you sure that it'll not be needed later?

[2015-06-03 15:34] narqo commented on #1028
Yes, we are. It was introduced mainly for the part you have found. As we don't do manual DOM traversing in our new event-system it can be dropped safely.

[2015-06-04 12:24] narqo opened #1030 "Release 2.7.0"
We have [100+ new commits in v2](https://github.com/bem/bem-core/compare/v2.6.0...v2). It looks like we can start plaining new minor version now.

[2015-06-04 12:26] narqo commented on #1030
@tadatuta if there are anything you think should be added to release, please add **2.7 Milestone** to it. So we can wait until all tasks are to be done.

[2015-06-04 14:51] dfilatov opened #1031 "i-bem-dom: find*Elem doesn't work inside elem"

[2015-06-05 10:50] #394 closed, assigned to dfilatov

[2015-06-05 10:55] narqo commented on #394
Done with #977. The final API is:
- `this._domEvents([event context]).on('dom-event', handler)`
- `this._events([event context]).on('event', handler)`
- `this._emit('event', data)`

[2015-06-05 11:41] #1023 closed, assigned to narqo

[2015-06-05 11:41] narqo commented on #1023
Done with #1034

[2015-06-05 11:41] #1024 closed, assigned to narqo

[2015-06-05 11:41] narqo commented on #1024
Done with #1023

[2015-06-05 11:42] #1031 closed, assigned to dfilatov

[2015-06-05 11:51] narqo opened #1036 "Rename BEMDOM to bemDom"

[2015-06-05 13:25] narqo commented on #1028
Landed with #1035

[2015-06-05 13:25] #1028 closed, assigned to narqo

[2015-06-05 15:45] qfox opened #1037 "i-bem__dom: dropElemCache is broken?"
Looks like it's broken, because it uses `names + buildModPostfix(modName, modVal)` instead of `this.__self.buildClass(name, modName, modVal)` that contains `blockName`.

/cc @Yeti-or

[2015-06-05 16:38] qfox commented on #1037
Wow, dat fight between @levonet and @tavriaforever.

[2015-06-06 11:05] aristov commented on #1037
Mad robots...

[2015-06-06 14:06] dfilatov commented on #1037
I can't wait until robots start writing code

[2015-06-06 14:43] dfilatov commented on #1037
@zxqfox I don't understand why cache key should contain blockName.

[2015-06-06 15:30] qfox commented on #1037
@dfilatov same here, but for now it looks like a bug.

[2015-06-06 19:35] dfilatov commented on #1037
@zxqfox Sorry, I can't make head or tail of what you have written. Could you explain?

[2015-06-06 20:47] blond opened #1039 "CI: specs completed well, even if there are errors"
Need use `magic run specs && magic run tmpl-specs` instead of `magic run specs tmpl-specs`.

[2015-06-08 10:15] #1039 closed, assigned to narqo

[2015-06-08 15:02] dfilatov commented on #1037
ping

[2015-06-08 15:37] qfox commented on #1037
@dfilatov текущий dropElemCache работает только без параметров, потому что elem кеширует с названием блока, а первый удаляет без. Зачем там название блока — не знаю, в PR наименьшее кол-во измененного кода, по-хорошему, нужны тесты.

[2015-06-08 15:49] Yeti-or commented on #1037
@dfilatov мы разбирали пр в bem-bl и выяснилось что dropElemCache не работает: https://github.com/bem/bem-bl/pull/634

[2015-06-08 15:57] dfilatov commented on #1037
oк, теперь я понял

[2015-06-09 11:30] dfilatov opened #1043 "Run linters for PR"

[2015-06-10 11:21] narqo opened #1044 "i-bem__dom: Rename containsDomElem() to containsBemEntity()"

[2015-06-10 11:31] narqo opened #1045 "i-bem: Make privates more name collision resistant"
We need to think how to rename private methods and fields to prevent accident name collisions. Currently, names like `_init()`, `_block` are too common to be private.

[2015-06-10 12:45] narqo commented on #1037
Fixed with #1042

[2015-06-10 12:45] #1037 closed, assigned to qfox

[2015-06-10 12:50] narqo commented on #1008
We've discussed it with @dfilatov and @aristov and decided that this particular case should be solved with proper warnings, as the case itself is not specified in the jsdoc of the method.

Close in favour of #836

[2015-06-10 12:50] #1008 closed, assigned to nobody

[2015-06-10 16:50] qfox commented on #1045
Perhaps we should use double lodash for these purposes?

[2015-06-10 17:23] narqo commented on #950
@blond is there anything to look at?

[2015-06-10 18:23] aristov commented on #950
@narqo the ball is on my side: I promised to look and try [enb-bem-core-i18n](https://github.com/blond/enb-bem-core-i18n), but just start to do this. I'll be glad to receive any help if possible.

[2015-06-10 20:22] blond commented on #950
@aristov, Now we are making these changes to the `enb-bem-i18n` package in `1.x` branch.

[2015-06-10 23:09] narqo opened #1047 "i-bem: Add deprecation notes to things that will be changed or removed in 4.0"
We already have made some notable changes in v4 and the actual list of changes is not completed yet.

This is a meta issue, to not to forget to add deprecation notes to the v2 branch, when the the final scope of the 4.0 will be ready.

Note "v2" label and "4.0" milestone here, shows that the actual work would be done in v2 and it blocks 4.0.

[2015-06-11 12:28] #586 closed, assigned to aristov

[2015-06-11 12:28] narqo commented on #586
done with #1046

[2015-06-11 13:50] #1021 closed, assigned to tadatuta

[2015-06-11 18:33] aristov opened #1052 "page: fix docs about `zoom` special field"

[2015-06-11 21:30] dfilatov opened #1055 "next-tick: use `MutationObserver` if possible"

[2015-06-11 21:31] dfilatov opened #1056 "vow: bump to 0.4.10"

[2015-06-11 21:44] narqo commented on #1055
According to [this research](https://github.com/YuzuJS/setImmediate#macrotasks-and-microtasks) there is some difference in a way how `MutationObserver` works, comparing to other ways to emulate `next-tick`. Are you sure it can be used?

To be honest, I can't said, I completely understand the difference. So just asking ;)

[2015-06-11 21:52] dfilatov commented on #1055
I've checked some popular libraries such as Bluebird, rsvp and figured out they use `MutationObserver` first of all.
And I've made my own simple tests which proved that using `MutationObserver` was much "faster" than `postMessage`.

[2015-06-11 22:01] dfilatov commented on #1055
@narqo I think it fits to our purposes.

[2015-06-11 22:22] dfilatov commented on #1055
I've realized the difference (different behaviour with eventloop). So you're right we need to think careful of its usage within this module.

[2015-06-13 17:23] tadatuta commented on #1009
Please refer https://github.com/bem/bem-core/commit/37fb01bce722792cf8e11ac325ae5b28376cc00b as a part of https://github.com/bem/bem-core/pull/1059

[2015-06-13 23:32] #794 closed, assigned to tadatuta

[2015-06-15 08:15] sipayRT commented on #1009
Close because of #1059

[2015-06-15 08:15] #1009 closed, assigned to sipayRT

[2015-06-16 10:18] #1052 closed, assigned to aristov

[2015-06-16 10:19] #1020 closed, assigned to aristov

[2015-06-16 10:32] L0stSoul commented on #158
Думаю что нет :) крутяк!

[2015-06-16 10:32] #158 closed, assigned to nobody

[2015-06-16 11:12] #1036 closed, assigned to aristov

[2015-06-16 11:13] #1027 closed, assigned to aristov

[2015-06-16 11:14] aristov commented on #1027
Landed with #1063 and need to port it to v3

[2015-06-18 17:47] aristov commented on #950
I've created [enb-bem-i18n-test branch](https://github.com/bem/bem-core/tree/enb-bem-i18n-test) with [simple config](https://github.com/bem/bem-core/blob/enb-bem-i18n-test/.enb/make.js) and special [i18n testing bundle](https://github.com/bem/bem-core/tree/enb-bem-i18n-test/common.bundles/i18n).
Everything works fine, but I'm not sure, that I [build `?.{lang}.js` files](https://github.com/bem/bem-

[2015-06-19 10:08] narqo opened #1066 "jquery__events_type_pointernative: pointerdown event works incorrectly in IE Edge"
Looks like our pointerevents polyfill works badly in the upcoming IE Edge. At least blocks `select` and `dropdown` from bem-components 2.1.x are closing immediately after the user clicks on their `button`.

Here are the suggestions from Microsoft Edge Team, sent to the front-end team of "_[project with bem-components]_":

[2015-06-19 10:40] arikon commented on #1066
We are going to use PEP in `islands`: https://github.com/jquery/PEP

[2015-06-19 22:48] blond commented on #950
@aristov, it looks good.

Some comments:

Instead of [./techs/i18n-bemjson-to-html](https://github.com/bem/bem-core/blob/enb-bem-i18n-test/.enb/make.js#L27) tech need use [enb-bemxjst/techs/bemjson-to-html](https://github.com/enb-bem/enb-bemxjst/blob/master/techs/bemjson-to-html.js).

For [merge](https://github.com/bem/bem-core/blob/enb-bem-i18n-test/.enb/make.js#L16-L20) client JavaScript files w

[2015-06-22 12:54] oberset opened #1067 "querystring.parse некорректно обрабатывает строку с хэшем на конце"
qqq=1&aaa=2&param1=2#hash

Вызов querystring.parse запишет #hash в значение param1

{
  qqq: "1",
  aaa: "2",
  param1: "2#hash"
}

Костыль для решения проблемы:

[code]

[2015-06-22 18:48] narqo commented on #1067
С точки зрения `querystring` поведение нормальное (qs в node.js работает так же). Посмотри модуль uri в [bem-history@v2](https://github.com/bem/bem-history/tree/v2/common.blocks/uri), кажется, он решает твои задачи

[2015-06-22 18:50] #1044 closed, assigned to narqo

[2015-06-22 18:58] narqo opened #1068 "i-bem-dom: Rename _js_inited modifier to _inited"
`_js_inited` looks like an artifact of ancient age, when be didn't have boolean modifiers. Now, as we have them, it looks more natural to have `_inited` modifier, as we do have `_disabled`, `_pressed` Etc.

cc @dfilatov

[2015-06-22 19:50] qfox commented on #1067
@narqo qs в nodejs очень примитивный, так-то.

@oberset кажется, что есть непонимание что такое querystring и что такое uri.

`/?<querystring>#foobar` — это uri, и с точки зрения `querystring` парсера `#` не является служебным символом, значит и не парсится. Либо надо руками отрезать (костыль), но лучше посмотреть откуда приезжает эта строка, потому что если это не часть значения параметра — её та

[2015-06-22 22:57] narqo commented on #1067
Все таки это стандартное поведение для всех языков: проверил `uri.ParseQuery()` в go, `urlparse.parse_qsl()` в python и даже `parse_str()` в php :) Для входной строки из описания, результат один и тот же.

Как уже написал @zxqfox:

[2015-06-22 22:57] #1067 closed, assigned to nobody

[2015-06-23 10:59] #1055 closed, assigned to dfilatov

[2015-06-23 12:47] arikon opened #1070 "page: CSP meta-tag support"
Proposing forward-porting of Content Security Policy (CSP) support from `bem-bl`'s `b-page` to the `page` block.

PR to `bem-bl`: https://github.com/bem/bem-bl/pull/650
PR to `islands`: https://nda.ya.ru/3QnPqJ

[2015-06-23 13:48] Guria commented on #1070
CSP support was added in #882
bem/bem-bl#650 seems about csp meta-tag

[2015-06-23 14:27] #1045 closed, assigned to dfilatov

[2015-06-24 08:23] arikon commented on #1070
@Guria Yes, it is about meta-tag with Content Security Policy

[2015-06-24 09:49] narqo commented on #1070
@arikon is it true, that these things from bem/bem-bl#650 are made just to set proper **defaults** for CSP policies, which are needed _mostly_ for Yandex services? If not, why not to just ask users to add proper `meta` tag with `{ elem : 'meta' }`?

[2015-06-24 11:24] arikon commented on #1070
@narqo It is a feature to set CSP more conventionally, not like single string as a value of attribute. We could also provide reasonable defaults (`self` for most policies etc).

[2015-06-24 11:56] dfilatov opened #1072 "i-bem: Add ability to specify onSetMod callback called when specific value changed to another"
One of possible proposal is to use `~` or `!` to declare such callbacks:

[code]

In the example above `~v1` is an aliases for

[code]

`!v1` is an aliases for

[code]

[2015-06-24 11:58] dfilatov commented on #1072
cc @veged

[2015-06-25 13:20] tadatuta commented on #999
https://github.com/bem/bem-core/pull/1073

[2015-06-25 13:48] tadatuta opened #1074 "i18n: port to v2"
The new `i18n` module should be ported to `v2` after [the work on it](https://github.com/bem/bem-core/issues/576) will be done.

[2015-06-25 15:24] #999 closed, assigned to tadatuta

[2015-06-26 10:05] narqo commented on #1074
As far as I understand the topic is about #576 which is still in progress.

[2015-06-26 21:21] tadatuta opened #1076 "i-bem__dom: Fix deps"

[2015-06-30 16:57] apsavin commented on #884
Guys, I really need this fix. Can I do something to speed up it?

[2015-07-01 11:53] #1025 closed, assigned to dfilatov

[2015-07-02 20:08] apsavin opened #1079 "Nested promises handling in bemtree is broken"

[2015-07-03 10:22] veged opened #1081 "tick: Use `requestAnimationFrame` instead of `setTimeout`"
Plain `requestAnimationFrame` maybe to often, but we can make time or counter based restrictor.

cc @dfilatov @narqo

[2015-07-07 22:16] #1066 closed, assigned to narqo

[2015-07-08 12:03] narqo opened #1088 "jquery__events_type_pointerclick: Remove FastClick"
Our `jquery__events_type_pointerclick` is based on [FastClick](https://github.com/ftlabs/fastclick) library which (unfortunaly) brings a lot of non-obvious problems to native behaviour on touch device. We definitely should think again and decide if we really needs it in the core.

See http://developer.telerik.com/featured/300-ms-click-delay-ios-8/ for potential ways to prevent 300ms click delay in

[2015-07-08 13:12] veged commented on #160
в v3 проблема больше не актуальна

[2015-07-08 13:12] #160 closed, assigned to nobody

[2015-07-08 17:14] narqo opened #1090 "i-bem__dom: setMod doesn't add css class if blocks on the same DOM node have overlapping end parts in their names"
[code]

I believe this [`className.indexOf(classPrefix) > -1`](https://github.com/bem/bem-core/blob/ed70380c33febe093fa0407e1adb5695c5412449/common.blocks/i-bem/__dom/i-bem__dom.js#L701) is the problem.

/cc @4ok

[2015-07-08 19:36] dfilatov commented on #1090
(`' ' + className).indexOf(' ' + classPrefix) > -1`

[2015-07-09 13:08] #998 closed, assigned to tadatuta

[2015-07-09 13:15] #1076 closed, assigned to nobody

[2015-07-09 20:06] apsavin commented on #1079
@veged, can somebody add tests?

[2015-07-10 08:43] veged commented on #1079
can you do it yourself?

[2015-07-10 11:24] apsavin commented on #1079
I can, but where should I add it? It seems that `i-bem.spec.js` isn't the right place.

[2015-07-13 14:37] veged commented on #1079
let's make it like https://github.com/bem/bem-core/tree/v2/common.blocks/i-bem/i-bem.test.bemhtml — `i-bem.test.bemtree`

[2015-07-13 14:50] apsavin commented on #1079
ok, I'll try.

[2015-07-13 20:53] tadatuta opened #1093 "README: Add more obvious link to bem.info/libs/bem-core"
There's a lot more info on bem.info then in README now (and README content is also there).
So we should add more obvious link to bem.info/libs/bem-core in README.

[2015-07-13 21:02] #1090 closed, assigned to narqo

[2015-07-14 00:07] tadatuta opened #1094 "BEMTREE: Support sync version"

[2015-07-14 00:08] tadatuta opened #1095 "BEMTREE: Support native promises"
node.js and [most browsers](http://caniuse.com/#feat=promises) already have native support for promises.

[2015-07-14 08:42] tadatuta commented on #1000
Fixed at https://github.com/bem/bem-core/pull/1012/files

[2015-07-14 08:42] #1000 closed, assigned to sipayRT

[2015-07-14 09:11] narqo commented on #1095
One need to think about how such values will be serialized to BEMJSON, so _any_ promise implementation could be used, regardless of JS engine

[2015-07-14 13:51] tadatuta opened #1096 "Add main heading to i-bem__dom_elem-instances.ru.md"
Now there's no heading on https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/__dom/_elem-instances/i-bem__dom_elem-instances.ru.md and when it's merged [on bem.info](https://ru.bem.info/libs/bem-core/v2.6.0/desktop/i-bem/docs/#Декларация) there' s no way to understand it's all about elem-instances.

[2015-07-16 11:42] #1096 closed, assigned to gela-d

[2015-07-16 20:49] tadatuta opened #1099 "Put `BEMContext` as field to the first arg of `oninit`"
This issue is based on an answer from @indutny via email. It'll be implemented this way in `bem-xjst 2.0` and gives possibility to affect `BEMContext` within templates.

// cc @veged @narqo @arikon

[2015-07-17 03:23] qfox commented on #1099
Looks like a wise decision. :+1:

[2015-07-20 07:08] arikon commented on #1099
:+1:

First arg is `exports`. And it is a better fit for `BEMContext`.

[2015-07-21 11:15] tadatuta opened #1100 "i-bem: `findElem` without modifier value fails for boolean mods"
For details please refer to https://github.com/bem/bem-forum-content-ru/issues/493

// cc @h4

[2015-07-21 11:18] h4 opened #1101 "this.findElem() doesn't work with boolean modifier"
Layout sample:

[code]

I tried to lookup first element using `this.findElem('elem', 'active')` but got empty result.

That happened because `_self.buildClass()` doesn't work correctly with boolean modifier and return `block_elem_active` instead of `block__elem_active`, I think. See https://github.com/bem/bem-core/blob/v2.6.0/common.blocks/i-bem/__dom/i-bem__dom.js#L742

[2015-07-21 11:19] h4 commented on #1101
Duplicate #1100.

[2015-07-21 11:19] #1101 closed, assigned to nobody

[2015-07-21 11:39] dfilatov opened #1102 "i-bem__dom: implement `detach` method"

[2015-07-21 13:59] #1102 closed, assigned to narqo

[2015-07-21 14:01] dfilatov commented on #1102
Don't forget about v3 )

[2015-07-22 13:27] a-x- opened #1105 "Feedback for "Справочное руководство по BEMJSON""
There is inaccuracy.

must be:
`Boolean|Object`

---

https://ru.bem.info/technology/bemjson/v2/bemjson/#Представление-html

[2015-07-22 13:28] a-x- commented on #1105
И ещё эта фидбечница не добавляет ссылки,
вам же так наверно не очень удобно?

[2015-07-23 14:15] apsavin opened #1107 "Don't change api of BEMTREE in v3"
Guys, we've changed api of BEMTREE in 3.0 because I wanted to handle errors. I think, we should restore it back before official publication of 3.0.

Why?
- it's always better to don't break
- consistency with BEMHTML

How?

We should implement some option like `strict: true`. It may be false by default.
1. It will allow ignore errors for people who want to do so.
2. It will allow to handle errors

[2015-07-23 19:12] aristov opened #1108 "i18n: configure tests and specs"
Now we need to configure [tests](https://github.com/bem/bem-core/tree/issues/576%40v3/common.blocks/i18n/i18n.tests) and [specs](https://github.com/bem/bem-core/blob/issues/576%40v3/common.blocks/i18n/i18n.spec.js) for the new `i18n` module.

Use [the new version](https://github.com/bem/bem-core/issues/950) of `enb-bem-i18n` package.

This work should be done over the [`issues/576@v3` branch](http

[2015-07-23 19:14] aristov commented on #950
If everything is done, we can release the new package version to use it in #1108.

[2015-07-23 19:16] aristov commented on #576
[ENB techs](https://github.com/bem/bem-core/issues/950) for the new `i18n` module.

[2015-07-23 19:19] aristov commented on #576
[`tests` and `specs` configuration](https://github.com/bem/bem-core/issues/1108) for the new i18n module.

[2015-07-24 14:59] veged opened #1109 "Use ES2015"
We can autogenerate Modules-Wrapper from ES2015 syntax.
### For simple cases (i.e. `dom.js`):

[code]

[code]

Same for elements.
### For modifiers (i.e. `button_type_link.js`):

[code]

[code]

Same for modifiers of elements.
### For async provides (i.e. `jquery.js`)

[code]

[code]
### Rollback
- [ ] `i-bem-dom__events_type_dom` and `i-bem-dom__events_type_bem` <- `i-bem-events`, `i-bem-events__

[2015-07-24 15:04] tavriaforever commented on #1109
Extra `});` in the second example end

[2015-07-24 15:28] narqo commented on #1109
Just to be mentioned: we still need to think about this `button_type_link` vs `loader_type_js` case, as I'm not sure if `loader_type_js` is the only strange case we have.
And still I don't like this camelcased `'EXPORT'` ;)

[2015-07-24 15:33] dfilatov commented on #1109
http://upweek.ru/wp-content/uploads/2012/03/img_5744.jpg

[2015-07-24 15:34] dfilatov commented on #1109
![img_5744](https://cloud.githubusercontent.com/assets/67957/8878225/9df73a30-3232-11e5-9d32-ecf2f9fc8d8a.jpg)

[2015-07-24 15:52] veged commented on #1109
@tavriaforever feel free to fix ;-)

[2015-07-24 16:06] veged commented on #1099
:+1:

[2015-07-24 18:14] awinogradov commented on #1109
:+1:

[2015-07-24 18:21] tavriaforever commented on #1109
@veged ok :blush:

[2015-07-24 23:21] #1105 closed, assigned to tadatuta

[2015-07-24 23:21] tadatuta commented on #1105
Thank you!

[2015-07-25 07:15] voischev commented on #1109
:fire:

[2015-07-25 12:34] apsavin commented on #1107
@veged ? @narqo ?

[2015-07-25 12:49] narqo commented on #1107
My opinion there's nothing wrong about fixing wrong decisions that were implemented centaurs ago. I don't understand what kind of consistency with BEMHTML you're talking about.

I think promises gives you ability to make all kinds of decisions you've listed. You still can use `bemtree.apply().always(/* i don't give a fck about errors */)` don't you?

[2015-07-25 13:01] apsavin commented on #1107
Exactly what I'm talking about.

Of course, users can now ignore errors or handle them.

I just don't like the way _how_ and I think we can change it before release.

The main thought is: "strict" option and `BEMTREE.apply().then(onF, onR)` is better then `BEMTREE.apply().spread(function(bemjson, promise){ return promise.done(function (){onF(bemjson);}, onR);})`.

[2015-07-25 14:08] narqo commented on #1107
Oh, now I see. I was absolutely sure that we already have such strict behaviour in `v3`. We need to drop this `spread` requirements from `v3`, and start using normal promises there. No additional options are needed.

[2015-07-25 16:03] #690 closed, assigned to Murdalay

[2015-07-27 13:03] veged commented on #1107
speaking about `v3` we can do such API changes — :+1:

we just need to ensure about documentation in changelog

[2015-07-28 18:24] jifeon commented on #736
@tadatuta so you should fix your documentation, because this https://en.bem.info/technology/bemhtml/v2/bemhtml-js-syntax/#arbitrary-conditions asserts that I can use `match` with `ctx` without any functions

[2015-07-29 00:56] tadatuta commented on #736
@jifeon done in https://github.com/bem/bem-core/commit/254e3e4451d3c97103c8e5cf03da24cb0f0275c7
Thank you!

[2015-07-29 11:24] narqo commented on #1030
Released https://github.com/bem/bem-core/releases/tag/v2.7.0

[2015-07-29 11:24] #1030 closed, assigned to narqo

[2015-07-29 13:15] s-panferov commented on #1109
@veged does this issue introduce only syntactic sugar? Y-Modules will stay as a module system?

[2015-07-29 13:29] veged commented on #1109
@s-panferov YModules suppose to stay as compile target for Babel modules, cause we still have fully async modules (such as jQuery) — but for most of end users there is no need to know about YModules since they are fulfilled with ES2015 modules

[2015-07-29 13:34] s-panferov commented on #1109
@veged will interop between the new modules and raw es6 modules be possible? E.g.:

[code]

[code]

[2015-07-29 13:47] veged commented on #1109
@s-panferov short answer — no

`npm install ...` it's not about "raw ES6" modules, it's about npm/node.js modules system — https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Statements/import "module-name: The name of the module to import. This is a file name." — so treating module names is depends on "runtime", since for us main abstraction is BEM our modules reference to BEM-entit

[2015-07-29 16:48] veged commented on #1109
@s-panferov ...but nothing coded yet, so we can think about details and change it later soon ;-)

[2015-07-29 21:56] qfox commented on #1109
Don't see a single problem with using ES6 modules in `*.node.js`, if babel can transpile it to CJS modules, why we couldn't?

[2015-07-30 10:34] veged commented on #1109
@zxqfox there is a namespace problem — we have two different global spaces BEM and NPM, so you can't just use `import mymodule from 'mymodule'` and need to specify somehow from what modules namespace it should be used

we discussed about it and start to tend for something like `import mymodule from 'bem:mymodule'` for BEM modules and `import mymodule from 'mymodule'` for NPM modules

[2015-07-31 10:55] tadatuta commented on #1099
Давайте еще раз подумаем, а точно ли оно нужно? Еще не поздно откатить в Islands.

// cc @veged @narqo @indutny

[2015-07-31 11:08] arikon commented on #1099
Откатывать так же нужно будет в `bem-xjst@3.x`.

Вопрос в следующем: а правда ли кому-то может понадобиться доступ из шаблонов к `BEMContext` (не из `oninit()`)? Если да, то для каких целей?

[2015-07-31 11:56] tadatuta commented on #1099
обсудили, точно делаем

[2015-07-31 13:21] tadatuta opened #1111 "Block returned false on beforeSetMod->js->inited is considered inited anyway"
[code]

Manual `BEMDOM.init()`on same element after it's become visible can't init block.

For more details please refer to https://github.com/bem/bem-forum-content-ru/issues/528

// @h4

[2015-07-31 13:23] h4 commented on #1111
Отличный id для issue, ящитаю ;)

[2015-08-02 17:44] DimitryDushkin opened #1112 "Optional ymodules block declaration"
I think old BEM block declaration syntax was much clearer and less verbose.

For example, I need to use static method of one block into another. That will be:

[code]
-

[code]

+

[code]

It's 160 on unnecessary symbols (or 10 LOC) + 1 indent about ymodules declaration and require in 2 files.

I think it's unnecessary because:
— `BEM.decl` is already way to declare block. `modules.define` is dupl

[2015-08-02 18:02] qfox commented on #1112
Feels like https://github.com/bem/bem-core/issues/1109 should helps a lot with code cleaning.

[2015-08-02 18:03] qfox commented on #1109
@veged :+1: great!

[2015-08-02 18:18] DimitryDushkin commented on #1112
@zxqfox yes, that's great proposal, almost perfect.

[2015-08-02 18:18] DimitryDushkin commented on #1112
May be this issue can be closed in favor of https://github.com/bem/bem-core/issues/1109

[2015-08-02 19:13] narqo commented on #1112
Regardless the topic itself, you really don't need to use `BEM.decl` in most cases now. The only thing that it was used for previously was to have (some sort of) class definition system, as well as a namespace.

With `ym` we don't have this namespace problems now, so your `i-ga` example should be rewritten like this:

[code]

You can use [`inherit` module](https://ru.bem.info/libs/bem-core/v2.7.0/

[2015-08-02 19:20] narqo commented on #1112
All for #1109

[2015-08-02 19:20] #1112 closed, assigned to nobody

[2015-08-02 20:41] DimitryDushkin commented on #1112
@narqo thank you for such remarkable answer. I got all the answers.

[2015-08-04 13:20] tormozz48 opened #1113 "i-bem: Split i-bem-js/i-bem-js.ru.md"
i-bem-js.ru.md should be divided into two parts
- TOC
- common information

[2015-08-06 13:18] tadatuta commented on #1113
Fixed in https://github.com/bem/bem-core/pull/1114

[2015-08-06 13:18] #1113 closed, assigned to tormozz48

[2015-08-06 13:46] tadatuta commented on #1095
When all promises are resolved we should map the whole queue of them to their results.

[2015-08-06 13:55] aristov commented on #1081
Because of polyfiling problem and question about necessity of `tick` block at all we decided to close this issue.

[2015-08-06 13:55] #1081 closed, assigned to nobody

[2015-08-06 13:58] aristov commented on #1079
Close in favour of #1107

[2015-08-06 14:01] #1072 closed, assigned to veged

[2015-08-06 14:19] aristov commented on #1070
Since we don't have an ability to specify any reasonable rich defaults for general open-source projects (like we do at Yandex), it looks that plain HTML meta tag is easier for usage instead of understating custom BEMJSON API.
Discussed with @veged and @narqo

[2015-08-06 14:19] #1070 closed, assigned to nobody

[2015-08-06 16:07] tadatuta commented on #1026
В `bem-xjst@4.0.1` поведение совпадает:

[code]

[2015-08-06 16:08] qfox commented on #1026
И это замечательно!

[2015-08-06 17:44] tadatuta opened #1116 "Update npm deps"
Important: Do not forget to check mimic option for new `enb-bh`.

[2015-08-06 19:24] narqo commented on #1026
@tadatuta плохо, может исправить, до bem-core@3.x?

[2015-08-06 19:30] tadatuta commented on #1026
@narqo завел https://github.com/bem/bem-xjst/issues/88

[2015-08-06 19:35] tadatuta commented on #1111
We discussed the issue and decided that it'll make `i-bem__dom` too complicated and actually won't give possibility to solve original issue as we won't be able to address an instance until the block is inited (as so `this.domElem` will be undefined).

[2015-08-06 19:35] #1111 closed, assigned to nobody

[2015-08-06 20:03] apsavin commented on #1079
Hmm, I think, this issues are different.

[2015-08-07 08:02] voischev commented on #1026
:+1:

[2015-08-12 11:45] aristov opened #1119 "Feedback for "undefined""
Новое руководство по `i-bem.js`, раздел "общие сведения":

Заголовок ишью сформирован автоматически из ссылки "написать нам об этом" внизу страницы.

[2015-08-12 11:46] aristov commented on #1119
сс @tadatuta

[2015-08-12 15:21] #1119 closed, assigned to innabelaya

[2015-08-14 11:17] veged opened #1121 "Port .enb/make.js from v2"

[2015-08-18 14:02] tadatuta opened #1122 "Make `ua` mods boolean (get rid of _yes part)"

[2015-08-19 15:56] aristov opened #1123 "i-bem-dom: move to i-bem.js"
We have `i-bem.vanilla.js` that provides DOM-independent BEM framework.

Since we have the modular system, we don't need to use the `i-bem` module for creating BEM-entities without DOM representation. All common helpers can be defined as simple `ym`-modules. We never use clear `i-bem` module in client-side code, only it's DOM-specific redefinition.

We use the `*.js` extension for files with DOM-s

[2015-08-19 15:56] aristov commented on #1123
cc @veged @dfilatov @narqo

[2015-08-19 19:09] blond opened #1124 "Update ENB packages"

[2015-08-19 20:38] dfilatov commented on #1123
AFAIR we discussed this approach but @veged objected.

What's more, to my mind we should join `i-bem` and `i-bem-dom` :)

[2015-08-20 17:24] #1124 closed, assigned to blond

[2015-08-20 22:56] blond opened #1127 "Refact ENB config"
We need to simplify the `.enb/make.js` file.

Part of the logic can be move by tasks:
- `.enb/tasks/dist`
- `.enb/tasks/specs`
- `.enb/tasks/tmpl-specs`
- `.enb/tasks/tests`
- `.enb/tasks/examples`
- `.enb/tasks/docs`

And also collect common code:
- `.enb/techs.js`
- `.enb/config.js`
- `.enb/helpers.js`

[2015-08-21 03:13] tadatuta commented on #1127
looks fine

[2015-08-21 03:20] tadatuta opened #1128 "Switch to min.{css,js} instead of leading underscore for built files"
...to be more like others and get rid of `.nojekyll` on `gh-pages`

[2015-08-21 06:43] blond commented on #1128
What kind of files are we talking about? Bundles? Examples?

[2015-08-21 07:40] tadatuta commented on #1128
I'm about any occurrences of `_*.{css,js}`

[2015-08-21 07:49] blond commented on #1128
How about just  `?.css` and `?.js`?

[code]

In `enb-stylus@2.0` package you can use [compress](https://github.com/enb-make/enb-stylus/blob/master/api.ru.md#compress) option. And similar behavior we want to support in `enb-diverse-js`.

Then the result may be:

[code]

[2015-08-21 07:55] tadatuta commented on #1128
What about `borschik` step in this scheme?

[2015-08-21 08:14] blond commented on #1128
In this scheme there is no possibility to use `borschik` at least for styles. But we can use `PostCSS`.

What is the problem we need to solve with `borschik` for styles?

[2015-08-22 15:37] blond opened #1130 "Use csswring to minify CSS"
See https://github.com/hail2u/node-csswring

We use this plugin in [enb-stylus](https://github.com/enb-make/enb-stylus#Минимизация-css-кода) package and in `islands` library.

[2015-08-22 15:37] blond commented on #1130
/cc @arikon

[2015-08-22 21:45] tadatuta commented on #1130
We visited a talk of @demiazz and he advertised for http://cssnano.co/

[2015-08-22 21:55] blond commented on #1130
`cssnano` has performance problems: http://goalsmashers.github.io/css-minification-benchmark/

Wherein compression quality better 5-10 percent.

[2015-08-23 15:30] blond opened #1131 "ENB: use `deps` tech instead of `depsOld`"
The assembly should be slightly faster.

[2015-08-23 15:32] blond opened #1132 "ENB: use symlink instead of copy file in dev mode"
The assembly should be slightly faster.

[2015-08-23 15:37] blond opened #1133 "ENB: build one HTML file for examples and bundles"
Now create two files:
- `?.html`, using BEMHTML
- `?.bh.html`, using BH

It should leave a template that will work faster: compile template file + apply templates.

[2015-08-23 15:43] blond opened #1134 "ENB: not build templates for JavaScript"
In `bem-core` there are no blocks that use templates in JavaScript technology.

The assembly should be slightly faster.

[2015-08-23 16:30] #1127 closed, assigned to blond

[2015-08-23 17:38] #1131 closed, assigned to blond

[2015-08-23 18:11] #1134 closed, assigned to blond

[2015-08-23 18:43] #1133 closed, assigned to blond

[2015-08-23 19:01] blond commented on #1132
@tadatuta I did not notice difference in speed.

I suggest not to change anything, because use of symlinks can create problems.

[2015-08-23 19:07] #1132 closed, assigned to blond

[2015-08-23 20:02] blond opened #1138 "ENB: use `.tmp` prefix for tmp files"
Now `index` bundle after build:

[code]

File names do not contain the information: you can use this file or not. If use `.tmp` prefix everything becomes clear.

[code]

[2015-08-23 20:19] blond opened #1140 "ENB: not build pseudo lang HTML files"
Now after assembling `?.html` file we created `?.ru.html` and `?.en.html`.

In `bem-core` there are no `i18n` files.

[2015-08-23 20:20] blond commented on #1140
@tormozz48 I think we did it for the `bem.info`.

This change breaks something?

[2015-08-23 20:25] blond opened #1141 "ENB: add `bundles` task"
Why? — For consistency.

Now we can build all by task name:
- dist
- tests
- specs
- tmpl-specs
- examples
- docs

But to build all the files we need to specify the paths to the files:

[code]

We can add sugar for ease:

[code]

[2015-08-23 20:43] blond opened #1142 "ENB: split examples from inline examples"
Now we build all examples using `magic run examples` command.

After build will be created `desktop.examples` and `touch.examples` directories. They will be as user examples and examples are only needed for documentation.

My proposal:
1. Build user examples (`block.examples/example-name/example-name.bemjson.js`) using `examples` task and write result to `platform.examples` dir.
2. Build examples

[2015-08-23 20:58] blond opened #1143 "dist: use `devMode: true` for `.dev.bemhtml.js`"

[2015-08-23 20:59] blond opened #1144 "dist: add source maps for `.dev.css`"

[2015-08-23 21:00] blond opened #1145 "dist: add source maps for `.dev.bh.js`"

[2015-08-23 21:00] blond opened #1146 "dist: add source maps for `.dev.js`"

[2015-08-23 21:14] blond opened #1147 "ENB: remove `tests` task"
In `bem-core` there are no pages for gemini.

[2015-08-24 03:37] FA73F0X opened #1149 "Feedback for "События""
На движке WebKit не отображается стрелочка для прокрутки страницы вверх.

[2015-08-24 08:40] FA73F0X opened #1150 "Feedback for "События""
Генерация БЭМ-события -> "В ходе их обработки блоком можно можно создавать БЭМ-события.". Два раза "можно".

[2015-08-24 12:16] tadatuta commented on #1143
I'm not sure it's a good idea — dev mode is too slow.

[2015-08-24 12:49] blond commented on #1143
@tadatuta Let's compare `BEMHTML.apply()` for blocks of `bem-core`? I think the big difference is not expected.

[2015-08-24 14:54] tadatuta commented on #1143
What is the reason to have templates in dev mode?

[2015-08-24 14:54] #1138 closed, assigned to blond

[2015-08-24 14:55] #1140 closed, assigned to blond

[2015-08-24 14:58] tadatuta commented on #1149
@FA73F0X Можно чуть больше подробностей? У меня на macOS 10.10.4 в Safari 8.0.7 (10600.7.12) стрелка на странице https://ru.bem.info/events/talksworks-spb-2015/ присутствует.

[2015-08-24 15:07] #1150 closed, assigned to nobody

[2015-08-24 15:07] tadatuta commented on #1150
@FA73F0X Спасибо, исправил в https://github.com/bem/bem-core/commit/f144f4ab1083f7667bd6c1a9db9c5509718283b6!

[2015-08-24 15:35] blond commented on #1143
for debug? =)

[2015-08-24 16:13] tadatuta commented on #1143
I think it's useless

[2015-08-24 16:38] FA73F0X commented on #1149
@tadatuta Можно и подробнее) Правый нижний угол win10 chrome 44.0.2403.157 m например здесь https://ru.bem.info/method/filesystem/
![alt text](http://s017.radikal.ru/i411/1508/dc/9d1c04e384e4.png)

[code]

[2015-08-24 18:32] blond opened #1151 "Update `enb-borschik` to `2.0.0`"

[2015-08-24 18:41] blond opened #1153 "jsdoc parsing errors with jquery block"
**Error 1:**

[code]

**Error 2:**

[code]

[2015-08-24 20:05] #1151 closed, assigned to blond

[2015-08-24 20:06] tadatuta commented on #1149
@gela-d похоже, нужно найти символ поуниверсальнее либо просто перейти на svg

[2015-08-24 21:50] blond opened #1155 "ENB: use `devMode: false` for BEMHTML & BEMTREE"

[2015-08-24 21:57] blond opened #1156 "Rename `common.docs` to `docs` dir"
- `common.docs` easily confused with built documentation (`desktop.docs`, `touch.docs`)
- `docs` is more common and usual name

[2015-08-24 21:59] #1143 closed, assigned to nobody

[2015-08-24 22:16] blond opened #1158 "bem-jsdoc script is broken"
Do we need this script?

[code]

[2015-08-25 02:21] FA73F0X commented on #1149
@gela-d SVG надежнее )

[2015-08-25 07:31] gela-d commented on #1149
@FA73F0X @tadatuta спасибо! В ближайшее время выкатим нормальную стрелочку.

[2015-08-25 07:33] #1155 closed, assigned to blond

[2015-08-25 11:07] sipayRT commented on #1156
:+1:

[2015-08-25 14:35] gela-d commented on #1149
Выкатили на bem.info новую стрелочку. @FA73F0X проверь, пожалуйста, все ли хорошо.

[2015-08-25 14:35] #1149 closed, assigned to gela-d

[2015-08-25 15:03] FA73F0X commented on #1149
@gela-d если Вам интересно мое мнение ) то я бы еще стили подправил. Например так:

[code]

[2015-08-25 15:06] gela-d commented on #1149
Интересно :)
Но, при этих стилях, стрелочка становится сильно меньше и начинает закрывать край текста в некоторых случаях
![2015-08-25_1805](https://cloud.githubusercontent.com/assets/1333220/9470307/0a30ef40-4b54-11e5-83f7-b58fce3f9bf2.png)

[2015-08-25 15:17] FA73F0X commented on #1149
@gela-d да тут два разных верстальщика сделают по разному, а если еще дизайнера позвать с тестировщиком появятся еще варианты оформления ) Я по размеру верхней иконки смотрел.
![alt text](http://s019.radikal.ru/i621/1508/35/dbffa1874b37.png)
Да и первоначальная иконка не была большой(хотя она была менее заметна и к месту).

[2015-08-25 20:09] blond opened #1160 "Travis: use node 0.12"

[2015-08-26 06:54] blond opened #1162 "Update `enb-bh` to `1.0.0`"

[2015-08-26 07:02] gela-d commented on #1149
@FA73F0X ты все правильно говоришь, за неимением дизайнера каждый бы сделал по своему чувству прекрасного :)

[2015-08-26 07:08] #1162 closed, assigned to blond

[2015-08-27 19:33] blond opened #1164 "Update `enb-bemxjst` to `2.0.0`"

[2015-08-27 19:37] blond commented on #1160
Fixed in #1161

[2015-08-27 19:37] #1160 closed, assigned to blond

[2015-08-27 20:08] #1164 closed, assigned to blond

[2015-08-27 20:45] #1128 closed, assigned to blond

[2015-08-27 21:01] blond opened #1167 "Remove redundant dependencies"
- `bem`
- `bower-npm-install`
- `reqf`

This will reduce the assembly time of about 30 seconds.

[2015-08-27 21:02] #1158 closed, assigned to blond

[2015-08-27 21:34] #1167 closed, assigned to blond

[2015-08-28 20:12] blond opened #1169 "Tests for BEMTREE"
- [x] add tests for `i-bem.bemtree`
- [x] remove `test-bemtree` bundle

[2015-08-28 21:21] #1169 closed, assigned to blond

[2015-08-28 21:23] blond opened #1171 "Install `bem-pr` only for specs"
The `bem-pr` need only for `enb-bem-specs` package.

[2015-08-28 22:10] #1171 closed, assigned to blond

[2015-08-31 18:00] #1142 closed, assigned to blond

[2015-09-01 10:56] megatolya opened #1175 "DOM.replace enhancement: replace body"
To change whole body now i do smth like:

[code]

It seems redundant.

I want to do more like this:

[code]

[2015-09-02 09:33] crissdev opened #1177 "Feedback for "BEMHTML quick start""
It should be "templating" - notice the extra `i` character above.

[2015-09-02 09:40] #1177 closed, assigned to nobody

[2015-09-02 09:40] tadatuta commented on #1177
@crissdev Thank you!

[2015-09-04 23:38] #1074 closed, assigned to blond

[2015-09-05 06:37] blond opened #1179 "Redundant Lint"
1. If the first run `npm run docs` and then run `npm test` then you can see `jshint` errors.
2. If the first run `npm run dist` and then run `npm test` then you can see `jscs` errors.

[2015-09-05 07:42] blond opened #1181 "Tests fail if use BEMHTML"
If run `BEM_TEMPLATE_ENGINE=BEMHTML magic run tests` then the build will fail.

[code]

[2015-09-05 07:47] blond commented on #1181
If build BEMHTML file in dev mode then everything works well.

[2015-09-05 08:13] blond commented on #1181
The problem with this code: https://github.com/bem/bem-core/blob/v2/common.blocks/jquery/__event/_type/jquery__event_type_pointernative.tests/simple.blocks/test-pointer/test-pointer.bemhtml#L8-L13

[2015-09-05 08:29] blond opened #1182 "Add BH templates for tests"
Need add BH templates to the following tests:
- https://github.com/bem/bem-core/tree/v2/common.blocks/jquery/__event/_type/jquery__event_type_pointernative.tests
- https://github.com/bem/bem-core/tree/v2/common.blocks/jquery/__event/_type/jquery__event_type_pointerpressrelease.tests

[2015-09-05 12:24] #1179 closed, assigned to blond

[2015-09-06 20:54] tadatuta opened #1183 "Improve bem create usage"
1. Get rid of `bem-compat` dependency in `bem-xjst`-based techs
2. Add template for `browser.js`
3. Fix https://github.com/bem/bem-core/issues/866

[2015-09-06 21:13] blond opened #1185 "ENB: inline examples are broken"

[2015-09-06 21:35] #1183 closed, assigned to tadatuta

[2015-09-06 21:36] tadatuta opened #1186 "Get rid of bemhtml-compat dependency"
It looks just useless for `bem-core`

[2015-09-06 22:46] #1185 closed, assigned to blond

[2015-09-06 22:50] #1181 closed, assigned to blond

[2015-09-06 23:20] blond opened #1190 "enb make is broken"
If run `enb make` then will get an error:

[code]

[2015-09-06 23:35] #1141 closed, assigned to blond

[2015-09-06 23:38] #1147 closed, assigned to blond

[2015-09-07 22:31] #1190 closed, assigned to blond

[2015-09-08 16:06] tadatuta opened #1193 "i-bem: Update JSDoc"
For details please refer to https://github.com/bem/bem-method/issues/319

[2015-09-08 20:03] tadatuta opened #1194 "i18n: Introduce current lang getter"
New implementation of `i18n` lacks possibility to get current language id which is quite useful at least for static projects. Let's add it?

// cc @veged @narqo @aristov @blond

[2015-09-08 20:14] blond commented on #1194
:+1:

Maybe add `lang` argument to [decl](https://github.com/bem/bem-core/blob/v2/common.blocks/i18n/i18n.i18n.js#L23) method?

[code]

[2015-09-08 20:23] tadatuta opened #1195 "Release 2.8.0"
Since we've got support for new `i18n`, let's release `2.8.0`.

PS: We need to discuss https://github.com/bem/bem-core/issues/1194 first.

[2015-09-08 21:20] narqo commented on #1194
@tadatuta "Current" language in `BEM.I18N` should really be considered as a bug, not as a feature. As static HTML generation is the only case where it can be applied. You really can't use it in cases with dynamic HTML generation, because I18N is not attached to the context of the request, despite the fact this is the only thing it must be attached to. There is absolutely no safe way to call `setLa

[2015-09-08 23:17] tadatuta commented on #1194
@narqo are you against to provide generic way to get language id in new `i18n` implementation which doesn't have possibility to switch it in runtime anyways? to use simple `i18n.lang()` instead of hack with custom keys?

[2015-09-09 05:06] narqo commented on #1194
@tadatuta to have such getter, you need to store the language somewhere, so the API should be slighty changed as @blond suggested, but I don't like such declaration `i18n.decl(keysets, currentLanguage)`. And I don't understand how this getter should change it's value in non-static projects if it doesn't have setter API.

[2015-09-10 06:50] blond opened #1196 "Tests for dist"

[2015-09-10 14:40] #1196 closed, assigned to blond

[2015-09-10 16:23] #1194 closed, assigned to nobody

[2015-09-10 16:24] tadatuta commented on #1193
Partially fixed in https://github.com/bem/bem-core/pull/1117

[2015-09-10 17:10] #1116 closed, assigned to tadatuta

[2015-09-10 17:20] tadatuta commented on #1019
https://ru.bem.info/technology/i-bem/v2/i-bem-js-params/

[2015-09-10 17:20] #1019 closed, assigned to Murdalay

[2015-09-10 18:20] tadatuta opened #1202 "Always get files from yastatic.net via https"
1. `jquery__config`
2. Docs
3. Template specs

[2015-09-10 20:58] tadatuta opened #1203 "Move contributing guidelines to Contributing.md"
See https://github.com/bem/bem-components/pull/1670

[2015-09-11 13:11] #1182 closed, assigned to tadatuta

[2015-09-11 13:11] #1093 closed, assigned to tadatuta

[2015-09-11 13:20] tadatuta opened #1205 "Update bem-pr to 0.12.0"

[2015-09-11 13:31] #1205 closed, assigned to tadatuta

[2015-09-11 14:04] #1202 closed, assigned to nobody

[2015-09-11 15:06] #1186 closed, assigned to tadatuta

[2015-09-12 14:45] tadatuta opened #1210 "dist: Mimic BH to BEMHTML"

[2015-09-17 21:04] blond opened #1212 "dist: add i18n to js"

[2015-09-18 09:09] #1212 closed, assigned to blond

[2015-09-18 09:34] #1108 closed, assigned to blond

[2015-09-18 11:12] blond opened #1214 "Use `enb-js`"

[2015-09-18 12:09] #1214 closed, assigned to blond

[2015-09-19 12:52] veged opened #1216 "Use API v2 for `.bem/levels/*.js`"
Get rid of `Tech module "bundles" at <SKIPED>/bem-core/.bem/levels/bundles.js is using API V1.` and `Tech module "blocks" at <SKIPED>/bem-core/.bem/levels/blocks.js is using API V1.`

[2015-09-19 15:11] veged opened #1217 ".bem/techs/browser.js.js: Use `.js` instead of `.browser.js` in `getCreateSuffixes`"

[2015-09-19 15:13] #1217 closed, assigned to veged

[2015-09-20 20:27] tadatuta commented on #1216
@veged
Please provide the way to reproduce.

I tested following commands in the root of `bem-core` folder:

[code]

and got no warns.

[2015-09-22 13:25] tadatuta opened #1219 "docs: Describe new modes in BEMHTML"
`wrap`, `once`, `replace`, `extend`

[2015-09-22 14:08] Guria opened #1220 "docs: describe breaking changes in 2.7.0"
See https://github.com/bem/bem-forum-content-ru/issues/600 for  reference

[2015-09-23 10:51] tadatuta opened #1221 "BEMHTML: Implement syntax sugar to extrend attrs"
Now:

[code]

Can be wrapped with `block('b1').extendAttrs()({ a: 'b' })`.

[2015-09-24 10:15] veged commented on #1216
can't catch more isolated but, you can try check out https://github.com/shriming/chat/tree/issues/18 (note branch `issues/18`) and do `cd frontend && bem create -b bla -T blocks`

[2015-09-24 14:01] tadatuta commented on #1216
This is not an issue of `bem-core`, please refer to https://github.com/shriming/chat/issues/43 for fix.

[2015-09-24 14:01] #1216 closed, assigned to tadatuta

[2015-09-24 15:47] h4 opened #1222 "BEMDOM.detach doesn't remove _js_inited mod"
I want to destruct block, but save dom node. @veged said that `BEMDOM.detach()` is correct way to do it in bem-core@2.7.0

But it doesn't work.

Sample code https://github.com/h4/bem-detach-test/blob/master/desktop.blocks/test/test.js
Live demo http://h4.github.io/bem-detach-test/desktop.bundles/index/index.html

Click on 'Click me' button, block will be inited and background changed. After 1 seco

[2015-09-25 10:11] veged commented on #1222
cc @dfilatov @narqo

[2015-09-28 19:52] tadatuta opened #1223 "Refactor `ua` block and remove it as default deps of `page`"
Today in 99.9% of cases there's no need to check if `JS` is available in browser.

[2015-09-29 11:03] aristov commented on #1109
Current plan:
1. Write an ENB plugin to assemble JS files in [a way test-webpack-bem implementation assumes](https://github.com/veged/test-webpack-bem/blob/master/main.js)
2. Write another ENB plugin to use WebPack API + Babel Loader + [babel-plugin-bem](https://github.com/bem/babel-plugin-bem)

[2015-10-01 16:57] narqo commented on #1109
The status:
- https://github.com/bem/babel-plugin-bem
- https://github.com/bem/enb-bem-babel
- example usage: [functions.vanilla.js](https://github.com/bem/bem-core/blob/6cb6b5674ac876edb52e8c3ac809ade06b9fd116/common.blocks/functions/functions.vanilla.js)

[2015-10-01 17:24] Guria commented on #1109
https://github.com/bem/bem-core/blob/6b0e3496502475c88ec3b9ec111bcbed1d806b7e/common.blocks/functions/functions.vanilla.js#L21
why not `() => {}` ?

[2015-10-01 17:56] narqo commented on #1109
@Guria i've already fixed that in 6cb6b5674ac876edb52e8c3ac809ade06b9fd116, but the main goal the task is still in progress.

[2015-10-01 18:09] qfox commented on #1109
I've left some suggestions. Why not to start spec also? We risk to lose the logic with our evolutionary steps.

[2015-10-02 14:33] veged commented on #1109
@zxqfox what do you mean?

[2015-10-02 15:35] narqo commented on #1109
@veged @zxqfox i beliave it's about issues in babel-plugin-bem repo.

[2015-10-08 18:15] blond opened #1225 "Update ENB to 1.x"

[2015-10-08 20:58] #1225 closed, assigned to blond

[2015-10-12 15:08] tadatuta opened #1227 "i-bem: Describe difference between `liveInitOnEvent` and `liveBindTo`"
`liveBindTo` will call callback each time an event fired.

[2015-10-13 12:30] tadatuta opened #1228 "page__css.bemhtml: Support new bem-xjst versions"

[2015-10-13 13:33] #1228 closed, assigned to tadatuta

[2015-10-14 14:25] tadatuta opened #1230 "Elems stay in cache after BEMDOM.destruct()"
`some-elem` is still in cache after `BEMDOM.destruct(this.elem('some-elem'))`.

[2015-10-21 15:27] arikon commented on #1026
@veged идёт в отказ. Давайте ещё раз обсуждать.

[2015-10-22 11:26] h4 opened #1232 "Вынести ссылки на dist-поставки на видное место"
Сейчас узнать о том, что есть dist-сборка bem-core можно только совершенно случайно. Если начать читать все подряд записи в блоге и наткнуться на https://ru.bem.info/blog/bem-as-bootstrap/, и ещё нужно дочитать статью до середины.

Очень хочется ссылку на dist-поставку видеть в меню здесь https://ru.bem.info/libs/bem-core/v2.8.0/

[2015-10-22 11:27] h4 commented on #1232
Будет совсем хорошо, если вот этот абзац будет дополнен или переписан:

[2015-10-22 13:18] tadatuta commented on #1232
Вот и @mursya с @vithar мне это говорили...
Нужно, конечно.

[2015-10-22 14:08] narqo commented on #1232
:+1:
сегодня нужно было «по-быстрому проверить гипотезу»: пришлось проверять на странице случайного примера на бэминфо, в консоле браузера (потому что вспомнить где лежит библиотека на CDN, чтобы подключить в jsbin не смог).

[2015-10-22 19:29] #1210 closed, assigned to nobody

[2015-10-22 19:30] #1203 closed, assigned to nobody

[2015-10-22 19:30] #1195 closed, assigned to nobody

[2015-10-27 14:13] bu1ka opened #1233 "Feedback for "События""
Кажется [тут](https://ru.bem.info/technology/i-bem/v2/i-bem-js-events/#События-при-изменении-модификаторов) нужно написать чуть подробнее и переименовать парамент `event` в, например `block`

[2015-10-28 19:07] qfox opened #1234 "i-bem: afterSetMod helper suggestion"
afterSetMod = onSetMod + afterCurrentEvent

Pretty often I see code like:

[code]

And this can be simplified to:

[code]

Seems pretty legit, isn't it?

[2015-10-28 20:17] tadatuta commented on #1234
Are you sure? `afterCurrentEvent()` was removed in honour of `next-tick` in [2.0.0](https://en.bem.info/libs/bem-core/v2.8.0/changelog/#200) and since `onSetMod` was splitted on actually `onSetMod` and `onBeforeSetMod` it doesn't look like a common case ;)

[2015-10-28 21:52] qfox commented on #1234
Okay, afterSetMod = onSetMod + nextTick.

Did you mean `onSetMod` already works like `afterSetMod`? Or I can't change modifier in their onSetMod? Looks like inconsistency ;-(

[2015-10-28 22:09] narqo commented on #1234
@zxqfox the code from issue's description was relevant before bem-core=2.0 and the most usecase (AFAIR it was the only usecase) was to fire event after the modifiers was actually set. Regardless the fact of it's frequency the asynchronous brought a lot of issues to the end-users.

To say "`onSetMod` from previous version worked most like current `beforeSetMod`" would be more fair, as you could pre

[2015-11-05 10:43] tadatuta commented on #1233
Про более подробное описание аргументов согласен, а про переименование `event` в `block` я бы поспорил — все-таки здесь `event` является названием события, на которое нужно подписаться, просто переданным в форме JS-объекта.

// cc @innabelaya

[2015-11-09 10:15] veged opened #1235 "Update jscs to 2.x"

[2015-11-10 11:14] veged commented on #1088
now in iOS9 we have broken `radio-group` and `checkbox` because of FastClick — after discussion with @dfilatov and @narqo we think of removing FastClick

[2015-11-10 14:48] aristov commented on #576
Done.

[2015-11-10 15:34] just-boris opened #1236 "Get an infinite timeouts loop while using bem"
Found that my code with bem-components never hangs up. The reason of this behavior is `tick` module.

Dist-bundle of bem-components has [`start_auto`](https://github.com/bem/bem-core/blob/v2/common.blocks%2Ftick%2F_start%2Ftick_start_auto.vanilla.js#L7) enabled by default. Is there a way to disable this without need to rebuild my own dist?

It is make sense for me, since I am trying to run tests i

[2015-11-10 15:36] dfilatov commented on #1236
[code]

[2015-11-10 16:02] just-boris commented on #1236
Well, this code stops tick for a while, but block `input` [starts them again](https://github.com/bem/bem-components/blob/v2/desktop.blocks/input/input.js#L13).

Is there a way to disable ticks forever? I guess it is used to poll input for values, that's ok to disable it for testing purposes.

[2015-11-10 16:09] dfilatov commented on #1236
I think if you call above code after all tests have been completed, it won't start again.

[2015-11-10 16:28] just-boris commented on #1236
It worked, thanks

[2015-11-10 16:28] #1236 closed, assigned to nobody

[2015-11-11 10:16] RumyantsevMichael opened #1237 "[doc] dom: Typo in method description"
На странице https://ru.bem.info/libs/bem-core/v2.7.0/desktop/dom/
в разделе "Обзор - свойства и методы объекта" (https://ru.bem.info/libs/bem-core/v2.7.0/desktop/dom/#Свойства-и-методы-объекта-2)
и в "Описание - свойства и методы объекта" (https://ru.bem.info/libs/bem-core/v2.7.0/desktop/dom/#Свойства-и-методы-объекта-3)
различается порядок следование аргументов метода contains

[2015-11-11 10:24] RumyantsevMichael opened #1238 "bem-core inherit | Документация: Ошибки в примере кода"
На странице https://ru.bem.info/libs/bem-core/v2.7.0/desktop/inherit
в разделе "Создание производного класса" (https://ru.bem.info/libs/bem-core/v2.7.0/desktop/inherit/#Создание-производного-класса)
в примере кода явно напутаны скобки.
Там же идёт вызов метода `instanceOfB.getType();`, вместо `instanceOfB.getAll();`

[2015-11-11 11:04] qfox commented on #1234
My bad, all is fine here.

Thanks for attention!

[2015-11-11 11:04] #1234 closed, assigned to nobody

[2015-11-13 14:25] qfox commented on #1235
Emh, can we merge this? https://github.com/bem/bem-core/pull/1115

[2015-11-13 22:12] qfox commented on #1235
Builds failing because of peer deps of enb. Guess we need to update it first to be sure.

[2015-11-13 22:15] qfox commented on #1153
Why using `/*! ... */`? ;-)

[2015-11-15 16:13] korotovsky commented on #1222
This issue is also affecs me

[2015-11-17 11:01] veged commented on #1222
@korotovsky could you please provide your real case for `BEMDOM.detach()` usage? cause in @h4 case we decide that there is no need in `BEMDOM.detach()` — I'm not gonna reject bug, but believe it has really rare effect

[2015-11-17 11:07] korotovsky commented on #1222
@veged I use i-bem with pjax library. So ... I have to call `BEMDOM.detach()` to detach all BEM blocks and keep DOM uninitialized before pjax will cache the current fragment and replace it with new one (received from server).

[2015-11-17 12:55] veged commented on #1222
ok, got it — see what we can do

[2015-11-19 09:55] veged opened #1241 "Remove `vow` block"
Since #1109 we have a lot of options for promises.

[2015-11-20 17:54] just-boris commented on #1109
I have a some considerations about it:
- Please, use `!` as the delimeter instead of `:`, for example `import $ from 'bem!jquery'`. Most loaders from other world are using this convention, so it would be easy to combine with them.
- Add at the file start some hint to help distinguish that this module has special behavior.  Something like this: `/* @yModule */`.

[2015-11-23 16:52] bu1ka opened #1242 "i-bem: Document `getDefaultParams`"
Hi. It looks like there is no section about `getDefaultParams` method in i-bem description.

[2015-11-23 18:29] narqo commented on #1242
Should be added to https://ru.bem.info/technology/i-bem/v2/i-bem-js-params/

[2015-11-24 10:15] narqo commented on #845
Closing as won't fix, as it breaks backward compatibility. In v3 it's already fixed.

[2015-11-24 10:15] #845 closed, assigned to aristov

[2015-11-24 10:33] narqo commented on #1222
@korotovsky could you describe your case in more details? What happens to this cached fragment (is it DOM fragment, right?) after it is replaced?

It looks like recall of `BemDom.init()` won't work in most cases. Imagine block has a modifier which is possible only in runtime: for example you use `onSetMod` with this modifier and add some event handler within it. In case you try to reinit the block

[2015-11-24 10:41] korotovsky commented on #1222
@narqo What's your suggestion how to work with pjax (or SPA in general) and i-bem then?

[2015-11-24 12:09] narqo commented on #1222
@korotovsky I don't have any solutions now, but we need to look at your usecases in more details, so we can investigate the problem.

[2015-11-25 14:50] #1238 closed, assigned to tadatuta

[2015-11-25 14:51] tadatuta commented on #1238
@RumyantsevMichael Спасибо!

[2015-11-25 14:56] #1237 closed, assigned to tadatuta

[2015-11-25 14:56] tadatuta commented on #1237
@RumyantsevMichael Спасибо!

[2015-11-27 08:46] dfilatov commented on #1222
@korotovsky How is `detach` related to SPA? Why is `destruct` not enough?

[2015-11-27 08:58] korotovsky commented on #1222
@dfilatov Do you know [how pjax works](https://github.com/defunkt/jquery-pjax#overview)? It caches the current fragment (`#main-container` for example) to local private cache and when I press "back" button it restores the previous cached fragment and puts it to `#main-container`. That's why I can't use `destruct` because I have to keep DOM only uninitialized.

[2015-11-27 14:48] dfilatov commented on #1222
@korotovsky Does it cache string or DOM representation of the current fragment?

[2015-11-27 14:52] korotovsky commented on #1222
@dfilatov DOM.

[2015-11-27 15:18] dfilatov commented on #1222
@korotovsky So why do you need to `detach` in that case?

[2015-11-27 15:22] korotovsky commented on #1222
@dfilatov To uninitialize all event-listeners to prevent memory leaks. And another one is I have the chart library (morris.js). It loss some of its hover listeners after restoring from private cache, but I'm unable to reinitialize it because my BEM block (wrapper for morris.js chart) is already initialized.

[2015-11-27 16:49] dfilatov commented on #1222
@korotovsky It's weird you care of memory leaks for event listeners but don't care of memory leaks for DOM nodes.

[2015-11-27 17:05] korotovsky commented on #1222
@dfilatov Please, could you take a look into the pjax library? It has a `maxCacheLength` for its private cache: https://github.com/defunkt/jquery-pjax/blob/master/jquery.pjax.js#L804

And as I mentioned before, memory leaks is only one of my problems which I have when `BEMDOM.detach()` does not remove `*_js_inited` class.

UPDATE:

TL;DR: I'd like to cache only uninitialized DOM fragments. In my c

[2015-11-27 17:11] dfilatov commented on #1222
@korotovsky Ok, I've got it.

[2015-12-03 10:27] veged commented on #1222
We can just fix removing of `*_js_inited` classes. However, problems described by @narqo still be here and you need to deal with them in code of concrete blocks.

[2015-12-03 10:37] veged commented on #1109
@just-boris
- can you please provide examples about "most loaders"? maybe even some standardisation attempts?
- for which modules `/* @yModule */` needed? for every js file in `{common,desktop,touch}.blocks/*/`? looks a bit excessively :-/

[2015-12-03 11:16] just-boris commented on #1109
- [webpack](http://webpack.github.io/docs/using-loaders.html#loaders-in-require)
- [require.js](http://requirejs.org/docs/plugins.html)
- [SystemJS](https://github.com/systemjs/systemjs/blob/master/docs/overview.md#plugin-syntax)

I just don't know more loaders.

[2015-12-03 11:26] just-boris commented on #1109
Well, `/* @yModule */` declaration is redundant. Loader can hide all implementation details, and everything will be alright.

Also, regarding async `provide`. Since you have a special loader, you can place an export everywhere you want.

[code]

[2015-12-03 11:33] qfox commented on #1109
@just-boris What about size of runtime? Did you compared it?

There is a talk on russian about `loader__js`. Please read it again. http://habrahabr.ru/post/213627/#comment_7352647

And, as an example of strange theoretical and even pseudoscientific comparisons: http://hackhat.com/p/110/module-loader-webpack-vs-requirejs-vs-browserify/ — Webpack won, so we should use it, right?

[2015-12-03 11:35] qfox commented on #1222
Propose to add one more state: `_js_deinited` ;-)

[2015-12-03 11:47] just-boris commented on #1109
@zxqfox I don't get what size should be compared here.

I just proposed to use `!` notation to be more similar to other tools. What's wrong with it?

[2015-12-03 11:51] qfox commented on #1109
Just read the answer is not enough, right?

[code]

I'll be waiting for the day when webpack will cook me a borscht!

[code]

[2015-12-03 11:56] just-boris commented on #1109
You may not use long chain of loaders if you don't need it. Also here we are talking about other tools at all.

You can achieve the same hell as well with colon `:`. But `!` is widely treated  as splitter between module name and its loader. Even Webstorm recognizes it and resolves filenames followed after `!`.

[2015-12-03 12:23] qfox commented on #1109
@just-boris Sure. But there is a HUGE difference between LOADERS and NAMESPACES. The first ones are functions.

Yes, we won't overuse these `!`, but users will. And then we should support these projects. You just don't know this progression and how it affect overall productivity.

I'm not against `webpack`, but when I see in their official docs how to load and transpile styles into js, I'm asking

[2015-12-03 12:28] just-boris commented on #1109
Colon-separated namespace reminds me about XSLT. Why you want mix it up with ES2015?

[2015-12-03 12:35] veged commented on #1109
placing `export` anywhere will be against ES2015 standard

[2015-12-03 12:36] s-panferov commented on #1109
@zxqfox webpack is not a module loader, it's a module _bundler_. The idea is to bundle everything inside your program and then use just one file or split it into chunks and load them on-demand. This is extremely powerful and simple conception and it boosts dev cycle a lot. The idea of loaders is powerful to, because it allows to add all types of files into your bundle and pipe transformations. Uni

[2015-12-03 12:48] qfox commented on #1109
@s-panferov I'm sorry that I called webpack a module loader when it's bundler. What a miss.

@just-boris How do you feel when you reading texts with colons? ;-) There are many cases, like: colon before definition, colon before list, colon before explanation.

Why you asking about XSLT? I hope it's not a birth trauma. But we need some delimiter. You proposing exclamation sign as already used in JS

[2015-12-03 12:54] just-boris commented on #1109
@veged ok, let's discuss it later.

Now the question is: why are you prefer `bem:module` rather than well-known `bem!module`?
I don't say about loader semantics and details of implementation, just noted that a lot of developers and tools (text editors) are familiar with that notation and know what it means.

[2015-12-03 13:10] veged commented on #1222
`_js_deinited` is the same as remove `_js_inited`

[2015-12-03 13:15] veged commented on #1109
@just-boris as I can see in brief loader `bem!module` is not the same as "namespace" `bem:module`, so developers and tools may be confused by difference — but we discuss it deeply with @dfilatov and @narqo, thanks for add more connections with existing things

[2015-12-03 15:43] qfox commented on #1109
Prbbly I'm wrong, but I see another syntax: https://github.com/WorldMaker/system-jade-virtualdom

[code]

The second one is the worst one at my pov. While the first one is like modifier or some kind of filter to me.

upd: This is okay to write `import loader from 'bem:borstch.js!so-smetanoi';`

upd2: There could be a crazy alternative: `import loaderSoSmetanoj from 'bem/loader__js!smetanka';`. Or

[2015-12-03 15:51] just-boris commented on #1109
@zxqfox are you loading `borstch`? So, here should be:

[code]

[2015-12-03 15:55] qfox commented on #1109
@just-boris Dude, look at the link please. https://github.com/WorldMaker/system-jade-virtualdom

[2015-12-08 09:47] dfilatov commented on #744
Since it's not a big problem and nobody hasn't investigated it yet — won't fix.

[2015-12-08 09:47] #744 closed, assigned to tadatuta

[2015-12-08 10:08] dfilatov commented on #1222
@h4 @isuvorov @korotovsky Do you use bem-components? If you do, bem-components doesn't support detaching with following reiniting.

[2015-12-08 10:11] korotovsky commented on #1222
@dfilatov No, we don't.

[2015-12-08 10:17] dfilatov commented on #1230
We have no ability to drop this cache automatically in v2 so we expect manual call of `dropElemCache`.

[2015-12-08 10:17] #1230 closed, assigned to nobody

[2015-12-08 10:22] dfilatov commented on #1221
moved to https://github.com/bem/bem-xjst/issues/139

[2015-12-08 10:22] #1221 closed, assigned to nobody

[2015-12-08 10:23] dfilatov commented on #970
@veged: давайте будем честными :) Все дальнейшее обсуждение переносим в https://github.com/bem/bem-xjst

[2015-12-08 10:23] #970 closed, assigned to nobody

[2015-12-08 10:26] dfilatov commented on #1107
Let's move all discussions about BEMTREE and BEMHTML to https://github.com/bem/bem-xjst/issues

[2015-12-08 10:26] #1107 closed, assigned to nobody

[2015-12-08 10:26] dfilatov commented on #1079
Let's move all discussions about BEMTREE and BEMHTML to https://github.com/bem/bem-xjst/issues

[2015-12-08 10:26] #1079 closed, assigned to nobody

[2015-12-08 10:27] dfilatov commented on #1094
Let's move all discussion about BEMTREE and BEMHTML to https://github.com/bem/bem-xjst/issues

[2015-12-08 10:27] #1094 closed, assigned to nobody

[2015-12-08 10:28] dfilatov commented on #470
Let's move all discussion about BEMTREE and BEMHTML to https://github.com/bem/bem-xjst/issues

[2015-12-08 10:28] #470 closed, assigned to nobody

[2015-12-08 10:30] dfilatov commented on #470
Moved to https://github.com/bem/bem-xjst/issues/140

[2015-12-08 10:31] dfilatov commented on #832
All issues about bem-tools are obsolete now.

[2015-12-08 10:31] #832 closed, assigned to tadatuta

[2015-12-08 10:35] dfilatov commented on #730
Let's move all discussion about BEMTREE and BEMHTML to https://github.com/bem/bem-xjst/issues

[2015-12-08 10:35] #730 closed, assigned to nobody

[2015-12-08 10:46] dfilatov commented on #967
@tadatuta Since this is a major change in v3 so bem-history is supposed to consider that while migrating.

[2015-12-08 10:48] dfilatov commented on #965
Let's be honest — won't fix

[2015-12-08 10:48] #965 closed, assigned to nobody

[2015-12-08 10:50] #941 closed, assigned to nobody

[2015-12-08 10:55] dfilatov commented on #902
Let's don't update just for update. If we miss some particular functionality from new version of specific module let's create separate issue.

[2015-12-08 10:55] #902 closed, assigned to nobody

[2015-12-08 11:00] dfilatov opened #1246 "Use ESLint"

[2015-12-08 11:01] dfilatov commented on #900
Closed in favour of #1246

[2015-12-08 11:01] #900 closed, assigned to narqo

[2015-12-11 10:21] vitkarpov opened #1247 "Возможность доопределения jquery__event на уровне проекта"
Для совместимости со старым кодом, бывает полезно иметь возможность доопределить некоторые модификаторы `jquery__event`.

Конкретно, нам в проекте потребовалось добраться до `FastClick`, который используется в `jquery__event_type_pointerevents`.

С текущей версией `bem-core` получить ссылку на него нельзя.

Что сделал в своем форке:
- определил элементы `jquery__event` как отдельные элементы с точ

[2015-12-11 10:41] vitkarpov commented on #1247
https://github.com/vitkarpov/bem-core/commit/e572232cf7a95435e9c9da08548b2ed2d158878c

[2015-12-11 15:28] dfilatov commented on #1247
А что именно вы патчите в FastClick? Это не будет всем полезно?

[2015-12-11 17:03] vitkarpov commented on #1247
Не-а, вряд ли будет. Сейчас у нас есть старые компоненты, которые рассчитывают на mousedown на мобильных :(

FastClick на onTouchEnd (https://github.com/bem/bem-core/blob/v2/common.blocks/jquery/__event/_type/jquery__event_type_pointerclick.js#L514) делает preventDefault в некоторых случаях и mousedown теряется.

Честно говоря, не получится сделать как я хотел: есть jquery__event_type_pointerclick

[2015-12-11 17:05] vitkarpov commented on #1247
@dfilatov @veged @tadatuta коллеги, нет мыслей как это правильно сделать? понимаю, что в принципе такой ситуации быть не должно (что на мобильных mousedown нужен), но в реальности встречается

[2015-12-11 20:16] tadatuta opened #1248 "i-bem__dom_init_auto: Explicit dependency from i-bem__dom_init"
`i-bem__dom_init_auto` [requires](https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/__dom/_init/i-bem__dom_init_auto.js#L6) `i-bem__dom_init` to be strictly before it in bundle but has no `mustDeps` dependency now.

[2015-12-11 20:42] narqo commented on #1248
Any comments / description for the issue?

[2015-12-11 20:47] narqo commented on #1247
Нужно честное dom-событие? Не получится, к примеру, «эмулировать» его из `pointerdown`, который мы эмулируем через PEP?

[2015-12-11 21:26] tadatuta commented on #1248
@narqo added description

[2015-12-11 21:35] dfilatov commented on #1248
@tadatuta Why do you think that "`i-bem__dom_init_auto` requires `i-bem__dom_init` to be strictly before"? `modules.require` doesn't require that its dependencies to be strictly before.

[2015-12-11 21:37] narqo commented on #1248
@tadatuta isn't `modules.require` [asynchronous](https://github.com/ymaps/modules/blob/095f23a2f6cdc0066e4dceb0e58cda25dfa4bfac/modules.js#L73-L91)?

[2015-12-12 06:54] vitkarpov commented on #1247
А поясни подробнее? Вот есть библиотека, где-то внутри $(...).on('mousedown', ...) — это трогать не получится. Каким образом заработает mousedown в итоге?

[2015-12-12 08:14] qfox commented on #1247
Не все могут использовать FastClick и патчить его в наше время. Мало кто может это делать.

[2015-12-12 08:29] vitkarpov commented on #1247
@zxqfox всмысле? не совсем понял :)

[2015-12-12 10:07] qfox commented on #1247
Это я так невнятно выражаю удивление факту использования FastClick ;-)

[2015-12-12 15:26] narqo commented on #1247
@vitkarpov я думал про «костыль» на уровне тач-устройств, который подменяет одно событие другим (через jquery special event). Примерно так же, как сейчас работает `pointerclick` https://github.com/bem/bem-core/blob/v2/common.blocks/jquery/__event/_type/jquery__event_type_pointerclick.js#L769-L785

@zxqfox

#1088 — label:v3 (ждем, пока само пройдет).

[2015-12-12 20:22] vitkarpov commented on #1247
Типа, на тачах определить `mousedown` через special event? Мысль понял. Спасибо. Подумаю.
В любом случае, ссылку на FastClick получить удалось, но не так «красиво» как я думал.

[2015-12-18 13:31] tadatuta commented on #1248
you are right, there was a bug in deps techs which was fist fixed with mustDeps for `i-bem__dom_init` but now there's a fix in module itself.

[2015-12-18 13:31] #1248 closed, assigned to tadatuta

[2016-01-11 02:56] tadatuta opened #1249 "Update jQuery to 2.2 and 1.12"
http://blog.jquery.com/2016/01/08/jquery-2-2-and-1-12-released/

[2016-01-23 22:59] dzenkiedo opened #1252 "Feedback for "Справочное руководство по шаблонизатору BEMHTML""
Здравствуйте.
Не могу понять, почему у меня  не работает пример из справочного руководства

https://ru.bem.info/technology/bemhtml/v2/reference/#Использование-позиции-БЭМ-сущности

скопировал один-в-один и решил проверить на странице online demo
http://bem.github.io/bem-xjst/

получил вот такой результат (скрин экрана)

https://yadi.sk/i/EgVlTuK8ndLc5

[2016-01-23 23:36] tadatuta commented on #1252
@dzenkiedo В документации опечатка, нужно заменить `elemMatch` на `elem`.
Исправил в https://github.com/bem/bem-core/commit/c8cfc09afd58efd55946984c8a82c16bbfadc7d7

Спасибо!

[2016-01-23 23:36] #1252 closed, assigned to nobody

[2016-01-23 23:45] dzenkiedo commented on #1252
https://ru.bem.info/technology/bemhtml/v2/templating/#Декларативный-подход

Здесь получается то же самое наверное.

[2016-01-24 00:43] tadatuta commented on #1252
Да, исправил, спасибо еще раз!

[2016-01-27 13:31] JiLiZART opened #1253 "Не отрабатывает pointerclick на мобильном устройстве"
bem-core 2.8.0
Дестктоп Google Chrome 48.0.2564.82
Мобильник iPhone 4, Google Chrome 47.0.2526.107

Имеем такой код блока.

[code]

На десктопе все отрабатывает отлично, в режиме эмуляции мобильного устройства тоже все прекрасно.
На мобильнике, `pointerpress` отрабатывает, `alert` выводится, а вот `pointerclick` молчит

[2016-02-03 12:17] veged commented on #1088
finally decide to remove fastclick

[2016-02-03 12:18] veged commented on #1253
должно починиться после #1088

[2016-02-03 12:20] veged commented on #1247
раз удалось найти воркараунд предлагаю тикет про изменения в ядро закрыть

[2016-02-03 12:20] #1247 closed, assigned to nobody

[2016-02-03 12:24] veged commented on #1156
can't catch a problem at all

[2016-02-03 12:32] tadatuta commented on #1156
that costs us nothing but will make some external tools easier to use, so I'd keep this issue open

[2016-02-03 12:32] veged commented on #1095
seems like this issue is belong to [bem-xjst](https://github.com/bem/bem-xjst/)

[2016-02-03 12:32] #1095 closed, assigned to nobody

[2016-02-03 12:41] veged commented on #964
можно уточнить, где именно и с какими версиями библиотек не работает пример?

попробовали в [repl](http://bem.github.io/bem-xjst/?bemhtml=block%28'hello'%29%28%0A%20%20%20%20content%28%29%28function%28%29%20%7B%0A%20%20%20%20%20%20%20%20return%20%28this.ctx.names%20%7C%7C%20%5Bthis.ctx.name%5D%29.map%28function%28user%29%20%7B%0A%20%20%20%20%20%20%20%20%20%20%20%20return%20%7B%20elem%3A%20'item'%2

[2016-02-03 12:45] veged commented on #1156
can't understand why "nothing" — we need to commit something, moreover need to fix build tools for site, also we consciously consider this docs as "blocks in .*.md techs"

[2016-02-03 12:49] veged commented on #1220
@Guria could you provide PR?

[2016-02-03 12:52] veged commented on #54
since new bem-xjst it has become irrelevant

[2016-02-03 12:52] #54 closed, assigned to dfilatov

[2016-02-03 12:53] veged commented on #50
should belong to bem-xjst or enb-\* now

[2016-02-03 12:53] #50 closed, assigned to nobody

[2016-02-03 12:53] Guria commented on #1220
Sorry, I don't remember details

[2016-02-03 15:54] vitkarpov commented on #1247
Ага, спасибо!

[2016-02-08 12:56] veged opened #1254 "jquery__event_type_pointerpressrelease: expose `originalEvent`"

[2016-02-10 13:25] xmarinin opened #1255 "Конфликт с mix: {}, при установке модификатора блоку?"
(см. комментарий в примерах)

Условно, есть такой BEMJSON:

[code]

И примерно такой клиентский JS-код:

[code]

[2016-02-10 13:30] dfilatov commented on #1255
`this.friendButton.setMod('type', 'action');`
такой код в принципе не может работать, `this.friendButton` это jquery-коллекция, у нее нет методов `setMod`.

[2016-02-10 13:30] dfilatov commented on #1255
должно работать так:
`this.setMod(this.friendButton, 'type', 'action')`

[2016-02-10 13:34] xmarinin commented on #1255
Да, верно (ошибся, писал пример на коленке) — обновил. Тем не менее, это не относится к проблеме.

[2016-02-10 13:37] dfilatov commented on #1255
То есть кнопке нужно поставить модификатор с таким же именем, которое уже есть у элемента другого блока, я правильно понимаю?

[2016-02-10 13:38] xmarinin commented on #1255
Да.

[2016-02-12 13:39] veged commented on #1255
@Creamov оффтоп: вместо

[code]

лучше писать

[code]

[2016-02-12 14:33] veged commented on #1255
баг воспроизводится — будем чинить

[2016-02-12 14:44] #1254 closed, assigned to narqo

[2016-02-16 12:58] dfilatov commented on #1255
Покопались подробнее — баг не воспроизводится (первый раз мы тест некорректный написали).
Вот пример с jsfiddle, где все работает: http://jsfiddle.net/7oauweeL/1/

[2016-02-24 14:50] tadatuta opened #1258 "Drop everything about BEMHTML/BEMTREE base templates"
In newest versions of bem-xjst (#1283) basic templates are embedded — so we can drop everything about this in bem-core library.

[2016-02-24 15:01] tadatuta opened #1259 "Rename v3 to v4"
We need to make major changes on top of current `v2` (actually #1088). We already have `v3` branch and some development for it. So we decide to rename current `v3` to `v4` to obtain possibility to ship major changes as `v3`.
- [x] branches
- [x] label
- [x] milestone

[2016-02-26 09:54] miripiruni commented on #1258
:+1:

[2016-02-26 18:39] tadatuta opened #1260 "Update jQuery to 1.12.3 and 2.2.3"

[2016-02-27 09:17] tadatuta opened #1261 "Release 2.9.0"

[2016-02-27 20:36] narqo commented on #1261
https://github.com/bem/bem-core/releases/tag/v2.9.0

[2016-02-27 20:36] #1261 closed, assigned to nobody

[2016-03-03 07:42] aliosv opened #1263 "Баг при загрузке скриптов"
Столкнулся при разработке плагина к хрому с ошибкой noConflict of undefined
https://github.com/bem/bem-core/blob/v2/common.blocks/jquery/jquery.js#L18

Причина - протокол страницы равен  "chrome-extension:"(страница настроек плагина), обработка таких случаев здесь https://github.com/bem/bem-core/pull/111/files

[2016-03-07 11:36] tadatuta opened #1265 "i-bem-dom__events_type_bem: Support stopPropagation"

[2016-03-11 09:14] Smolnikovp opened #1266 "Feedback for "Общие сведения о фреймворке""
отсутствует открывающая скобка перед "например"

[2016-03-11 09:42] #1266 closed, assigned to nobody

[2016-03-11 09:42] tadatuta commented on #1266
@Smolnikovp Спасибо, исправлено в https://github.com/bem/bem-core/commit/9decdc07fb66b11e02b4900a76722cf80391dcb4

[2016-03-15 15:30] tadatuta opened #1267 "i-bem__dom: Inverse name of forceLive param of initBlock method"
`forceLive` in https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/__dom/i-bem__dom.js#L92 actually does just opposite so it should be renamed.

[2016-03-21 05:53] 3ABAPKA opened #1268 "Feedback for "Быстрый старт по BEMHTML""
Думается верным добавить строчку:

без этого `npm install` выдает `bash: npm: command not found`

[2016-03-26 16:51] awinogradov opened #1269 "i-bem doesn't work with svg"
Find methods can't match class. Bug in action https://github.com/awinogradov/project-stub/commit/ee59e20265c0c7e3f3c757aa0cd374a55d37302e

[2016-03-26 22:03] tadatuta commented on #1269
@awinogradov See https://ru.bem.info/forum/821/#comment-174037415

[2016-03-26 22:14] awinogradov commented on #1269
@tadatuta ok) I understand. I can patch. But this word mean I fix bug on my project level. Do you have plans to fix it in `i-bem`? Some ideas to `SVG` support?

[2016-03-26 22:20] tadatuta commented on #1269
Can you suggest backward compatible PR with a fix to bem-core?

[2016-03-26 22:35] tadatuta opened #1270 "dist: Make autoinit optional"
- [ ] Add tests
- [ ] Update readme
- [x] Release bower version
- [x] Release CDN version

[2016-03-27 01:02] tadatuta opened #1272 "Update tmpl-specs"

[2016-03-27 01:09] tadatuta commented on #1272
https://github.com/bem/bem-core/pull/1273

[2016-03-27 01:09] #1272 closed, assigned to nobody

[2016-03-29 09:24] mtnt opened #1279 "i-bem: Document parameters for `on`"
https://monosnap.com/file/Y7RXWQr6Lb04bzoppngb4Vf3alPVCi

несоответствие аргументов и их описания

[2016-03-29 19:52] miripiruni commented on #1219
Can you specify BEMHTML version? I mean bem-xjst version…

[2016-03-29 20:03] tadatuta commented on #1219
actually the issue is outdated

[2016-03-29 20:03] #1219 closed, assigned to nobody

[2016-03-30 13:30] tadatuta commented on #1279
Строго говоря тут нет ошибки — JSDoc отражает все возможные аргументы, а текстовое описание — только обязательные. Но соглашусь, что можно улучшить.

[2016-03-30 13:34] tadatuta commented on #1268
На самом деле пользователю нет необходимости устанавливать зависимости в библиотеке, если только он не хочет участвовать в ее разработке. Мы предполагаем, что для тех, кто готов контрибьютить в `bem-core`, требование про `node.js` для установки `npm-зависимостей` является очевидным.

А для использования `bem-core` на своем собственном проекте в документации рекомендуется использовать `project-stub

[2016-03-30 13:34] #1268 closed, assigned to nobody

[2016-03-30 13:36] tadatuta commented on #866
Закрываю в пользу нового [bem-tools-create](https://github.com/bem-contrib/bem-tools-create)

[2016-03-30 13:36] #866 closed, assigned to tadatuta

[2016-03-30 13:38] tadatuta commented on #940
Closing in favor of https://github.com/bem/bem-xjst/pull/206

[2016-03-30 13:38] #940 closed, assigned to tadatuta

[2016-03-30 13:40] tadatuta commented on #969
Closing in favor of docs in bem-xjst repo

[2016-03-30 13:40] #969 closed, assigned to nobody

[2016-03-30 13:40] tadatuta commented on #40
Outdated

[2016-03-30 13:40] #40 closed, assigned to tadatuta

[2016-03-30 13:41] #640 closed, assigned to tadatuta

[2016-03-30 13:43] tadatuta commented on #917
Написали новую документацию на bem-xjst: https://github.com/bem/bem-xjst/tree/master/docs/ru

[2016-03-30 13:43] #917 closed, assigned to innabelaya

[2016-03-30 13:45] tadatuta opened #1280 "Use new bem-tools"

[2016-04-01 11:33] narqo opened #1283 "Switch to new bem-xjst"
This looks like a major chage. It might be done with #1088 or later in next major version.

[2016-04-01 11:35] narqo commented on #1283
See #1258 for related.

[2016-04-01 11:47] veged commented on #576
still need to port to `v4` #1178

[2016-04-01 11:48] #1259 closed, assigned to nobody

[2016-04-03 12:06] tadatuta commented on #1258
let's do it in `v3`?

cc @veged

[2016-04-04 14:57] qfox opened #1285 "Publishing to NPM"
Can we publish releases to NPM? It should be viable since npm3.0 dedupe packages by default

[2016-04-04 14:59] awinogradov commented on #1285
👍

[2016-04-04 20:31] tadatuta commented on #1285
yep, and `bem-components` with precompiled styles as well. will do it as soon as find some time.

[2016-04-05 12:29] narqo commented on #1258
@tadatuta we agree, could you do this and #1283?

[2016-04-05 12:53] narqo commented on #1088
N.B. Current iOS versions support `touch-action: manipulation` which seems to solve 300ms lag. We need to add this CSS rules to every controls in bem-components.

[2016-04-05 13:28] narqo commented on #1249
Looks like it was fixed both in v2 and v3 (v4).

[2016-04-05 13:28] #1249 closed, assigned to tadatuta

[2016-04-05 13:31] narqo commented on #1099
Решили закрыть в пользу #1258. В v2 уже делать ничего масштабного не будем.

[2016-04-05 13:31] #1099 closed, assigned to nobody

[2016-04-05 13:32] narqo commented on #1056
Must be ported to v4!

[2016-04-05 13:33] narqo commented on #1015
Must be ported to v4.

[2016-04-05 13:36] #873 closed, assigned to tadatuta

[2016-04-05 13:38] narqo commented on #684
Must be ported to v4.

[2016-04-05 13:40] narqo commented on #621
Must be ported to v4.

[2016-04-05 13:43] narqo commented on #1235
Looks like must be closed with #1284

[2016-04-05 14:01] narqo opened #1292 "Release 3.0.0"

[2016-04-05 14:04] narqo opened #1293 "Ensure everything that was fixed in v2 has been ported to v4"
/cc @zxqfox ;)

[2016-04-05 14:18] tadatuta commented on #1258
ok, assigned to myself

[2016-04-05 15:04] tadatuta commented on #1015
Actually it's not relevant anymore as now documentation is kept in `bem-xjst` repo.

[2016-04-05 15:04] #1015 closed, assigned to tadatuta

[2016-04-05 15:06] tadatuta commented on #621
@narqo I'd better get rid of any support for `bem-tools` in v3. Let's close all such issues?

[2016-04-05 16:42] narqo opened #1294 "page: Wrong user-scalable value in meta name=viewport on touch level"
https://github.com/bem/bem-core/blob/v2.9.0/touch.blocks/page/page.bh.js#L14-L20

`page` adds `<meta name=viewport>` with `user-scalable=0` which is not a valid value.

See https://drafts.csswg.org/css-device-adapt/#user-scalable

The valid value is `no`.

/cc @doochik @tadatuta

[2016-04-05 16:45] doochik commented on #1294
This will fix https://github.com/bem/bem-components/issues/1738 because fast click will be disabled for chrome on pages with meta `user-scalable=no`

[2016-04-05 17:28] #1294 closed, assigned to narqo

[2016-04-05 17:37] #1056 closed, assigned to narqo

[2016-04-05 17:38] #852 closed, assigned to narqo

[2016-04-05 21:51] tadatuta commented on #1292
Please do not release at least until our O2 meeting, I'd like to get rid of some useless junk with this release.

[2016-04-06 12:52] #621 closed, assigned to narqo

[2016-04-06 12:52] veged commented on #1283
@tadatuta can you help with it?

[2016-04-06 13:29] qfox commented on #1283
I can help, if infra is ready.

[2016-04-06 13:44] veged commented on #649
как именно нужно расширить описание? по моему оно «goto enough»

[2016-04-06 13:44] #649 closed, assigned to nobody

[2016-04-06 13:58] veged commented on #1222
since we use `BEMDOM.detach` only in some edge cases (for example in React wrapper) we do not need both: this consistency in modifiers and performance penalty in `className` modifications — so considering as wan't fix for now

[2016-04-06 13:58] #1222 closed, assigned to nobody

[2016-04-06 14:03] veged commented on #887
could anyone provide more details: what templates defined in touch level should be moved to common?

[2016-04-06 14:25] veged commented on #807
is it still relevant and not fixed in bem-xjst?

[2016-04-06 14:27] veged commented on #747
not relevant for bem-core, since we have bem-xjst with base templates inside

see also #1258

[2016-04-06 14:27] #747 closed, assigned to nobody

[2016-04-06 14:29] veged commented on #658
@tadatuta is it relevant since new bem-xjst?

[2016-04-06 14:46] veged commented on #1122
we can't use boolean style for this block, because we suppose to use styles for `.ua_js_no`

[2016-04-06 14:46] #1122 closed, assigned to nobody

[2016-04-06 15:02] apsavin commented on #658
@veged I hope that we will have only one - sync - version of bemtree. If so, it's not relevant.

[2016-04-06 15:42] qfox commented on #658
Let's close then?

[2016-04-06 15:53] #658 closed, assigned to nobody

[2016-04-06 17:25] qfox commented on #1043
Closed via #1284

[2016-04-06 17:25] #1043 closed, assigned to tadatuta

[2016-04-06 17:26] qfox commented on #1235
Yeah, jscs@2.x in v4. Do we need it for v2? Not sure.

[2016-04-06 18:12] apsavin commented on #658
@narqo I think we should reopen this or close https://github.com/bem/bem-xjst/issues/155

[2016-04-06 19:43] narqo commented on #658
I'm not sure about it. There won't be anything related to xjst base templates in bem-core 3.0.0+ (see #1288). And I don't see any particular reason to do anything about it here.

[2016-04-06 19:44] apsavin commented on #658
Mmm, ok.

[2016-04-06 19:45] narqo commented on #1235
@zxqfox we need in v3 as it's going to become our "main" branch soon.

[2016-04-07 07:22] veged commented on #1283
@zxqfox the issue is about infra ;-)

[2016-04-07 11:39] tadatuta opened #1304 "Drop support for old i-bem__i18n"
cc @veged @narqo @dfilatov

[2016-04-07 11:45] tadatuta commented on #984
let's do it in `v3`?

cc @veged @narqo

[2016-04-07 14:55] veged commented on #1304
if new i18n covers all cases and works fine — let's do this

[2016-04-07 18:09] tadatuta commented on #1304
all but possibility to translate BEMJSON (still we consider it never supported in bem-core anyways).

[2016-04-11 15:45] #1293 closed, assigned to qfox

[2016-04-11 15:48] #1047 closed, assigned to veged

[2016-04-11 15:51] veged commented on #1047
changes are too big, we can't provide any possibility of simultaneous usage of both API versions (so one of them can be warned as deprecated)

[2016-04-11 15:55] #582 closed, assigned to narqo

[2016-04-11 16:09] #379 closed, assigned to nobody

[2016-04-12 09:51] narqo commented on #1265
It's impossible to make it work in current v2. Will do it in v4.

[2016-04-12 12:29] tadatuta commented on #1130
Closing in favour of CSSO :)

[2016-04-12 12:29] #1130 closed, assigned to nobody

[2016-04-12 12:31] #964 closed, assigned to innabelaya

[2016-04-12 13:20] tadatuta commented on #806
Closing in favor of https://github.com/bem/bem-xjst/issues/241

[2016-04-12 13:20] #806 closed, assigned to nobody

[2016-04-12 13:20] tadatuta commented on #807
Closing in favour of https://github.com/bem/bem-xjst/issues/241

[2016-04-12 13:20] #807 closed, assigned to nobody

[2016-04-12 13:22] tadatuta commented on #820
Closing in favour of https://github.com/bem/bem-xjst/issues/242

[2016-04-12 13:22] #820 closed, assigned to veged

[2016-04-12 13:35] tadatuta opened #1309 "Drop jquery__event_type_winresize"
I believe there's no users of it anyways.

[2016-04-12 13:38] tadatuta commented on #1263
Fixed in https://github.com/bem/bem-core/pull/111

[2016-04-12 13:45] tadatuta commented on #1260
Waiting for https://nda.ya.ru/3RU7Bj

[2016-04-12 13:45] tadatuta commented on #887
All of them, actually. There's no need in touch level at all.

[2016-04-12 14:26] veged opened #1310 "Release 4.0.0"
- [x] Document changes:
  - [x] #967
- [x] Changelog #1417
- [x] Translate migration guide and changelog to English

[2016-04-12 14:35] aliosv commented on #1263
по ссылке нет фикса

[2016-04-12 14:47] tadatuta commented on #1263
@aliosv да, невнимательно посмотрел

[2016-04-12 21:22] tadatuta opened #1311 "page: Refactor BEMHTML template"

[2016-04-13 08:42] veged commented on #1260
https://nda.ya.ru/3RU7Bj is done

[2016-04-13 08:43] veged commented on #1253
@JiLiZART можешь взять bem-core@v3 и проверить, воспроизводится ли?

[2016-04-13 08:43] #1235 closed, assigned to qfox

[2016-04-13 08:49] veged commented on #1267
will be fixed in #877

[2016-04-13 08:49] #1267 closed, assigned to nobody

[2016-04-13 08:53] veged commented on #1263
так а что происходить и что должно происходить? мы пытаемся загрузить jQuery по протоколу chrome-extension? должны грузить так как написано в https://github.com/bem/bem-core/blob/v2/common.blocks/jquery/__config/jquery__config.js ?

[2016-04-13 08:55] #1255 closed, assigned to nobody

[2016-04-13 08:59] veged commented on #1233
close in favour of #1279

[2016-04-13 08:59] #1233 closed, assigned to nobody

[2016-04-13 09:03] veged commented on #1220
I'm afraid it's lost topicality since v3 and new versions of bem-xjst

[2016-04-13 09:03] #1220 closed, assigned to nobody

[2016-04-13 09:03] #1193 closed, assigned to nobody

[2016-04-13 09:10] JiLiZART commented on #1253
Попробую в project-stub проверить

[2016-04-13 09:37] veged commented on #1309
it can be used on project level

[2016-04-13 09:37] #1309 closed, assigned to nobody

[2016-04-13 09:54] #1175 closed, assigned to nobody

[2016-04-13 11:55] aliosv commented on #1263
Указание протокола в jquery__config.js решает проблему, раньше его там не было, приходилось переопределять на уровне проекта. По аналогии с проверкой на file: можно добавить проверку на chrome-extension

[code]

[2016-04-13 13:56] veged commented on #1263
кажется, что `chrome-extension` не единственный такой кейс (как минимум могут же быть плагины в других браузерах) — может как-то написать более обобщённо?

[2016-04-13 14:13] tadatuta opened #1313 "ua: Provide CSP support"
Add something like:

[code]

[2016-04-13 15:37] #648 closed, assigned to innabelaya

[2016-04-13 15:40] #983 closed, assigned to nobody

[2016-04-13 15:49] #901 closed, assigned to veged

[2016-04-13 15:50] veged commented on #887
as discussed today with @tadatuta — wont fix

[2016-04-13 15:50] #887 closed, assigned to nobody

[2016-04-13 15:51] veged commented on #884
should be fixed — reopen in case of problems, pls

[2016-04-13 15:51] #884 closed, assigned to veged

[2016-04-13 15:56] #1156 closed, assigned to tadatuta

[2016-04-13 16:03] veged commented on #974
should be fine after https://github.com/bem/bem-info-libs/commit/d04b37c1e06b4a810995b06b98142bff9415d626 and https://github.com/bem-site/bem-md-renderer/pull/7

[2016-04-13 16:03] #974 closed, assigned to tadatuta

[2016-04-13 16:06] veged commented on #1153
is it actual?

[2016-04-13 16:17] #967 closed, assigned to veged

[2016-04-13 17:17] GreLI opened #1317 "JS error in IE8"
It's declared that bem-core is fully supporting MSIE 8, but actually it depends on JQuery Pointer Events Polyfill where it fails on [this.delete(k)](https://github.com/bem/bem-core/blob/v2/common.blocks/jquery/__event/_type/jquery__event_type_pointernative.js#L142) string in `SparseArrayMap` object.

Related bug in PEP jquery/PEP#253 ended with “let's drop IE8”.

[2016-04-13 17:23] GreLI commented on #1317
~~Also, `i-bem__dom` uses `Array#indexOf` as in [i-bem__dom.js#L1539](https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/__dom/i-bem__dom.js#L1539) as well as `Object.keys`, `Array.map` and other ES5 methods.~~

Ok, [bem/es5-shims](/bem/es5-shims) handles it.

[2016-04-13 19:30] birhoff commented on #1313
issue resolved by `page.nonce`

[2016-04-13 19:30] #1313 closed, assigned to tadatuta

[2016-04-13 20:09] tadatuta commented on #1153
it's still actual

[2016-04-13 21:53] #1317 closed, assigned to nobody

[2016-04-13 22:26] #1260 closed, assigned to tadatuta

[2016-04-14 00:47] 4ok opened #1322 "i-bem: Fix code for use library in strict mode"
- https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.vanilla.js#L196-201
- https://github.com/bem/bem-core/blob/v2/common.blocks/i-bem/i-bem.vanilla.js#L211-216

This code won't work correctly in strict mode, because "e" parameter isn't reference to "arguments"

[2016-04-14 14:32] awinogradov opened #1323 "Move page to bem-components?"
Page is an alone block with bemhtml. All visual components living in `bem-components`. Why `bem-core` can't be a clear library without any templates?

[2016-04-14 14:39] qfox commented on #1323
It can be a bem-page library, but not a block in bem-compontent. Page is not a component. Definitely.

[2016-04-14 15:07] awinogradov commented on #1323
Page is a block, right?) `bem-components` contains blocks, right?) Can you explain your expression?) Page can have js and css like other components. `bem-page` is a simple way, I'm agree. It can solve the problem in `package.js`. Ex:

[code]

[2016-04-14 15:29] awinogradov opened #1324 "Why page depends on i-bem?"
https://github.com/bem/bem-core/blob/v3/common.blocks/page/page.deps.js#L3

Now bem-core free from base templates and page doesn't need i-bem for right work. I think it should be optional on the project's level because I want to build the project without i-bem.

[2016-04-14 21:12] narqo commented on #1324
99% of our projects need `i-bem__dom_init_auto` (see bem/bem-bl#298). This is the only reason [this deps](https://github.com/bem/bem-core/blob/e15aa9267aed8a088726cd20003bff9132915f6a/common.blocks/page/page.deps.js#L3) are there. Nobody, and I mean it, wants to have this tiny line in their project's deps.

We've spent several years debating with our internal users about this thing. And, actually,

[2016-04-14 21:22] tadatuta commented on #1324
@awinogradov looks like the solution for your task is to copy/paste `page` template to `react-bl` and get rid of `bem-core` at all

[2016-04-14 21:22] narqo commented on #1313
See #882

[2016-04-14 21:23] awinogradov commented on #1324
Yeah, 99% projects. Ok. Why I need to write deps for input_has-clear if I want it and I need to write noDeps for i-bem?  I think we must use the same politic for the same things. If I want I should call deps. Am I wrong?

@tadatuta it's not about react-bl. It's the common question.

[2016-04-14 21:40] Guria commented on #1324
@awinogradov maybe `bem-page` as standalone package is pretty good solution in fact.

[2016-04-18 11:36] narqo commented on #1292
https://github.com/bem/bem-core/releases/tag/v3.0.0

[2016-04-18 11:36] #1292 closed, assigned to nobody

[2016-04-18 15:44] #1265 closed, assigned to narqo

[2016-04-18 15:44] #877 closed, assigned to narqo

[2016-04-19 13:44] veged opened #1332 "i-bem, i-bem-dom: Support entity class as argument for declaration"

[2016-04-19 14:05] veged opened #1333 "i-bem, i-bem-dom: Fix block declaration in case of base-block and mixins"

[2016-04-20 09:29] tenorok opened #1335 "i-bem__dom: Possibility to specify modifier for liveInit*-methods"
Often we face with situation, when block has few children blocks with same names and a different modifiers. In this case it would be very useful opportunity to pass object with properties `block`, `modName` and `modVal` in the methods [`liveInitOnBlockEvent`](https://github.com/bem/bem-core/blob/v3.0.0/common.blocks/i-bem/__dom/i-bem__dom.js#L1307) and [`liveInitOnBlockInsideEvent`](https://github

[2016-04-20 11:05] veged opened #1336 "i-bem-dom: Rename `containsBemEntity` to `containsEntity`"

[2016-04-20 11:06] veged commented on #1336
already done :-/

[2016-04-20 11:06] #1336 closed, assigned to nobody

[2016-04-20 20:18] #1304 closed, assigned to tadatuta

[2016-04-20 20:18] #1283 closed, assigned to tadatuta

[2016-04-20 20:19] #1270 closed, assigned to nobody

[2016-04-20 20:19] #1258 closed, assigned to tadatuta

[2016-04-20 20:19] #984 closed, assigned to tadatuta

[2016-04-20 20:19] #576 closed, assigned to aristov

[2016-04-20 20:19] #1311 closed, assigned to tadatuta

[2016-04-20 21:18] #1121 closed, assigned to tadatuta

[2016-04-20 21:55] JiLiZART commented on #1253
@veged
Итак, имеем
Десктоп Google Chrome 50.0.2661.75
Мобильник iPhone 4, Google Chrome 47.0.2526.107
Cделал небольшой воркэраунд для проверки бага
https://github.com/JiLiZART/project-stub/tree/pointerclick-bug

В блоке определены события, по клику на них выскакивает `alert(eventName)`

[code]

###### Кейс 1.

_На десктопе_:
Клик по элементу, выскакивает только `pointerpress` alert.
_На десктопе в

[2016-04-21 09:55] tadatuta commented on #1253
Собрал тестовый стенд:
http://tadatuta.github.io/temp/desktop.bundles/index/index.html
http://tadatuta.github.io/temp/touch.bundles/index/index.html

Проблему подтверждаю.

[2016-04-21 13:31] dfilatov commented on #1253
По поводу кейса 1 — замените `alert` на `console.log` и все будет работать. При показе системного `alert`  в момент `pointerpress` никаких кликов не случается, что достаточно логично.

[2016-04-21 14:06] dfilatov commented on #1253
Да, `pointerclick` перестал работать в тачах на неинтерактивных элементах. Будем чинить.

[2016-04-25 11:03] veged commented on #1253
а может кто-то проверить как оно на Андройдах себя ведёт?

[2016-04-29 13:17] #1332 closed, assigned to dfilatov

[2016-05-04 20:31] #1333 closed, assigned to dfilatov

[2016-05-05 11:07] dfilatov opened #1342 "i-bem, i-bem-dom: rename `declMix` to `declMixin`"

[2016-05-05 14:39] zakaratcha opened #1344 "Feedback for "Взаимодействие блоков""
В статье приведен пример "Вызов статического метода close блока popup позволяет закрыть все попапы на странице".
Но у popup нет такого статического метода :(

А мне вот как раз понадобилось закрыть все попапы на странице и поиск выдает только эту статью.
Также из документации не могу понять, как достучаться до экземпляров блока из статических методов (пытаюсь реализовать этот самый метод close на

[2016-05-05 14:51] tadatuta commented on #1344
[code]

[2016-05-05 14:59] zakaratcha commented on #1344
Спасибо.
Правда в моем случае без { modName: 'autoclosable', modVal: true }

[2016-05-05 15:05] #1344 closed, assigned to nobody

[2016-05-06 09:06] #1342 closed, assigned to dfilatov

[2016-05-10 13:29] veged opened #1346 "i-bem-dom: Make result of `_elem*` to be union of `findChildElem*` and `findMixedElem*`"
As minor consequence we have to drop cache refresh optimisation (from #583).

[2016-05-11 10:02] tadatuta opened #1348 "i-bem-dom: Wrong callback context in _domEvents in case of bind to document or window"
[code]

[2016-05-11 11:19] #1348 closed, assigned to dfilatov

[2016-05-11 11:22] dfilatov opened #1350 "i-bem-dom: Redeclaration with entity class doesn't work"
It works well if we use string as block identifier, but fails in case of entity class.

[2016-05-11 12:45] #1350 closed, assigned to dfilatov

[2016-05-11 13:15] veged opened #1352 "i-bem-dom: Automatically drop elems cache on every DOM modification"
We can track which elems participate in `init`/`destruct` and automatically call `_dropElemCache` for their blocks instances.

And we can make `_dropElemCache` private after that!

[2016-05-16 10:44] #1346 closed, assigned to veged

[2016-05-16 11:54] dfilatov opened #1354 "i-bem-dom: `_dropElemCache` called for elem only doesn't drop cache for mods"

[2016-05-16 12:30] veged opened #1356 "i-bem-dom: Add ability to pass BEM-entity to all DOM-modification functions"

[2016-05-16 12:43] veged opened #1357 "i-bem-dom: Expose DOM-modification API to BEM-entity instance"
It might be useful to have `update()`, `append()`, `prepend()` (and maybe `destruct()`) in an instance.

[2016-05-16 13:30] #1354 closed, assigned to dfilatov

[2016-05-18 13:38] veged opened #1359 "i-bem-dom: Rename `_buildClass` to `_buildClassName`"

[2016-05-18 13:41] #1352 closed, assigned to veged

[2016-05-18 13:57] veged commented on #1322
are you sure that you catch all cases where we modify arguments? seems like there were some more... can you check it somehow full and automatically?

[2016-05-18 14:17] #1359 closed, assigned to veged

[2016-05-19 09:29] veged commented on #1324
`page` with `i-bem__dom_init_auto` is not the same as `input_has-clear` in terms of usage — so we use same politic witch produce different result for different cases

[2016-05-19 09:29] #1324 closed, assigned to nobody

[2016-05-19 09:30] veged commented on #1323
`page` is very «basic» block, you can't make almost any web-site without this — so that's why we call it «core»

[2016-05-19 09:30] #1323 closed, assigned to nobody

[2016-05-19 11:36] qfox commented on #1324
We shouldn't close questions instantly, I guess.

[2016-05-23 11:31] veged opened #1361 "i-bem-dom: Ability to unroll all binds that were made in `onInit()` of class"
In some cases bind made in `onInit()` may be _unnecessary_ collected and make penalty to performance. Need to investigate realness of the issue and possibility to fix this with current approach.

[2016-05-23 12:08] veged opened #1362 "i-bem-dom__event: Ensure that we have ability to bind events from class to block with specified modifier"
[code]

[2016-05-25 06:46] Guria opened #1363 "usage documentation lack of links to cdn and bem-core-dist repo"

[2016-05-25 12:20] dfilatov opened #1364 "i-bem: Rename `block()` to `_block()`"

[2016-05-25 12:37] dfilatov opened #1365 "i-bem__collection: enable to pass arguments to constructor without intermediate array"

[2016-05-27 12:32] #1365 closed, assigned to dfilatov

[2016-05-27 13:37] #1364 closed, assigned to veged

[2016-05-27 14:17] #1362 closed, assigned to veged

[2016-06-01 10:13] #578 closed, assigned to veged

[2016-06-03 15:52] narqo commented on #1310
Also we need to add some notes about [`events__observable`](https://github.com/bem/bem-core/tree/v4/common.blocks/events/__observable), as a way to subscribe to bem-events from the outer world (see https://ru.bem.info/forum/1020/#comment-223608883).

[2016-06-10 15:51] tadatuta opened #1371 "Use jQuery 3.1"

[2016-06-16 03:24] 4ok commented on #1322
@veged, Yes, I'll see soon

[2016-06-16 22:25] tadatuta opened #1373 "[v4]: Impossible to subscribe to mixed elem of same block"
[code]

Expected: `clicked` message in console when `b1` is clicked.
Actual result: nothing happened.

[2016-06-16 22:44] tadatuta opened #1374 "Add support for `modVal : '*'` in `declMod`"
Used for example in https://github.com/bem/bem-components/blob/v3/common.blocks/button/_togglable/button_togglable.js#L12 or https://github.com/bem/bem-components/blob/v3/common.blocks/popup/_target/popup_target.js#L31

[code]

Expected: `overriden m1 overriden m1_v1`.
Actual result: `initial m1 overriden m1_v1`.

[2016-06-16 22:47] tadatuta commented on #1310
Add notes about `.bem()` argument change with examples for complex cases like https://github.com/bem/bem-components/blob/v3/common.blocks/control/control.js#L121

[2016-06-17 10:36] veged commented on #1374
`B1.declMod({ modName: 'm1' }` is shortcut for `B1.declMod({ modName: 'm1', modVal: true }` and we never have ability to declare wildcard modifier

[2016-06-17 11:13] veged commented on #1374
we change semantic of omitted `modVal` accordingly to `setMod` (if no `modVal` it's short cut for `modVal : true`)

so we need to add support for `B1.declMod({ modName: 'm1', modVal: '*' },` as in `onSetMod`

[2016-06-20 11:53] #1373 closed, assigned to dfilatov

[2016-06-20 12:46] narqo commented on #1310
Don't forget to add changes from #1376 to the migration guide.

[2016-06-20 13:41] tadatuta commented on #1310
Add note about `getDefaultParams` -> `_getDefaultParams` to https://github.com/bem/bem-core/blob/v4/MIGRATION.ru.md#Имена-protected-методов-начинаются-с-_

[2016-06-21 11:14] veged opened #1377 "i-bem-dom: `domElem` -> `_domElem`"
See https://ru.bem.info/forum/1020/

[2016-06-21 11:28] #1374 closed, assigned to dfilatov

[2016-06-21 14:45] narqo commented on #1377
Do we really need this? We also have `this.params` that must be renamed as well.

/cc @dfilatov

[2016-06-21 15:49] veged commented on #1377
I think so — if you started to clean it's hard to stop ;-) we are hostages of consistency

[2016-06-21 17:18] dfilatov commented on #1377
@veged About `params`. You used to say that block params were used to store something that should be available for outside blocks.

[2016-06-21 17:41] veged commented on #1377
sounds possibly — so let's do `domElem` -> `_domElem` first ;-)

[2016-06-21 17:48] narqo commented on #1377
I can't realise why `domElem` must be protected.

We use it as a public property in every block's spec, e.g. `button.domElem.click()` and this is the only way for users to write their own specs. It's totally lame to make people use protected / private properties as a public one just because "we were hostages".

[2016-06-21 17:51] veged commented on #1377
See https://ru.bem.info/forum/1020/ — there is a way to bind DOM-events bypass our API

[2016-06-21 17:57] narqo commented on #1377
I've read the thread but, how the issue solves it. It'd be possible to do it as `this._domElem.on('click')`. I can't catch your point.

[2016-06-21 21:50] veged commented on #1377
when you do `this._domElem.on('click')` you lost "warranty" because of private API

[2016-06-22 08:51] narqo commented on #1377
I really think we've a kind of misunderstanding about what API and warranties are.

1) What the difference from the API point of view in `this._elem()`, `this._emit()` and `this._domElem`. Am I lose any warranties when I use `this._elem()` too?

2) [Almost all `domElem` usage](https://github.com/bem/bem-components/search?&q=domElem) in our own code is in a way `button.domElem.click()`. I don't und

[2016-06-22 08:59] narqo commented on #1377
For me `domElem` is the same kind of API as `setMod` or `findChildElems`. I can do `this.findChildBlocks(Block).findChildElems(BlockElem).setMod('type', 'weird')` and it migth break things, but it's not the case.

This is insane! We **do have tonnes of cases** where we use `domElem` as a public property as it must be available for outside blocks and we want to make it private. But have a **theoret

[2016-06-25 22:45] tadatuta commented on #1310
There are two methods `getName` and `getEntityName` returning the same result (https://github.com/bem/bem-core/blob/v4/common.blocks/i-bem/i-bem.vanilla.js#L485-L499).
Which to use and why?

[2016-06-26 09:08] narqo commented on #1310
`getEntityName` returns full BEM entity name, e.g. `button` or  `Input__clear` in case of elem instance. `getName` returns self name of the entity: `button` and `clear` for the same examples as above.

The former is primary used to build proper CSS class and to distinguish block instance from the elem.

[2016-06-26 22:14] tadatuta commented on #1310
@narqo take a look at the link I provided, the methods are implemented absolutely the same way (`return this._name;`).

[2016-06-26 22:23] narqo commented on #1310
Yes, but `getEntityName()` is overridden in `Elem` class. Check [L541](https://github.com/bem/bem-core/blob/f1fd1bd4fd224012e6fca481699bd4e760da3f53/common.blocks/i-bem/i-bem.vanilla.js#L514-L544).

[2016-06-27 12:31] RumyantsevMichael opened #1380 "Инициализация блока без имени"
bem-core@2.8
Обнаружил вот какую особенность. Если на дом-элемент повесить класс i-bem и в data-bem добавить хеш с параметрами некоего блока, а в список классов имя блока не добавлять, то блок  этот инициализируется и работает, но не ищется другими блоками через `findBlockXXX()`

[2016-06-27 12:47] dfilatov commented on #1380
Инициализируются блоки по data-bem параметрам, а ищутся по css-селекторам.

[2016-06-27 12:47] #1380 closed, assigned to nobody

[2016-07-01 14:06] tadatuta opened #1383 "Prevent block re-initialization after it had been destructed"
E.g. here https://github.com/bem/bem-components/blob/v3/common.blocks/select/select.js#L154-L155 `button` will be already destructed.

[2016-07-06 12:04] veged opened #1385 "i-bem: Document specific about static fields declaration for modifiers"
[code]

[2016-07-07 14:37] veged commented on #1377
ok — "won't fix" for now

[2016-07-07 14:37] #1377 closed, assigned to nobody

[2016-07-07 14:43] tadatuta commented on #1310
Update migration guide about `_elems()` method (remove it from https://github.com/bem/bem-core/blob/v4/MIGRATION.ru.md#Имена-protected-методов-начинаются-с-_) and describe difference about `this.elem()` VS `this.elems().domElem` now.

[2016-07-08 16:37] tadatuta opened #1386 "i-bem-dom: Allow `_domEvents` working with arbitrary jQuery-chain"
Looks like `_domEvents` doesn't work with arbitrary jQuery-chain. But it's needed, see: https://github.com/bem/bem-components/blob/v5/common.blocks/popup/_target/popup_target_anchor.js#L200

[2016-07-12 21:41] 4ok commented on #1322
@veged, I found and fixed 4 places.

[2016-07-13 22:44] veged commented on #1322
where? I see only 2 here https://github.com/bem/bem-core/pull/1327/files

[2016-07-16 23:28] tadatuta commented on #1386
Seems like it was done intentionally and `_domEvents` can only be bind to `window`, `document` or block instances: https://github.com/bem/bem-core/blob/v4/common.blocks/i-bem-dom/__events/i-bem-dom__events.js#L272

So what's the way to bind to arbitrary DOM node?

BTW, why an error is thrown only for jquery chain with just one element?

[2016-07-20 11:41] veged commented on #1386
Originally we were going to disallow bind to arbitrary jQuery-chain for prevent direct DOM-binds to internals of other entities (like `this._domEvents(otherBlock.domElem).on(...)`). But since we can manage unbinds properly and cases like [`popup_target_anchor`](https://github.com/bem/bem-components/blob/v5/common.blocks/popup/_target/popup_target_anchor.js#L200) we have decided to make it possible

[2016-07-22 12:01] #1383 closed, assigned to narqo

[2016-07-22 12:02] veged commented on #1371
@tadatuta make PR, pls

[2016-07-22 12:08] veged commented on #1322
@4ok ping ;-)

[2016-07-22 12:11] veged commented on #1371
and do not forget to check with bem-components

[2016-07-22 23:07] #1386 closed, assigned to veged

[2016-07-23 14:20] tadatuta commented on #1371
Waiting for https://nda.ya.ru/3RmTP4

[2016-07-26 07:31] belozer opened #1392 "_emit('event', 'data') _events().on('event', cb) bug?"
Всем привет. Ней пойму, баг ли это.
Как правильно передать данные по событию?

Делаю подписку

`this._events().on('submit', function(data) { console.log('form', data) });`

делаю в блоке _emit

`this._emit('submit', 'data test');`

И вот результат из браузера
![2016-07-26 10-07-45](https://cloud.githubusercontent.com/assets/1655916/17129480/0e048d54-531c-11e6-8630-c5c59712e6d8.png)

[2016-07-26 07:32] dfilatov commented on #1392
[code]

[2016-07-26 07:37] belozer commented on #1392
@dfilatov спасибо! Всё получилось. Закрываю issue.

[2016-07-26 07:37] #1392 closed, assigned to nobody

[2016-07-26 20:18] 4ok commented on #1322
@veged

Closed — https://github.com/bem/bem-core/pull/1327/files
Actual — https://github.com/bem/bem-core/pull/1387/files

[2016-07-29 13:18] veged commented on #1322
@4ok thank you!

[2016-07-31 20:41] tadatuta opened #1395 "page: Use must-dependency on i-bem-dom__init_auto"
Otherwise code in `page.js` won't be called on page load.

[2016-08-06 08:57] a-x- opened #1398 "Слишком мало звёздочек"

[2016-08-06 09:04] #1398 closed, assigned to nobody

[2016-08-06 09:08] a-x- commented on #1398
moved into chat

[2016-08-10 10:52] h4 opened #1402 "toggleMod doesn't work if modVal is Number"
From bem/bem-forum-content-ru#1093

[2016-08-10 13:47] dfilatov commented on #1402
Насколько я вижу, `modVal` допускается только String или Boolean.

https://github.com/bem/bem-core/blob/v4/common.blocks/i-bem/i-bem.vanilla.js#L279

[2016-08-10 22:34] veged commented on #1402
я как-то посмотрел по коду и там везде https://github.com/bem/bem-core/blob/v4/common.blocks/i-bem/i-bem.vanilla.js#L289 https://github.com/bem/bem-core/blob/v4/common.blocks/i-bem/i-bem.vanilla.js#L258 приведение к строке — не понимаю, почему оно не работает (вроде ничего не мешает разрешить и Number)

[2016-08-10 23:30] qfox commented on #1402
Наверное, дело в этом: https://github.com/bem/bem-core/blob/v4/common.blocks/i-bem/i-bem.vanilla.js#L366
Именно здесь сравнивается число и строка и работает не так, как хотелось бы.

[2016-08-18 08:30] aristov commented on #1310
This works in older versions:

[code]

but doesn't work in `v4`. Works only with asteriks:

[code]

[2016-08-18 08:31] dfilatov commented on #1310
@aristov see #1374

[2016-08-29 23:36] qfox opened #1403 "Why there is the difference between mod vals '*' and true?"
What's the point of differentiating `modVal: '*'` and `modVal: true`?

Boolean modifiers has no any values except `true` value.
Non-boolean modifiers don't need `true` value (only string values).

Are there any real life cases when we need `true` and string-typed values for the same modifier?

[2016-08-30 05:48] narqo commented on #1403
I'm not sure I caught the point. Do you mean we should cast string `'true'` to Boolean `true`?

[2016-08-30 15:33] qfox commented on #1403
No, I mean we don't need special `'*'` value because there are no modifiers with combined `true` and `'normal'` values.

[2016-08-30 16:10] narqo commented on #1403
We use `*` in event handlers

[code]

It matches the empty value, e.g. `modVal : ''` as well.

Could you be more specific, in what cases do you think it's redundant?

[2016-08-31 10:22] qfox commented on #1403
Sorry, my mistake.

[2016-08-31 10:22] #1403 closed, assigned to nobody

[2016-09-02 22:00] tadatuta opened #1405 "lazyInit on _js_inited works wrong"
Actually I don't understand what's going on but in `checkbox` code based on `bem-core@v3` there is a line https://github.com/bem/bem-components/blob/v3/common.blocks/radio/_type/radio_type_button.js#L37 which I ported to `bem-core@v4` as https://github.com/bem/bem-components/blob/v5/common.blocks/radio/_type/radio_type_button.js#L39

As a result in `radio-group` the `checkbox` which was checked fi

[2016-09-05 13:17] tadatuta opened #1406 "BEMHTML: Support escaped mode"
In `.enb/make.js` for BEMHTML:

[code]

It fails at least for doctype in `page` template.

[2016-09-05 14:29] qfox commented on #1406
You should check for html-entities (and replace them with utf-8 characters in common), BEMHTML.reapply & BH.apply & manually written scripts in ua block (replace with `{tag: false, html: ...}`). Maybe something more.